/*=============== BASE ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

a{
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;

  --h1-font-size: 2rem;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px){
  .login{
    justify-content: center;

    &__form{
      width: 420px;
      padding-inline: 2.5rem;
    }
    &__title{
      margin-bottom: 2rem;
    }
  }
}

.login{
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;

  &__bg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__form{
    position: relative;
    margin-inline: 1.5rem;
    background-color: hsla(0, 0%, 100%, .01);
    border: 2px solid hsla(0, 0%, 100%, .7);
    padding: 2.5rem 1rem;
    color: var(--white-color);
    border-radius: 1rem;
    backdrop-filter: blur(16px);
    text-align: center;
  }
  &__title{
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: 1.25rem;
  }
  //&__inputs,
  &__box{
    display: grid;
  }
  //&__inputs{
  //  row-gap: 1.25rem;
  //  margin-bottom: 1rem;
  //}
  &__box{
    grid-template-columns: 1fr max-content;
    column-gap: .75rem;
    align-items: center;
    border: 2px solid hsla(0, 0%, 100%, .7);
    padding-inline: 1.25rem;
    border-radius: 4rem;
  }
  //&__input,
  &__button{
    border: none;
    outline: none;
  }
  //&__input{
  //  width: 100%;
  //  background: none;
  //  color: var(--white-color);
  //  padding-block: 1rem;
  //
  //  &::placeholder{
  //    color: var(--white-color);
  //  }
  //}
  &__box i{
    font-size: 1.25rem;
  }
  &__check,
  &__check-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__check{
    margin-bottom: 1rem;
    font-size: var(--small-font-size);

    &-box{
      column-gap: .5rem;
    }
  }
  &__forgot{
    color: var(--white-color);

    &:hover{
      text-decoration: underline;
    }
  }

  &__register{
    font-size: var(--small-font-size);
    text-align: center;

    & a{
      color: var(--white-color);
      font-weight: 500;

      &:hover{
        text-decoration: underline;
      }
    }
  }

  .logo-domain{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-logo{
    height: 85px;
  }

  .login-input{
    position: relative;
    input{
      height: 2.5rem;
      border: 0;
      font-size: 1.3rem;
      color: white;
      background: transparent;
      padding: 0 5px;
      margin-bottom: 3rem;
      &::placeholder {
        color: transparent;
      }
      &.active{
        border-width: 5px;
        border-image-slice: 1;
        border-bottom: 1px solid ;
        border-image-source:linear-gradient(to right,#cbcecf,#b9bad3);
      }
    }
    span.input-icon{
      position: absolute;
      top: 11px;
      right: 5px;
      color: white;
      font-size: 16px;
    }
  }

  .form__label{
    position: absolute;
    top: 4px;
    left: 5px;
    display: block;
    transition: 0.2s;
    font-size: 1.3rem;
    color: white;
    &.active{
      top: -2rem;
      font-size: 1rem;
    }
  }

  .form-btn{
    text-align: center;
    width: 80%;
    padding: 0.5rem;
    font-size: 1.3rem;
    outline: none;
    border: none;
    background-color: white;
    color: black;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
    &:hover{
      box-shadow: 0px 15px 36px rgba(0,0,0,.15);
    }
  }

  .text-danger{
    color: red;
    position: absolute;
    bottom:1.5rem;
    right: 5px;
    font-style: italic;
  }

  .forgot-password{
    cursor: pointer;
    margin-top: 10px;
    color: white;
  }
}
