<div class="login">
  <img src="assets/img/login-bg.png" alt="image" class="login__bg">
  <form class="login__form" [formGroup]="loginForm">
    <div class="logo-domain">
      <ng-container *ngIf="logoDomain;else logoDefault">
        <img class="text-logo" [src]="logoDomain" alt="logo" >
      </ng-container>
    </div>

    <div class="login-input">
      <label for="user" class="form__label" [class.active]="loginForm.value?.email">Email</label>
      <span class="input-icon" nz-icon nzType="mail" nzTheme="outline"></span>

      <span class="text-danger"
        *ngIf="(loginForm.get('email')?.touched || isSubmit) &&
                loginForm.get('email')?.hasError('required')">
              Email không được để trống!
      </span>
      <span class="text-danger"
            *ngIf="(loginForm.get('email')?.touched || isSubmit) &&
                loginForm.get('email')?.hasError('email')">
            Email không đúng định dạng!
      </span>

      <input id="user" nz-input placeholder="Email"
             [class.active]="loginForm.value?.email"
             formControlName="email" autofocus
             [nzStatus]="(loginForm.get('email')?.invalid &&
                         (loginForm.get('email')?.touched || isSubmit)) ? 'error' : ''">
    </div>

    <div class="login-input">
      <label for="password" class="form__label" [class.active]="loginForm.value?.password">Mật khẩu</label>
      <span class="input-icon" nz-icon (click)="changPasswordVisible()" style="cursor: pointer; z-index: 1"
            [nzType]="isPasswordVisible? 'eye' : 'eye-invisible'" nzTheme="outline"></span>

      <span class="text-danger"
            *ngIf="(loginForm.get('password')?.touched || isSubmit) &&
                    loginForm.get('password')?.hasError('required')">
            Mật khẩu không được để trống!
      </span>
      <input id="password" nz-input placeholder="Mật khẩu"
             formControlName="password" [type]="isPasswordVisible? 'text' : 'password'"
             [class.active]="loginForm.value?.password">
    </div>

    <button class="form-btn" (click)="login()">Đăng nhập</button>
    <p class="forgot-password">Quên mật khẩu?</p>
  </form>
</div>

<ng-template #logoDefault>
  <img class="text-logo" src="assets/img/text-logo.svg">
</ng-template>
