<div class="title-page">
  <span *ngIf="isCreate">
    {{'add_new'|translate}}
  </span>
  <span *ngIf="!isCreate">
    {{'modify'|translate}}
  </span>
  <span>
    {{'contest'|translate}}
  </span>
</div>

<div nz-row>
  <div nz-col [nzSpan]="20">
    <form [formGroup]="loyaltyForm">
      <div nz-row [nzGutter]=[16,16]>
        <div nz-col [nzSpan]="8">
          <span class="text-label">
            {{'contest_name' | translate}}
            <span class="text-danger">*</span>
          </span>
          <input nz-input autofocus formControlName="loyaltyName"
            [nzStatus]="(loyaltyForm.get('loyaltyName')?.invalid && (loyaltyForm.get('loyaltyName')?.touched || isSubmit)) ? 'error' : ''">

          <span class="text-danger"
            *ngIf="(loyaltyForm.get('loyaltyName')?.touched || isSubmit)  && loyaltyForm.get('loyaltyName')?.hasError('required')">
            {{'contest_name' | translate}} {{'cannot_blank' | translate}}
          </span>
        </div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            {{ 'course_code' | translate }}
            <span class="text-danger">*</span>
          </span>

          <div>
            <nz-select style="display: block" formControlName="courseCode"
              [nzStatus]="(loyaltyForm.get('courseCode')?.invalid && (loyaltyForm.get('courseCode')?.touched || isSubmit)) ? 'error' : ''">
              <nz-option *ngFor="let course of listCourse" [nzValue]="course.courseCode" [nzLabel]="course.title">
              </nz-option>
            </nz-select>
          </div>

          <span class="text-danger"
            *ngIf="(loyaltyForm.get('courseCode')?.touched || isSubmit) && loyaltyForm.get('courseCode')?.hasError('required')">
            {{ 'course_code' | translate }} {{'cannot_blank' | translate}}
          </span>
        </div>

        <div nz-col [nzSpan]="8">
          <div class="text-label">{{ 'status' | translate }}</div>
          <nz-switch formControlName="isActive">
          </nz-switch>
        </div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            {{'duration' | translate}}
            <span class="text-danger">*</span>
          </span>

          <nz-range-picker style="width: 100%" [nzShowTime]="true"
            [nzStatus]="(loyaltyForm.get('date')?.invalid && (loyaltyForm.get('date')?.touched || isSubmit)) ? 'error' : ''"
            formControlName="date" nzFormat="dd/MM/YYYY HH:mm:ss"></nz-range-picker>

          <span class="text-danger"
            *ngIf="(loyaltyForm.get('date')?.touched || isSubmit)  && loyaltyForm.get('date')?.hasError('required')">
            {{'duration' | translate}} {{'cannot_blank' | translate}}
          </span>
        </div>


      </div>
    </form>
  </div>

  <div nz-col [nzSpan]="4">
    <div class="btn-panel">
      <button class="btn primary" nz-button (click)="edit()">
        <span *ngIf="isCreate">
          {{'add_new'|translate}}
        </span>
        <span *ngIf="!isCreate">
          {{'save'|translate}}
        </span>
      </button>
      <button class="btn" nz-button (click)="navigateBack()">
        {{'cancel'|translate}}
      </button>
    </div>
  </div>
</div>