<div class="title-page">
  {{isCreate? 'Tạo mới cuộc thi' : 'Chỉnh sửa cuộc thi'}}
</div>

<div nz-row>
  <div nz-col [nzSpan]="20">
    <form [formGroup]="loyaltyForm">
      <div nz-row [nzGutter]=[16,16]>
        <div nz-col [nzSpan]="8">
          <span class="text-label">
            Tên cuộc thi
            <span class="text-danger">*</span>
          </span>
          <input
            nz-input autofocus formControlName="loyaltyName"
            [nzStatus]="(loyaltyForm.get('loyaltyName')?.invalid && (loyaltyForm.get('loyaltyName')?.touched || isSubmit)) ? 'error' : ''">

          <span class="text-danger"
                *ngIf="(loyaltyForm.get('loyaltyName')?.touched || isSubmit)  && loyaltyForm.get('loyaltyName')?.hasError('required')"
          >
            Tên cuộc thi không được để trống
          </span>
        </div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            Mã khóa học
            <span class="text-danger">*</span>
          </span>

          <div>
            <nz-select style="display: block"
              formControlName="courseCode"
              [nzStatus]="(loyaltyForm.get('courseCode')?.invalid && (loyaltyForm.get('courseCode')?.touched || isSubmit)) ? 'error' : ''"
            >
              <nz-option
                *ngFor="let course of listCourse"
                [nzValue]="course.id"
                [nzLabel]="course.courseCode"
              >
              </nz-option>
            </nz-select>
          </div>

          <span class="text-danger"
                *ngIf="(loyaltyForm.get('courseCode')?.touched || isSubmit) && loyaltyForm.get('courseCode')?.hasError('required')"
          >
            Mã khóa học không được để trống
          </span>
        </div>

        <div nz-col [nzSpan]="8" >
          <div class="text-label">Trạng thái</div>
          <nz-switch formControlName="isActive">
          </nz-switch>
        </div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            Thời lượng
            <span class="text-danger">*</span>
          </span>

          <nz-range-picker
            style="width: 100%"
            [nzStatus]="(loyaltyForm.get('date')?.invalid && (loyaltyForm.get('date')?.touched || isSubmit)) ? 'error' : ''"
            formControlName="date"
            nzFormat="dd/MM/YYYY"
          ></nz-range-picker>

          <span class="text-danger"
                *ngIf="(loyaltyForm.get('date')?.touched || isSubmit)  && loyaltyForm.get('date')?.hasError('required')">
            Thời lượng không được để trống
          </span>
        </div>


      </div>
    </form>
  </div>

  <div nz-col [nzSpan]="4">
    <div class="btn-panel">
      <button class="btn primary" nz-button (click)="edit()">
        {{isCreate? 'Tạo mới' : 'Lưu'}}
      </button>
      <button class="btn" nz-button (click)="navigateBack()">Hủy</button>
    </div>
  </div>
</div>
