<div class="title-page">
  {{ 'contact_requests' | translate }}
</div>

<div class="header-btn">
  <ng-container *ngIf="(guests$ | async) as guests">
    <app-table
      [rows]="guests.rows"
      [page]="guests.page"
      [pageSize]="guests.pageSize"
      [pageTotal]="guests.rowTotal"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column header="{{ 'no' | translate }}" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="{{ 'created_at' | translate }}" key="createdDate" [dataType]="COL_DATA_TYPE.DATE" [width]="'150px'"></table-column>
      <table-column header="{{ 'full_name' | translate }}" key="fullName" [width]="'200px'"></table-column>
      <table-column header="{{ 'phone_number' | translate }}" key="phoneNumber" [width]="'120px'"></table-column>
      <table-column header="Email" key="email" [width]="'200px'"></table-column>
      <table-column header="{{ 'request_demand' | translate }}" key="demand" [width]="'200px'"></table-column>
      <!-- <table-column header="Người liên hệ" key="" [width]="'180px'"></table-column> -->
      <table-column header="{{'receiver' | translate}}" key="" [width]="'180px'"></table-column>
      <table-column header="{{ 'organization' | translate }}" key="organizationName" [width]="'200px'"></table-column>
      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          {{ 'actions' | translate }}
        </ng-template>

        <ng-template appCell let-data>
<!--          <span class="custom-action" (click)="edit(data)"-->
<!--                nz-tooltip nzTooltipTitle="Chỉnh sửa thông tin khách hàng">-->
<!--            <span nz-icon nzType="edit" nzTheme="outline" class="custom-icon"></span>-->
<!--          </span>-->
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>

