<div class="title-page">
  Danh sách yêu cầu nâng hạng
</div>

<div class="header-btn">
  <ng-container *ngIf="(requestUpgrade$ | async) as request">
    <app-table
      [rows]="request.rows"
      [page]="request.page"
      [pageSize]="request.pageSize"
      [pageTotal]="request.rowTotal"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column header="STT" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="Ngày tạo" key="createdDate" [dataType]="COL_DATA_TYPE.DATE" [width]="'180px'"></table-column>
      <table-column header="Mã đơn hàng" key="code" [width]="'180px'"></table-column>
      <table-column header="Tên học viên" key="fullName" [width]="'180px'"></table-column>
      <table-column header="Mã học viên" key="codeUser" [width]="'180px'"></table-column>
      <table-column header="Số điện thoại" key="phoneNumber" [width]="'180px'"></table-column>
      <table-column header="Nguời giới thiệu" key="userReferralName" [width]="'180px'"></table-column>
      <table-column header="Số tiền" key="price" [width]="'180px'">
        <ng-template appCell let-data>
          {{data.price | currency: 'VND'}}
        </ng-template>
      </table-column>
      <table-column header="Thời hạn gói" key="priceMemberPolicyType" [width]="'180px'">
        <ng-template appCell let-data>
          <span *ngIf="data.priceMemberPolicyType === 1">Gói một tháng</span>
          <span *ngIf="data.priceMemberPolicyType === 2">Gói 3 tháng</span>
          <span *ngIf="data.priceMemberPolicyType === 3">Gói 1 năm</span>
          <span *ngIf="data.priceMemberPolicyType === 4">Gói vĩnh viễn</span>
        </ng-template>
      </table-column>
      <table-column header="Hạng thành viên" key="memberPolicyLevelName" [width]="'180px'"></table-column>
      <table-column header="Phương thức thanh toán" key="paymentMethod" [width]="'200px'">
        <ng-template appCell let-data>
          <span *ngIf="data.paymentMethod === 1">Thanh toán điểm</span>
          <span *ngIf="data.paymentMethod === 2">Thanh toán VnPay</span>
          <span *ngIf="data.paymentMethod === 3">Chuyển khoản</span>
        </ng-template>
      </table-column>
      <table-column header="Trạng thái thanh toán" key="paymentStatus" [width]="'180px'">
        <ng-template appCell let-data>
          <span *ngIf="data.paymentStatus === 0">Chưa thanh toán</span>
          <span *ngIf="data.paymentStatus === 1">Đã thanh toán</span>
          <span *ngIf="data.paymentStatus === 2">Lỗi thanh toán</span>
          <span *ngIf="data.paymentStatus === 3">Huỷ thanh toán</span>
        </ng-template>
      </table-column>
      <table-column header="Nhân viên chăm sóc" key="caregiverName" [width]="'180px'"></table-column>
      <table-column header="Tổ chức" key="organizationName" [width]="'180px'"></table-column>
<!--      <table-column [width]="'180px'" fixColumn="right" >-->
<!--        <ng-template appHeader>-->
<!--          Chức năng-->
<!--        </ng-template>-->

<!--        <ng-template appCell let-data>-->
<!--          <span class="custom-action" (click)="edit(data)"-->
<!--                nz-tooltip nzTooltipTitle="Chỉnh sửa chính sách">-->
<!--            <span nz-icon nzType="edit" nzTheme="outline" class="custom-icon"></span>-->
<!--          </span>-->

<!--          <span class="custom-action delete" (click)="delete(data)"-->
<!--                nz-tooltip nzTooltipTitle="Xoá chính sách">-->
<!--            <span nz-icon nzType="delete" nzTheme="outline" class="custom-icon"></span>-->
<!--          </span>-->
<!--        </ng-template>-->
<!--      </table-column>-->
    </app-table>
  </ng-container>
</div>
