<div class="title-page">
  {{ 'membership_tiers' | translate }}
</div>

<div class="header-btn">
  <ng-container *ngIf="(membership$ | async) as policy">
    <button nz-button class="add-btn primary" (click)="create()">{{ 'add_new' | translate }}</button>

    <app-table
      [rows]="policy.rows"
      [page]="policy.page"
      [pageSize]="policy.pageSize"
      [pageTotal]="policy.rowTotal"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column header="{{ 'no' | translate }}" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="{{ 'badge' | translate }}" key="icon" [width]="'200px'">
        <ng-template appCell let-data>
          <img class="icon-membership" [src]="data.icon">
        </ng-template>
      </table-column>
      <table-column header="{{ 'tier_name' | translate}}" key="name" [width]="'200px'"></table-column>
      <table-column header="{{'level' | translate}}" key="level" [width]="'200px'"></table-column>
      <table-column header="{{'monthly_price' | translate}}" key="priceMonth" [width]="'200px'">
        <ng-template appCell let-data>
          {{data.priceMonth | currency: 'VND'}}
        </ng-template>
      </table-column>
      <table-column header="{{'quarterly_price' | translate}}" key="price3Month" [width]="'200px'">
        <ng-template appCell let-data>
          {{data.price3Month | currency: 'VND'}}
        </ng-template>
      </table-column>
      <table-column header="{{'yearly_price' | translate}}" key="priceYear" [width]="'200px'">
        <ng-template appCell let-data>
          {{data.priceYear | currency: 'VND'}}
        </ng-template>
      </table-column>
      <table-column header="{{'lifetime_price' | translate}}" key="priceForever" [width]="'200px'">
        <ng-template appCell let-data>
          {{data.priceForever | currency: 'VND'}}
        </ng-template>
      </table-column>
      <table-column header="{{'direct_commission' | translate}}" key="referrerReward" [width]="'200px'">
        <ng-template appCell let-data>
          {{data.referrerReward + ' %'}}
        </ng-template>
      </table-column>
      <table-column header="{{'indirect_commission' | translate}}" key="referrerReward2" [width]="'200px'">
        <ng-template appCell let-data>
          {{data.referrerReward2 + ' %'}}
        </ng-template>
      </table-column>
      <table-column header="{{ 'status' | translate }}" key="status" [width]="'180px'">
        <ng-template appCell let-data>
          <span class="text-valid" *ngIf="data.status">Kích hoạt</span>
          <span class="text-invalid" *ngIf="!data.status">Tạm dừng</span>
        </ng-template>
      </table-column>
      <table-column header="{{ 'organization' | translate }}" key="organizationName" [width]="'150px'"></table-column>
      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          {{ 'actions' | translate }}
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="edit(data)"
                nz-tooltip nzTooltipTitle="{{'edit' | translate}}">
            <span nz-icon nzType="edit" nzTheme="outline" class="custom-icon"></span>
          </span>

          <span class="custom-action" (click)="editOptionalCourse(data)"
                nz-tooltip nzTooltipTitle="{{'optional_course_settings' | translate}}">
            <span nz-icon nzType="book" nzTheme="outline" class="custom-icon"></span>
          </span>

          <span class="custom-action delete" (click)="delete(data)"
                nz-tooltip nzTooltipTitle="{{'remove' | translate}}">
            <span nz-icon nzType="delete" nzTheme="outline" class="custom-icon"></span>
          </span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>

