<div class="title-page">
  Danh sách hạng thành viên
</div>

<div class="header-btn">
  <ng-container *ngIf="(membership$ | async) as policy">
    <button nz-button class="add-btn primary" (click)="create()">Thêm mới</button>

    <app-table
      [rows]="policy.rows"
      [page]="policy.page"
      [pageSize]="policy.pageSize"
      [pageTotal]="policy.rowTotal"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column header="STT" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="Huy hiệu" key="icon" [width]="'200px'">
        <ng-template appCell let-data>
          <img class="icon-membership" [src]="data.icon">
        </ng-template>
      </table-column>
      <table-column header="Tên hạng" key="name" [width]="'200px'"></table-column>
      <table-column header="Thứ hạng" key="level" [width]="'200px'"></table-column>
      <table-column header="Giá một tháng" key="priceMonth" [width]="'200px'">
        <ng-template appCell let-data>
          {{data.priceMonth | currency: 'VND'}}
        </ng-template>
      </table-column>
      <table-column header="Giá 3 tháng" key="price3Month" [width]="'200px'">
        <ng-template appCell let-data>
          {{data.price3Month | currency: 'VND'}}
        </ng-template>
      </table-column>
      <table-column header="Giá một năm" key="priceYear" [width]="'200px'">
        <ng-template appCell let-data>
          {{data.priceYear | currency: 'VND'}}
        </ng-template>
      </table-column>
      <table-column header="Giá vĩnh viễn" key="priceForever" [width]="'200px'">
        <ng-template appCell let-data>
          {{data.priceForever | currency: 'VND'}}
        </ng-template>
      </table-column>
      <table-column header="Hoa hồng trực tiếp" key="referrerReward" [width]="'200px'">
        <ng-template appCell let-data>
          {{data.referrerReward + ' %'}}
        </ng-template>
      </table-column>
      <table-column header="Hoa hồng gián tiếp" key="referrerReward2" [width]="'200px'">
        <ng-template appCell let-data>
          {{data.referrerReward2 + ' %'}}
        </ng-template>
      </table-column>
      <table-column header="Trạng thái" key="status" [width]="'180px'">
        <ng-template appCell let-data>
          <span class="text-valid" *ngIf="data.status">Kích hoạt</span>
          <span class="text-invalid" *ngIf="!data.status">Tạm dừng</span>
        </ng-template>
      </table-column>
      <table-column header="Thuộc tổ chức" key="organizationName" [width]="'150px'"></table-column>
      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          Chức năng
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="edit(data)"
                nz-tooltip nzTooltipTitle="Chỉnh sửa chính sách">
            <span nz-icon nzType="edit" nzTheme="outline" class="custom-icon"></span>
          </span>

          <span class="custom-action" (click)="editOptionalCourse(data)"
                nz-tooltip nzTooltipTitle="Thiết lập khóa học tùy chọn">
            <span nz-icon nzType="book" nzTheme="outline" class="custom-icon"></span>
          </span>

          <span class="custom-action delete" (click)="delete(data)"
                nz-tooltip nzTooltipTitle="Xoá chính sách">
            <span nz-icon nzType="delete" nzTheme="outline" class="custom-icon"></span>
          </span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>

