<div class="title-page">
  {{'modify'|translate}}
  {{'membership_settings' | translate}}
</div>

<div nz-row>
  <div nz-col [nzSpan]="20">
    <form [formGroup]="membershipConfigForm">
      <div nz-row [nzGutter]=[16,16]>
        <div nz-col [nzSpan]="4">
          <label nz-checkbox formControlName="isShowPriceMonth">
            {{'show_price_in_1_month' | translate}}
          </label>
        </div>

        <div nz-col [nzSpan]="4">
          <label nz-checkbox formControlName="isShowPrice3Month">
            {{'show_price_in_3_months' | translate}}
          </label>
        </div>

        <div nz-col [nzSpan]="4">
          <label nz-checkbox formControlName="isShowPriceYear">
            {{'show_price_in_1_year' | translate}}
          </label>
        </div>

        <div nz-col [nzSpan]="4">
          <label nz-checkbox formControlName="isShowPriceForever">
            {{'show_price_in_lifetime' | translate}}
          </label>
        </div>

        <div nz-col [nzSpan]="8"></div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            {{'max_inactivity_days' | translate}}
          </span>

          <nz-input-number formControlName="numberDaysInactivity" [nzMin]="0" [nzStep]="1"></nz-input-number>
        </div>

        <div nz-col [nzSpan]="16"></div>

        <div nz-col [nzSpan]="16">
          <span class="text-label">
            {{'description' | translate}}
          </span>

          <textarea formControlName="description" nz-input [nzAutosize]="{ minRows: 3 }"></textarea>
        </div>

        <div nz-col [nzSpan]="8"></div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            {{'commission_method' | translate}}
            <span class="text-danger">*</span>
          </span>

          <nz-select style="display: block;" formControlName="referralPointType" [nzStatus]="(membershipConfigForm.get('referralPointType')?.invalid &&
                                 (membershipConfigForm.get('referralPointType')?.touched || isSubmit)) ?
                                 'error' : ''">
            <nz-option [nzValue]="1" [nzLabel]="'by_referrer' | translate "></nz-option>
            <nz-option [nzValue]="2" [nzLabel]="'by_referred_person' | translate"></nz-option>
          </nz-select>

          <span class="text-danger" *ngIf="(membershipConfigForm.get('referralPointTypeL')?.touched || isSubmit) &&
                    membershipConfigForm.get('referralPointTypeL')?.hasError('required')">
            {{'commission_method' | translate}} {{'cannot_blank' | translate}}
          </span>
        </div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            {{'upgrade_package_discount' | translate}}
            <span class="text-danger">*</span>
          </span>

          <nz-select style="display: block;" formControlName="discountUpgradeType" [nzStatus]="(membershipConfigForm.get('discountUpgradeType')?.invalid &&
                                 (membershipConfigForm.get('discountUpgradeType')?.touched || isSubmit)) ?
                                 'error' : ''">
            <nz-option [nzValue]="1" [nzLabel]="'undiscount' | translate"></nz-option>
            <nz-option [nzValue]="2" [nzLabel]="'has_discount' | translate"></nz-option>
          </nz-select>

          <span class="text-danger" *ngIf="(membershipConfigForm.get('discountUpgradeType')?.touched || isSubmit) &&
                    membershipConfigForm.get('discountUpgradeType')?.hasError('required')">
            {{'upgrade_package_discount' | translate}} {{'cannot_blank' | translate}}
          </span>
        </div>

        <div nz-col [nzSpan]="24">
          <div class="text-label">
            {{'kpi_commissions' | translate}}
          </div>

          <button nz-button nzType="primary" nz-tooltip nzTooltipTitle="{{'add_level'}}" style="margin-right: 5px" class="add-gb-btn" (click)="addBonus()">
            <span nz-icon nzType="plus"></span>
          </button>

          <nz-table class="benefit-table" [nzData]="listBonus" [nzFrontPagination]="false" [nzTemplateMode]="listBonus.length > 0">
            <thead>
              <tr>
                <th nzAlign="center" nzWidth="10%">
                  {{'level' | translate}} <!-- Mức -->
                </th>
                <th nzWidth="30%">
                  {{'order_count' | translate}}
                </th>
                <th nzWidth="30%">% {{'commission_rate' | translate}}</th>
                <th nzWidth="10%"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let bonus of listBonus; index as i">
                <tr>
                  <td nzAlign="center">{{'level' | translate}} {{i+1}}</td>
                  <td nzAlign="center">
                    <nz-input-number [nzMin]="1" [nzStep]="1" nzBorderless [(ngModel)]="bonus.commissionPercentage" [ngModelOptions]="{standalone: true}"></nz-input-number>
                  </td>
                  <td nzAlign="center">
                    <nz-input-number [nzMin]="1" [nzStep]="1" nzBorderless [(ngModel)]="bonus.countTransaction" [ngModelOptions]="{standalone: true}"></nz-input-number>
                  </td>
                  <td nzAlign="center">
                    <button nz-button nz-tooltip nzTooltipTitle="{{'remove' | translate}}" class="delete-btn" (click)="removeBonus(i)">
                      <span nz-icon nzType="delete"></span>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </nz-table>
        </div>

        <div nz-col [nzSpan]="24">
          <div class="text-label">
            {{'perks' | translate}}
          </div>

          <button nz-button nzType="primary" (click)="addGroupBenefit()" class="add-gb-btn">
            {{'add_perk_group' | translate}}
          </button>

          <nz-table class="benefit-table" [nzData]="benefitList" [nzFrontPagination]="false" [nzTemplateMode]="benefitList.length > 0">
            <thead>
              <tr>
                <th nzAlign="center" nzWidth="50%">
                  {{'your_perks' | translate}}
                </th>
                <th nzAlign="center" *ngFor="let policy of policyList">{{ policy.name }}</th>
                <th nzWidth="10%"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let benefitObj of benefitList; index as i">
                <tr style="background: #E6E4ED">
                  <td>
                    <input nz-input class="group-name" placeholder="{{ 'perk_group' | translate }}" [(ngModel)]="benefitObj.name" [ngModelOptions]="{standalone: true}">
                  </td>
                  <td nzAlign="center" *ngFor="let policy of policyList"></td>
                  <td nzAlign="center">
                    <button nz-button nzType="primary" nz-tooltip nzTooltipTitle="{{ 'add' | translate}} {{ 'perk' | translate}}" (click)="addBenefit(benefitObj.benefits, i)" style="margin-right: 5px">
                      <span nz-icon nzType="plus"></span>
                    </button>
                    <button nz-button nz-tooltip nzTooltipTitle="{{ 'remove' | translate }} {{'perk_group' | translate}}" (click)="removeGroupBenefit(i)" style="margin-left: 5px" class="delete-btn">
                      <span nz-icon nzType="delete"></span>
                    </button>
                  </td>
                </tr>
                <tr *ngFor="let benefit of benefitObj.benefits; index as iB" class="editable-row">
                  <td>
                    <div class="editable-cell" [hidden]="editId === benefit.id" (click)="startEdit(benefit.id)">
                      {{ benefit.title }}
                    </div>
                    <textarea nz-input [(ngModel)]="benefit.title" [ngModelOptions]="{standalone: true}" [hidden]="editId !== benefit.id" type="text" (blur)="stopEdit()" placeholder="Tên quyền lợi"></textarea>
                  </td>

                  <td nzAlign="center" *ngFor="let policy of policyList">
                    <input type="checkbox" (click)="onChecked(policy.id, benefit.memberPolicyIds)" [checked]="updateSingleChecked(policy.id, benefit.memberPolicyIds)">
                  </td>

                  <td nzAlign="center">
                    <button nz-button nz-tooltip nzTooltipTitle="{{ 'remove' | translate }} {{'perk' | translate}}" (click)="removeBenefit(i, iB)" class="delete-btn">
                      <span nz-icon nzType="delete"></span>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </nz-table>
        </div>
      </div>
    </form>
  </div>
  <div nz-col [nzSpan]="4">
    <div class="btn-panel">
      <button class="btn primary" nz-button [nzLoading]="loading" (click)="edit()">
        {{'save'|translate}}
      </button>
      <button class="btn" nz-button (click)="navigateBack()">
        {{'cancel'|translate}}
      </button>
    </div>
  </div>
</div>