<div class="title-page">
  {{'forum_settings' | translate}}
</div>

<div nz-row>
  <div nz-col [nzSpan]="20">
    <form [formGroup]="forumConfigForm">
      <div nz-row [nzGutter]=[16,16]>
        <div nz-col [nzSpan]="8">
          <div class="d-flex justify-content-between align-items-center">
          <span class="text-label">
            {{ 'forum_name' | translate }}
            <span class="text-danger">*</span>
          </span>
          <span nzTooltipTitle="{{'guide_forum_name' | translate}}" nzTooltipPlacement="top" nz-tooltip nz-icon nzType="question-circle" nzTheme="outline"></span>
          </div>
          <input nz-input autofocus formControlName="name"
                 [nzStatus]="(forumConfigForm.get('name')?.invalid &&
                             (forumConfigForm.get('name')?.touched || isSubmit)) ? 'error' : ''">

          <span class="text-danger"
                *ngIf="(forumConfigForm.get('name')?.touched || isSubmit)  &&
                        forumConfigForm.get('name')?.hasError('required')"
          >{{'forum_name' | translate }} {{'cannot_blank' | translate}}!</span>
        </div>

        <div nz-col [nzSpan]="8">
          <div class="d-flex align-items-center">
          <div class="text-label" style="margin-right:.5rem">{{ 'status' | translate }}</div>
          <span nzTooltipTitle="{{'guide_forum_status' | translate}}" nzTooltipPlacement="top" nz-tooltip nz-icon nzType="question-circle" nzTheme="outline"></span>
          </div>
          <nz-switch formControlName="status">
          </nz-switch>
        </div>

        <div nz-col [nzSpan]="8"></div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            {{'logo_link' | translate}}
            <span class="text-danger">*</span>
          </span>

          <app-file-selector formControlName="logo"
                             [status]="(forumConfigForm.get('logo')?.invalid &&
                                         (forumConfigForm.get('logo')?.touched || isSubmit)) ?
                                         'error' : ''"
          ></app-file-selector>

          <span class="text-danger"
                *ngIf="(forumConfigForm.get('logo')?.touched || isSubmit)  &&
                        forumConfigForm.get('logo')?.hasError('required')">
            {{'logo_link' | translate}}
            {{'cannot_blank' | translate}}!
          </span>
        </div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            {{ 'banner_link' | translate }}
            <span class="text-danger">*</span>
          </span>

          <app-file-selector formControlName="banner"
                             [status]="(forumConfigForm.get('banner')?.invalid &&
                                       (forumConfigForm.get('banner')?.touched || isSubmit)) ?
                                       'error' : ''"
          ></app-file-selector>

          <span class="text-danger"
                *ngIf="(forumConfigForm.get('banner')?.touched || isSubmit)  &&
                        forumConfigForm.get('banner')?.hasError('required')">
            {{ 'banner_link' | translate }} {{'cannot_blank' | translate}}!
          </span>
        </div>

        <div nz-col [nzSpan]="8">
          <div class="d-flex justify-content-between align-items-center">
          <span class="text-label">
            Favicon
          </span>
          <span nzTooltipTitle="{{'guide_forum_favicon' | translate}}" nzTooltipPlacement="top" nz-tooltip nz-icon nzType="question-circle" nzTheme="outline"></span>
          </div>

          <app-file-selector formControlName="favicon"></app-file-selector>
        </div>
        <nz-divider nzText="Cấu hình footer diễn đàn"></nz-divider>
        <div nz-col [nzSpan]="8">
          <span class="text-label">
            Logo footer
          </span>

          <app-file-selector formControlName="footerLogo"></app-file-selector>
        </div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            Màu chữ footer
          </span>
          <app-color-picker formControlName="footerTextColor"></app-color-picker>
        </div>

        <div nz-col [nzSpan]="8"></div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            Ảnh nền footer
          </span>

          <app-file-selector formControlName="footerBackgroundImage"></app-file-selector>
        </div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            Màu nền footer
          </span>
          <app-color-picker formControlName="footerBackgroundColor"></app-color-picker>
        </div>

        <div nz-col [nzSpan]="16">
          <span class="text-label">
            {{'description' | translate}}
          </span>

          <textarea formControlName="footerDescription" nz-input [nzAutosize]="{ minRows: 3 }"></textarea>
        </div>
      </div>
    </form>
  </div>

  <div nz-col [nzSpan]="4">
    <div class="btn-panel">
      <button class="btn primary" nz-button [nzLoading]="loading" (click)="edit()">
        {{'save' | translate}}
      </button>
      <button class="btn" nz-button (click)="navigateBack()">
        {{'cancel'|translate}}
      </button>
    </div>
  </div>
</div>
