<!--<div>-->
<!--  <form [formGroup]="detailStudentForm">-->
<!--    <div nz-row [nzGutter]=[8,8]>-->
<!--&lt;!&ndash;      <div nz-col nzSpan="7" *ngFor="let item of filterData" class="flex-content">&ndash;&gt;-->
<!--&lt;!&ndash;        <div nz-col nzSpan="6" class="text-align-right">&ndash;&gt;-->
<!--&lt;!&ndash;          <span>{{item.title}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;        <div class="min-width">&ndash;&gt;-->
<!--&lt;!&ndash;          <ng-container *ngIf="!item.type">&ndash;&gt;-->
<!--&lt;!&ndash;            <input nz-input [formControlName]="item.name">&ndash;&gt;-->
<!--&lt;!&ndash;          </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;          <ng-container *ngIf="item.type === 'date-range'">&ndash;&gt;-->
<!--&lt;!&ndash;            <nz-range-picker nzFormat='dd/MM/YYYY' [formControlName]="item.name"></nz-range-picker>&ndash;&gt;-->
<!--&lt;!&ndash;          </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;          <ng-container *ngIf="item.type === 'select'">&ndash;&gt;-->
<!--&lt;!&ndash;            <nz-select class="select-item" [formControlName]="item.name">&ndash;&gt;-->
<!--&lt;!&ndash;              <nz-option *ngFor="let ele of item.data"  [nzValue]="ele.key" [nzLabel]="ele.label"></nz-option>&ndash;&gt;-->
<!--&lt;!&ndash;            </nz-select>&ndash;&gt;-->
<!--&lt;!&ndash;          </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->
