<div class="title-page">
  <span *ngIf="isCreate">
    {{'add_new'|translate}}
  </span>
  <span *ngIf="!isCreate">
    {{'modify'|translate}}
  </span>
  <span>
    {{'event' | translate}}
  </span>
</div>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="20">
    <form [formGroup]="eventForm">
      <div nz-row [nzGutter]="[16, 16]">
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <span class="text-label">
            {{ 'event_name' | translate }}
            <span class="text-danger">*</span>
          </span>

          <input nz-input autofocus formControlName="title" [nzStatus]="(eventForm.get('title')?.invalid &&
                        (eventForm.get('title')?.touched || isSubmit)) ? 'error' : ''">
          <span class="text-danger" *ngIf="(eventForm.get('title')?.touched || isSubmit)  &&
                    eventForm.get('title')?.hasError('required')">
            {{ 'event_name' | translate }} {{'cannot_blank' | translate}}
          </span>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <span class="text-label">
            {{ 'started_at' | translate }}
            <span class="text-danger">*</span>
          </span>

          <nz-date-picker nzShowTime formControlName="dateOfEvent" [nzStatus]="(eventForm.get('dateOfEvent')?.invalid &&
                                      (eventForm.get('dateOfEvent')?.touched || isSubmit)) ? 'error' : ''">
          </nz-date-picker>

          <span class="text-danger" *ngIf="(eventForm.get('dateOfEvent')?.touched || isSubmit)  &&
                    eventForm.get('dateOfEvent')?.hasError('required')">
            {{ 'location' | translate }} {{'cannot_blank' | translate}}
          </span>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <span class="text-label">
            {{ 'status' | translate }}
          </span>

          <nz-switch formControlName="status" style="display: block"></nz-switch>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <span class="text-label">
            {{'avatar' | translate}}
            <span class="text-danger">*</span>
          </span>

          <div style="display: flex">
            <input nz-input formControlName="imagePath" [nzStatus]="(eventForm.get('imagePath')?.invalid &&
                               (eventForm.get('imagePath')?.touched || isSubmit)) ? 'error' : ''">
            <button nz-button nzType="primary" (click)="onSelectFile()">
              <span nz-icon nzType="upload"></span>
            </button>
          </div>

          <span class="text-danger" *ngIf="(eventForm.get('imagePath')?.touched || isSubmit)  &&
                    eventForm.get('imagePath')?.hasError('required')">
            Ảnh đại diện {{'cannot_blank' | translate}}
          </span>
        </div>


        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <span class="text-label">
            {{ 'location' | translate }}
            <span class="text-danger">*</span>
          </span>

          <input nz-input formControlName="local" [nzStatus]="(eventForm.get('local')?.invalid &&
                             (eventForm.get('local')?.touched || isSubmit)) ? 'error' : ''">
          <span class="text-danger" *ngIf="(eventForm.get('local')?.touched || isSubmit)  &&
                    eventForm.get('local')?.hasError('required')">
            {{ 'location' | translate }} {{'cannot_blank' | translate}}
          </span>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <span class="text-label">
            {{'event_link' | translate}}
            <span class="text-danger">*</span>
          </span>

          <input nz-input formControlName="link" [nzStatus]="(eventForm.get('link')?.invalid &&
                             (eventForm.get('link')?.touched || isSubmit)) ? 'error' : ''">
          <span class="text-danger" *ngIf="(eventForm.get('link')?.touched || isSubmit)  &&
                    eventForm.get('link')?.hasError('required')">
            {{'event_link' | translate}} {{'cannot_blank' | translate}}
          </span>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="16" [nzMd]="16">
          <span class="text-label">
            {{'description' | translate}}
          </span>

          <textarea formControlName="description" nz-input [nzAutosize]="{ minRows: 3 }"></textarea>
        </div>
      </div>
    </form>
  </div>

  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4">
    <div class="btn-panel">
      <button class="btn primary" nz-button (click)="edit()">
        <span *ngIf="isCreate">
          {{'add_new'|translate}}
        </span>
        <span *ngIf="!isCreate">
          {{'save'|translate}}
        </span>
      </button>
      <button class="btn" nz-button (click)="navigateBack()">
        {{'cancel'|translate}}
      </button>
    </div>
  </div>
</div>
