<div class="title-page">
  <span *ngIf="isCreate">
    {{'add_new'|translate}}
  </span>
  <span *ngIf="!isCreate">
    {{'modify'|translate}}
  </span>
  <span>
    {{'link_on_menu'|translate}}
  </span>
</div>

<div nz-row>
  <div nz-col [nzSpan]="20">
    <form [formGroup]="headerForm">
      <div nz-row [nzGutter]=[16,16]>
        <div nz-col [nzSpan]="8">
          <span class="text-label">
            {{ 'display_name' | translate }}
            <span class="text-danger">*</span>
          </span>
          <input nz-input autofocus formControlName="displayName"
            [nzStatus]="(headerForm.get('displayName')?.invalid && (headerForm.get('name')?.touched || isSubmit)) ? 'error' : ''">

          <span class="text-danger"
            *ngIf="(headerForm.get('displayName')?.touched || isSubmit)  && headerForm.get('displayName')?.hasError('required')">
            {{ 'display_name' | translate }} {{'cannot_blank' | translate}}
          </span>
        </div>

        <div nz-col [nzSpan]="8">
          <div class="text-label">{{ 'position' | translate }}</div>
          <nz-input-number style="width: 100%" [nzMin]="0" [nzStep]="1" formControlName="no"></nz-input-number>
        </div>

        <div nz-col [nzSpan]="8">
          <div class="text-label">{{ 'status' | translate }}</div>
          <nz-switch formControlName="status"></nz-switch>
        </div>

        <div nz-col [nzSpan]="11">
          <span class="text-label">
            {{'page_url' | translate}}
          </span>

          <div class="select-group">
            <nz-select class="link-to" [(ngModel)]="external" [ngModelOptions]="{standalone: true}"
              (ngModelChange)="onSelectExternal($event)">
              <nz-option [nzValue]="false" [nzLabel]="'internal' | translate"></nz-option>
              <nz-option [nzValue]="true" [nzLabel]="'external' | translate"></nz-option>
            </nz-select>

            <div class="link-place">
              <nz-select *ngIf="!external" formControlName="pageId" nzAllowClear>
                <nz-option *ngFor="let page of listAllPage" [nzValue]="page.id" [nzLabel]="page.name">
                </nz-option>
              </nz-select>

              <input *ngIf="external" nz-input formControlName="externalLink">
            </div>
          </div>
        </div>

        <div nz-col [nzSpan]="5">
          <span class="text-label">
            {{'parent_link' | translate}}
          </span>

          <div>
            <nz-select formControlName="navParentId" nzAllowClear
              [nzStatus]="(headerForm.get('navParentId')?.invalid && (headerForm.get('navParentId')?.touched || isSubmit)) ? 'error' : ''">
              <nz-option *ngFor="let header of listAllHeader" [nzValue]="header.id" [nzLabel]="header.displayName">
              </nz-option>
            </nz-select>
          </div>
        </div>

        <div nz-col [nzSpan]="8">
          <div class="text-label">Dropdown</div>
          <nz-switch formControlName="isDropdown"></nz-switch>
        </div>
      </div>
    </form>
  </div>

  <div nz-col [nzSpan]="4">
    <div class="btn-panel">
      <button class="btn primary" nz-button (click)="edit()">
        <span *ngIf="isCreate">
          {{'add_new'|translate}}
        </span>
        <span *ngIf="!isCreate">
          {{'save'|translate}}
        </span>
      </button>
      <button class="btn" nz-button (click)="navigateBack()">
        {{'cancel'|translate}}
      </button>
    </div>
  </div>
</div>