<div class="title-page">
  {{isCreate? 'Tạo mới đường dẫn trên thanh menu' : 'Chỉnh sửa đường dẫn trên thanh menu'}}
</div>

<div nz-row>
  <div nz-col [nzSpan]="20">
    <form [formGroup]="headerForm">
      <div nz-row [nzGutter]=[16,16]>
        <div nz-col [nzSpan]="8">
          <span class="text-label">
            Tên hiển thị
            <span class="text-danger">*</span>
          </span>
          <input
            nz-input autofocus formControlName="displayName"
            [nzStatus]="(headerForm.get('displayName')?.invalid && (headerForm.get('name')?.touched || isSubmit)) ? 'error' : ''">

          <span class="text-danger"
                *ngIf="(headerForm.get('displayName')?.touched || isSubmit)  && headerForm.get('displayName')?.hasError('required')"
          >
            Tên hiển thị không được để trống
          </span>
        </div>

        <div nz-col [nzSpan]="8">
          <div class="text-label">Thứ tự hiển thị trên thanh menu</div>
          <nz-input-number
            style="width: 100%"
            [nzMin]="0" [nzStep]="1"
            formControlName="no"></nz-input-number>
        </div>

        <div nz-col [nzSpan]="8">
          <div class="text-label">Trạng thái</div>
          <nz-switch formControlName="status"></nz-switch>
        </div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            Link đến trang
          </span>

          <div>
            <nz-select
              formControlName="pageId"
              [nzStatus]="(headerForm.get('pageId')?.invalid && (headerForm.get('pageId')?.touched || isSubmit)) ? 'error' : ''"
            >
              <nz-option
                *ngFor="let page of listAllPage"
                [nzValue]="page.id"
                [nzLabel]="page.name"
              >
              </nz-option>
            </nz-select>
          </div>

          <span class="text-danger"
                *ngIf="(headerForm.get('pageId')?.touched || isSubmit) && headerForm.get('pageId')?.hasError('required')"
          >
            Trang được link đến không được để trống
          </span>
        </div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            nằm trong đường dẫn
          </span>

          <div>
            <nz-select
              formControlName="navParentId"
              nzAllowClear
              [nzStatus]="(headerForm.get('navParentId')?.invalid && (headerForm.get('navParentId')?.touched || isSubmit)) ? 'error' : ''"
            >
              <nz-option
                *ngFor="let header of listAllHeader"
                [nzValue]="header.id"
                [nzLabel]="header.displayName"
              >
              </nz-option>
            </nz-select>
          </div>
        </div>

        <div nz-col [nzSpan]="8">
          <div class="text-label">chứa đường dẫn</div>
          <nz-switch formControlName="isDropdown"></nz-switch>
        </div>
      </div>
    </form>
  </div>

  <div nz-col [nzSpan]="4">
    <div class="btn-panel">
      <button class="btn primary" nz-button (click)="edit()">
        {{isCreate? 'Tạo mới' : 'Lưu'}}
      </button>
      <button class="btn" nz-button (click)="navigateBack()">Hủy</button>
    </div>
  </div>
</div>
