<div class="title-page">
  Danh sách học viên đang học
</div>

<div class="header-btn">

  <ng-container *ngIf="(studyingStudent$ | async) as studyingStudent">
    <nz-collapse class="filter-form" [class.expand]="isExpand">
      <nz-collapse-panel [nzHeader]="'filter' | translate"  (nzActiveChange)="setExpand($event)">
        <app-filter-form [filterData]="listOfColumn" (getFilterData)="handleFilterForm($event)"></app-filter-form>
      </nz-collapse-panel>
    </nz-collapse>


    <!--    <button nz-button class="add-btn primary" (click)="create()">{{ 'add_new' | translate }}</button>-->
    <!--    <button nz-button class="add-btn primary" (click)="delete()">{{ 'remove' | translate }}</button>-->

    <app-table
      [rows]="studyingStudent.rows"
      [page]="studyingStudent.page"
      [pageSize]="studyingStudent.pageSize"
      [pageTotal]="studyingStudent.rowTotal"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column header="{{ 'no' | translate }}" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="{{ 'created_at' | translate }}" key="createdDate" [dataType]="COL_DATA_TYPE.DATE" [width]="'150px'"></table-column>
      <table-column header="{{ 'course_name' | translate }}" key="courseName" [width]="'200px'"></table-column>
      <table-column header="{{ 'price' | translate }}" key="price" [width]="'200px'">
        <ng-template appCell let-data>
          {{data.price + ' VND'}}
        </ng-template>
      </table-column>
      <table-column header="{{ 'payment_status' | translate }}" key="isPay" [width]="'180px'">
        <ng-template appCell let-data>
          <span *ngIf="data.isPay === 0">Chưa thanh toán</span>
          <span *ngIf="data.isPay === 1">Đã thanh toán</span>
          <span *ngIf="data.isPay === 2">Thanh toán một phần</span>
          <span *ngIf="data.isPay === 3">Thanh toán thừa</span>
          <span *ngIf="data.isPay === 4">Hoàn học phí</span>
          <span *ngIf="data.isPay === 5">Hoàn tiền thừa</span>
        </ng-template>
      </table-column>
      <table-column header="{{ 'payment_verification' | translate }}" key="isVerifyPay" [width]="'180px'">
        <ng-template appCell let-data>
          <span class="text-invalid" *ngIf="!data.isVerifyPay">Chưa xác thực</span>
          <span class="text-valid" *ngIf="data.isVerifyPay">Đã xác thực</span>
        </ng-template>
      </table-column>
      <table-column header="{{ 'class' | translate }}" key="className" [width]="'180px'"></table-column>
      <table-column header="{{ 'check_in_lesson' | translate }}" key="lessonAttendances" [width]="'180px'"></table-column>
      <table-column header="{{ 'learner_name' | translate }}" key="name" [width]="'180px'"></table-column>
      <table-column header="{{ 'phone_number' | translate }}" key="mobile" [width]="'180px'"></table-column>
      <table-column header="Email" key="email" [width]="'180px'"></table-column>
      <table-column header="{{ 'learner_code' | translate }}" key="code" [width]="'180px'"></table-column>
      <table-column header="{{ 'referrer' | translate }}" key="emailRef" [width]="'180px'"></table-column>
      <table-column header="{{ 'caring_by' | translate }}" key="caregiverName" [width]="'180px'"></table-column>
      <table-column header="{{ 'teacher_name' | translate }}" key="lecturerName" [width]="'180px'"></table-column>
<!--      <table-column header="{{ 'tags' | translate }}" key="tagNote" [width]="'220px'">-->
<!--        <ng-template appCell let-data>-->
<!--          <nz-select style="display: block" nzPlaceHolder="Chọn thẻ tag" [ngModel]="data.tagNote"-->
<!--                     [nzCustomTemplate]="selectTag" nzBorderless (ngModelChange)="onTagChange($event, data)">-->
<!--            <nz-option *ngFor="let tag of li{{ 'no' | translate }}ag" nzCustomContent-->
<!--                       [nzValue]="tag.value" [nzLabel]="tag.title" [nzTitle]="tag.color">-->
<!--              <nz-tag [nzColor]="tag.color">{{tag.title}}</nz-tag>-->
<!--            </nz-option>-->
<!--          </nz-select>-->

<!--          <ng-template #selectTag let-selected>-->
<!--            <nz-tag [nzColor]="selected.nzTitle">{{selected.nzLabel}}</nz-tag>-->
<!--          </ng-template>-->
<!--        </ng-template>-->
<!--      </table-column>-->

      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          {{ 'actions' | translate }}
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="detail(data)"
                nz-tooltip nzTooltipTitle="{{ 'details' | translate }}">
          <span nz-icon nzType="search" nzTheme="outline"></span>
          </span>

          <span class="custom-action" (click)="refundPayment(data)"
                nz-tooltip nzTooltipTitle="Hoàn học phí">
            <span nz-icon nzType="undo" nzTheme="outline"></span>
          </span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>

