<div class="title-page">
  Danh sách học viên đang chờ
</div>

<div class="header-btn">

  <ng-container *ngIf="(studyingStudent$ | async) as studyingStudent">
    <nz-collapse class="filter-form" [class.expand]="isExpand">
      <nz-collapse-panel [nzHeader]="'Lọc'"  (nzActiveChange)="setExpand($event)">
        <app-filter-form [filterData]="listOfColumn" (getFilterData)="handleFilterForm($event)"></app-filter-form>
      </nz-collapse-panel>
    </nz-collapse>


    <!--    <button nz-button class="add-btn primary" (click)="create()">Thêm mới</button>-->
    <!--    <button nz-button class="add-btn primary" (click)="delete()">Xóa</button>-->

    <app-table
      [rows]="studyingStudent.rows"
      [page]="studyingStudent.page"
      [pageSize]="studyingStudent.pageSize"
      [pageTotal]="studyingStudent.rowTotal"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column header="STT" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="Ngày đăng ký" key="createdDate" [dataType]="COL_DATA_TYPE.DATE" [width]="'150px'"></table-column>
      <table-column header="Tên học viên" key="name" [width]="'180px'"></table-column>
      <table-column header="Số điện thoại" key="mobile" [width]="'120px'"></table-column>
      <table-column header="Email" key="email" [width]="'200px'"></table-column>
      <table-column header="Mã học viên" key="code" [width]="'180px'"></table-column>
      <table-column header="Người giới thiệu" key="userRef" [width]="'180px'"></table-column>
      <table-column header="Thuộc tổ chức" key="organizationName" [width]="'200px'"></table-column>
      <table-column header="Tên diễn giả" key="lecturerName" [width]="'200px'"></table-column>
      <table-column header="Nhân viên chăm sóc" key="caregiverName" [width]="'200px'"></table-column>
      <table-column header="Khóa học gần nhất" key="latestCourseName" [width]="'200px'"></table-column>
      <table-column header="Điểm danh gần nhất" key="latestAttendance" [width]="'200px'"></table-column>
      <table-column header="Tổng học phí" key="totalPrice" [width]="'200px'"></table-column>

      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          Chức năng
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="detail(data)">Chi tiết</span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>

