<div>
  <nz-collapse class="filter-form" [class.expand]="isExpand" >
    <nz-collapse-panel [nzHeader]="'Lọc'"  (nzActiveChange)="setExpand($event)">
      <app-filter-form [filterData]="listOfColumn" (getFilterData)="handleFilterForm($event)"></app-filter-form>
    </nz-collapse-panel>
  </nz-collapse>

  <app-table [rows]="rowData">
    <table-column header="STT" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
    <table-column header="Ngày đăng ký" key="createdDate" [dataType]="COL_DATA_TYPE.DATE" [width]="'150px'"></table-column>
    <table-column header="Tên học viên" key="name" [width]="'180px'"></table-column>
    <table-column header="Số điện thoại" key="mobile" [width]="'120px'"></table-column>
    <table-column header="Email" key="email" [width]="'180px'"></table-column>
    <table-column header="Mã học viên" key="code" [width]="'180px'"></table-column>
    <table-column header="Người giới thiệu" key="userRef" [width]="'180px'"></table-column>
    <table-column header="Tên diễn giả" key="lecturerName" [width]="'180px'"></table-column>
    <table-column header="Nhân viên chăm sóc" key="" [width]="'180px'"></table-column>
    <table-column header="Khóa học gần nhất" key="" [width]="'180px'"></table-column>
    <table-column header="Điểm danh gần nhất" key="" [width]="'180px'"></table-column>
    <table-column header="Tổng học phí" key="" [width]="'150px'"></table-column>
    <table-column header="Trạng thái" key="isAccount" [width]="'180px'">
      <ng-template appCell let-data>
        <span class="text-valid" *ngIf="data.isAccount">Đã xác thực</span>
        <span class="text-invalid" *ngIf="!data.isAccount">Chưa xác thực</span>
      </ng-template>
    </table-column>
    <table-column header="Nhóm quyền" key="" [width]="'180px'"></table-column>

    <table-column [width]="'180px'" fixColumn="right" >
      <ng-template appHeader>
        Chức năng
      </ng-template>

      <ng-template appCell let-data>
        <span class="custom-action">Chi tiết</span>

        <span class="custom-action" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
          Chăm sóc
          <span nz-icon nzType="down"></span>
        </span>

        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>Xem chi tiết</li>
            <li nz-menu-item>Phân quyền</li>
          </ul>
        </nz-dropdown-menu>
      </ng-template>
    </table-column>
  </app-table>
</div>
