<div class="title-page">
  Danh sách video E-learning
  <button
    class="navigation-btn"
    nz-button nzType="primary" (click)="navigationToChapter()">
    <span class="navigation-title">Danh sách học phần</span>
    <span nz-icon nzType="right"></span>
  </button>
</div>

<div class="header-btn">
  <ng-container *ngIf="(videoPage$ | async) as video">
    <button nz-button class="add-btn primary" (click)="create()">{{ 'add_new' | translate }}</button>
    <button nz-button class="add-btn" (click)="delete()">{{ 'remove' | translate }}</button>
    <button nz-button class="add-btn" (click)="backToCourse()"
            nz-tooltip nzTooltipTitle="{{ 'back' | translate }} danh sách khóa học">
      <span nz-icon nzType="rollback" nzTheme="outline"></span>
    </button>
    <app-table
      [rows]="video.rows"
      [page]="video.page"
      [pageSize]="video.pageSize"
      [pageTotal]="video.rowTotal"
      (onItemSelection)="getItemSelection($event)"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column [dataType]="COL_DATA_TYPE.SELECTION" fixColumn="left"></table-column>
      <table-column header="{{ 'no' | translate }}" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="{{ 'title' | translate }}" key="title" [width]="'200px'"></table-column>
      <table-column header="{{ 'link' | translate }}" key="mediaPath" [width]="'200px'"></table-column>
      <table-column header="Học phần" key="chapterName" [width]="'200px'"></table-column>
      <table-column header="{{ 'order' | translate }}" key="priority" [width]="'200px'"></table-column>
      <table-column header="Video học thử" key="isFreeWatch" [width]="'180px'">
        <ng-template appCell let-data>
          <span class="icon-check-success text-valid" *ngIf="data.isFreeWatch">
            <span nz-icon nzType="check" nzTheme="outline"></span>
          </span>
          <span class="icon-check-error text-invalid" *ngIf="!data.isFreeWatch">
            <span nz-icon nzType="close" nzTheme="outline"></span>
          </span>
        </ng-template>
      </table-column>
      <table-column header="{{ 'status' | translate }}" key="status" [width]="'180px'">
        <ng-template appCell let-data>
          <span class="text-valid" *ngIf="data.status">Kích hoạt</span>
          <span class="text-invalid" *ngIf="!data.status">Tạm dừng</span>
        </ng-template>
      </table-column>
      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          {{ 'actions' | translate }}
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="edit(data)"
                nz-tooltip nzTooltipTitle="Chỉnh sửa video">
            <span nz-icon nzType="edit" nzTheme="outline" class="custom-icon"></span>
          </span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>
