<div class="title-page">
  {{ 'products' | translate }}
</div>

<div class="header-btn">
  <ng-container *ngIf="(product$ | async) as product">
    <button nz-button class="add-btn primary" (click)="create()">{{ 'add_new' | translate }}</button>
    <button nz-button class="add-btn primary" (click)="delete()">{{ 'remove' | translate }}</button>

    <app-table
      [rows]="product.rows"
      [page]="product.page"
      [pageSize]="product.pageSize"
      [pageTotal]="product.rowTotal"
      (onItemSelection)="getItemSelection($event)"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column [dataType]="COL_DATA_TYPE.SELECTION" fixColumn="left"></table-column>
      <table-column header="{{ 'no' | translate }}" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="{{ 'created_at' | translate }}" key="organizationName" [width]="'200px'"></table-column>
      <table-column header="{{ 'image' | translate }}" key="organizationName" [width]="'200px'"></table-column>
      <table-column header="{{ 'product_name' | translate }}" key="organizationName" [width]="'200px'"></table-column>
      <table-column header="{{ 'category' | translate }}" key="organizationName" [width]="'200px'"></table-column>
      <table-column header="{{ 'product_group' | translate }}" key="organizationName" [width]="'200px'"></table-column>
      <table-column header="{{ 'product_type' | translate }}" key="organizationName" [width]="'200px'"></table-column>
      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          {{ 'actions' | translate }}
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="edit(data)"
                nz-tooltip nzTooltipTitle="{{'edit' | translate}}">
            <span nz-icon nzType="edit" nzTheme="outline" class="custom-icon"></span>
          </span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>
