<div class="title-page">
  <span>
    {{'website_settings' | translate}}
  </span>
</div>

<div nz-row>
  <div nz-col [nzSpan]="20">
    <form [formGroup]="configForm">
      <div nz-row [nzGutter]=[16,16]>
        <div nz-col [nzSpan]="9">
          <div class="d-flex justify-content-between align-items-center">
            <span class="text-label">
              {{'website_name' | translate }}
              <span class="text-danger">*</span>
            </span>
            <span nzTooltipTitle="{{'guide_website_name' | translate}}" nzTooltipPlacement="top" nz-tooltip nz-icon nzType="question" nzTheme="outline"></span>
          </div>
          <input nz-input autofocus formControlName="name" [nzStatus]="(configForm.get('name')?.invalid && (configForm.get('name')?.touched || isSubmit)) ? 'error' : ''">

          <span class="text-danger" *ngIf="(configForm.get('name')?.touched || isSubmit)  && configForm.get('name')?.hasError('required')">
            {{'website_name' | translate}} {{'cannot_blank' | translate}}
          </span>
        </div>

        <div nz-col [nzSpan]="9">
          <div class="d-flex justify-content-between align-items-center">
            <span class="text-label">
              {{'copyright_text' | translate }}
              <span class="text-danger">*</span>
            </span>
            <span nzTooltipTitle="{{'guide_website_copyright' | translate}}" nzTooltipPlacement="top" nz-tooltip nz-icon nzType="question" nzTheme="outline"></span>
          </div>
          <input nz-input formControlName="copyright">
        </div>

        <div nz-col [nzSpan]="9">
          <div class="d-flex justify-content-between align-items-center">
            <span class="text-label">
              Logo header
              <span class="text-danger">*</span>
            </span>
            <span nzTooltipTitle="{{'guide_website_logo_header' | translate}}" nzTooltipPlacement="top" nz-tooltip nz-icon nzType="question" nzTheme="outline"></span>
          </div>

          <div style="display: flex">
            <input nz-input formControlName="headerLogo">
            <button nz-button nzType="primary" (click)="onSelectFile('header')">
              <span nz-icon nzType="upload"></span>
            </button>
          </div>
        </div>

        <div nz-col [nzSpan]="9">
          <div class="d-flex align-items-center">
            <span class="text-label" style="margin-right:.5rem">
              Background header
              <span class="text-danger">*</span>
            </span>
            <span nzTooltipTitle="{{'guide_website_background_header' | translate}}" nzTooltipPlacement="top" nz-tooltip nz-icon nzType="question" nzTheme="outline"></span>
          </div>
          <div class="color-picker" (click)="active(bgHeader)">
            <input #bgHeader formControlName="headerBackground" type="color" (change)="onColorChange($event, 1)">
            <span style="padding-left: 8px; font-size: 14px">
              {{bgHeaderValue}}
            </span>
          </div>
        </div>

        <div nz-col [nzSpan]="9">
          <div class="d-flex justify-content-between align-items-center">
            <span class="text-label">
              Logo footer
              <span class="text-danger">*</span>
            </span>
            <span nzTooltipTitle="{{'guide_website_logo_footer' | translate}}" nzTooltipPlacement="top" nz-tooltip nz-icon nzType="question" nzTheme="outline"></span>
          </div>

          <div style="display: flex">
            <input nz-input formControlName="footerLogo">
            <button nz-button nzType="primary" (click)="onSelectFile('footer')">
              <span nz-icon nzType="upload"></span>
            </button>
          </div>
        </div>

        <div nz-col [nzSpan]="9">
          <div class="d-flex align-items-center">
            <span class="text-label" style="margin-right:.5rem">
              Background footer
              <span class="text-danger">*</span>
            </span>
            <span nzTooltipTitle="{{'guide_website_background_footer' | translate}}" nzTooltipPlacement="top" nz-tooltip nz-icon nzType="question" nzTheme="outline"></span>
          </div>
          <div class="color-picker" (click)="active(bgFooter)">
            <input #bgFooter formControlName="footerBackground" type="color" (change)="onColorChange($event, 0)">
            <span style="padding-left: 8px; font-size: 14px">
              {{bgFooterValue}}
            </span>
          </div>
        </div>

        <div nz-col [nzSpan]="9">
          <div class="d-flex justify-content-between align-items-center">
            <span class="text-label">
              Link facebook
              <span class="text-danger">*</span>
            </span>
            <span nzTooltipTitle="{{'guide_website_social_links' | translate}}" nzTooltipPlacement="top" nz-tooltip nz-icon nzType="question" nzTheme="outline"></span>
          </div>
          <input nz-input formControlName="facebookLink" [nzStatus]="(configForm.get('facebookLink')?.invalid &&
                    (configForm.get('facebookLink')?.touched || isSubmit)) ? 'error' : ''">
          <span class="text-danger" *ngIf="(configForm.get('facebookLink')?.touched || isSubmit)  &&
                    configForm.get('facebookLink')?.hasError('pattern')">
            Link facebook {{'invalid_format' | translate}}
          </span>
        </div>

        <div nz-col [nzSpan]="9">
          <div class="d-flex justify-content-between align-items-center">
            <span class="text-label">
              Link youtube
              <span class="text-danger">*</span>
            </span>
            <span nzTooltipTitle="{{'guide_website_social_links' | translate}}" nzTooltipPlacement="top" nz-tooltip nz-icon nzType="question" nzTheme="outline"></span>
          </div>
          <input nz-input formControlName="youtubeLink" [nzStatus]="(configForm.get('youtubeLink')?.invalid &&
                    (configForm.get('youtubeLink')?.touched || isSubmit)) ? 'error' : ''">
          <span class="text-danger" *ngIf="(configForm.get('youtubeLink')?.touched || isSubmit)  &&
                    configForm.get('youtubeLink')?.hasError('pattern')">
            Link youtube {{'invalid_format' | translate}}
          </span>
        </div>

        <div nz-col [nzSpan]="9">
          <div class="d-flex justify-content-between align-items-center">
            <span class="text-label">
              Link tiktok
              <span class="text-danger">*</span>
            </span>
            <span nzTooltipTitle="{{'guide_website_social_links' | translate}}" nzTooltipPlacement="top" nz-tooltip nz-icon nzType="question" nzTheme="outline"></span>
          </div>
          <input nz-input formControlName="tiktokLink" [nzStatus]="(configForm.get('tiktokLink')?.invalid &&
                    (configForm.get('tiktokLink')?.touched || isSubmit)) ? 'error' : ''">
          <span class="text-danger" *ngIf="(configForm.get('tiktokLink')?.touched || isSubmit)  &&
                    configForm.get('tiktokLink')?.hasError('pattern')">
            Link tiktok {{'invalid_format' | translate}}
          </span>
        </div>

        <div nz-col [nzSpan]="9">
          <div class="d-flex justify-content-between align-items-center">
            <span class="text-label">
              Link zalo
              <span class="text-danger">*</span>
            </span>
            <span nzTooltipTitle="{{'guide_website_social_links' | translate}}" nzTooltipPlacement="top" nz-tooltip nz-icon nzType="question" nzTheme="outline"></span>
          </div>
          <input nz-input formControlName="zaloLink" [nzStatus]="(configForm.get('zaloLink')?.invalid &&
                    (configForm.get('zaloLink')?.touched || isSubmit)) ? 'error' : ''">
          <span class="text-danger" *ngIf="(configForm.get('zaloLink')?.touched || isSubmit)  &&
                    configForm.get('zaloLink')?.hasError('pattern')">
            Link zalo {{'invalid_format' | translate}}
          </span>
        </div>

        <div nz-col [nzSpan]="18">
          <div class="d-flex justify-content-between align-items-center">
            <span class="text-label">
              {{'description' | translate}}
              <span class="text-danger">*</span>
            </span>
            <span nzTooltipTitle="{{'guide_website_description' | translate}}" nzTooltipPlacement="top" nz-tooltip nz-icon nzType="question" nzTheme="outline"></span>
          </div>
          <textarea nz-input [nzAutosize]="{ minRows: 3}" formControlName="footerDescription"></textarea>
        </div>
      </div>
    </form>
  </div>

  <div nz-col [nzSpan]="4">
    <div class="btn-panel">
      <button class="btn primary" nz-button (click)="edit()">
        {{'save'|translate}}
      </button>

      <button class="btn" nz-button (click)="navigateBack()">
        {{'cancel'|translate}}
      </button>
    </div>
  </div>
</div>