<div class="title-page">
  Danh sách khóa học E-learning
</div>

<div class="header-btn">
  <ng-container *ngIf="(course$ | async) as course">
    <button nz-button class="add-btn primary" (click)="create()">Thêm mới</button>
    <button nz-button class="add-btn" (click)="delete()">Xóa</button>

    <app-table
      [rows]="course.rows"
      [page]="course.page"
      [pageSize]="course.pageSize"
      [pageTotal]="course.rowTotal"
      (onItemSelection)="getItemSelection($event)"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column [dataType]="COL_DATA_TYPE.SELECTION" fixColumn="left"></table-column>
      <table-column header="STT" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="Tên khóa học" key="name" [width]="'200px'"></table-column>
      <table-column header="Mã khoá học" key="code" [width]="'200px'"></table-column>
      <table-column header="Giá bán" key="price" [width]="'200px'">
      </table-column>
      <table-column header="Loại khóa học" key="type" [width]="'200px'">
        <ng-template appCell let-data>
          <span *ngIf="data.type === 1">Miễn phí</span>
          <span *ngIf="data.type === 2">Thành viên</span>
          <span *ngIf="data.type === 3">Đặc biệt</span>
          <span *ngIf="data.type === 4">Cộng tác</span>
          <span *ngIf="data.type === 5">Giảng viên</span>
        </ng-template>
      </table-column>
      <table-column header="Danh mục" key="categoryName" [width]="'200px'"></table-column>
      <table-column header="Điểm đăng ký" key="registerPoint" [width]="'200px'"></table-column>
      <table-column header="Điểm giới thiệu trực tiếp" key="directReferralPoint" [width]="'200px'"></table-column>
      <table-column header="Điểm giới thiệu gián tiếp" key="indirectReferralPoint " [width]="'200px'"></table-column>
      <table-column header="Tên diễn giả" key="teacherName" [width]="'200px'"></table-column>
      <table-column header="Tổ chức" key="organizationName" [width]="'200px'"></table-column>
      <table-column header="Trạng thái" key="status" [width]="'180px'">
        <ng-template appCell let-data>
          <span class="text-valid" *ngIf="data.status">Kích hoạt</span>
          <span class="text-invalid" *ngIf="!data.status">Tạm dừng</span>
        </ng-template>
      </table-column>
      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          Chức năng
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="edit(data)"
                nz-tooltip nzTooltipTitle="Chỉnh sửa khóa học">
            <span nz-icon nzType="edit" nzTheme="outline" class="custom-icon"></span>
          </span>

          <span class="custom-action" (click)="navigateToChapter(data)"
                nz-tooltip nzTooltipTitle="Chương trình học">
            <span nz-icon nzType="appstore-add" nzTheme="outline" class="custom-icon"></span>
          </span>
        </ng-template>
      </table-column>
    </app-table>

  </ng-container>
</div>
