<div class="title-page">
  {{ 'lesson_list' | translate }}
</div>

<div class="header-btn">
  <ng-container *ngIf="(lesson$ | async) as lesson">
    <button nz-button class="add-btn primary" (click)="delete()">{{ 'remove' | translate }}</button>

    <app-table
      [rows]="lesson.rows"
      [page]="lesson.page"
      [pageSize]="lesson.pageSize"
      [pageTotal]="lesson.rowTotal"
      (onItemSelection)="getItemSelection($event)"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column [dataType]="COL_DATA_TYPE.SELECTION" fixColumn="left"></table-column>
      <table-column header="{{ 'no' | translate }}" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="{{ 'lesson_name' | translate }}" key="lessonName" [width]="'200px'"></table-column>
      <table-column header="{{ 'attendance_time' | translate }}" key="timeFrame" [width]="'200px'"></table-column>
      <table-column header="{{ 'class_name' | translate }}" key="className" [width]="'200px'"></table-column>
      <table-column header="{{ 'course_name' | translate }}" key="courseName" [width]="'200px'"></table-column>
      <table-column header="{{ 'teacher_name' | translate }}" key="teacherName" [width]="'200px'"></table-column>
      <table-column header="{{ 'organization' | translate }}" key="organizationName" [width]="'150px'"></table-column>
      <table-column header="Link zoom" key="linkZoom" [width]="'150px'"></table-column>
      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          {{ 'actions' | translate }}
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="edit(data)"
                nz-tooltip nzTooltipTitle="{{ 'edit' | translate }}">
            <span nz-icon nzType="edit" nzTheme="outline" class="custom-icon"></span>
          </span>

          <span class="custom-action" (click)="attachLinkZoom(data)"
                nz-tooltip nzTooltipTitle="{{ 'assign_zoom_link' | translate }}">
            <span nz-icon nzType="play-square" nzTheme="outline" class="custom-icon"></span>
          </span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>

