<div class="title-page">
  Danh sách buổi học
</div>

<div class="header-btn">
  <ng-container *ngIf="(lesson$ | async) as lesson">
    <button nz-button class="add-btn primary" (click)="delete()">Xóa</button>

    <app-table
      [rows]="lesson.rows"
      [page]="lesson.page"
      [pageSize]="lesson.pageSize"
      [pageTotal]="lesson.rowTotal"
      (onItemSelection)="getItemSelection($event)"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column [dataType]="COL_DATA_TYPE.SELECTION" fixColumn="left"></table-column>
      <table-column header="STT" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="Tên buổi học" key="lessonName" [width]="'200px'"></table-column>
      <table-column header="Khung giờ học" key="timeFrame" [width]="'200px'"></table-column>
      <table-column header="Tên lớp học" key="className" [width]="'200px'"></table-column>
      <table-column header="Tên khóa học" key="courseName" [width]="'200px'"></table-column>
      <table-column header="Tên diễn giả" key="teacherName" [width]="'200px'"></table-column>
      <table-column header="Tên tổ chức" key="organizationName" [width]="'150px'"></table-column>
      <table-column header="Link zoom" key="linkZoom" [width]="'150px'"></table-column>
      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          Chức năng
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="edit(data)"
                nz-tooltip nzTooltipTitle="Chỉnh sửa buổi học">
            <span nz-icon nzType="edit" nzTheme="outline" class="custom-icon"></span>
          </span>

          <span class="custom-action" (click)="attachLinkZoom(data)"
                nz-tooltip nzTooltipTitle="Gắn link zoom">
            <span nz-icon nzType="play-square" nzTheme="outline" class="custom-icon"></span>
          </span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>

