<nz-sider class="menu-sidebar"
          nzCollapsible
          nzWidth="256px"
          nzBreakpoint="md"
          [(nzCollapsed)]="isCollapsed">
  <div class="sidebar-logo">
    <a href="https://ng.ant.design/" target="_blank">
      <img src="assets/img/black-logo.png" alt="logo">
      <img class="text-logo" src="assets/img/text-logo.svg">
    </a>
  </div>
  <ul nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="isCollapsed">
    <ng-container *ngFor="let item of treeMenu">
      <li *ngIf="item.children"
        nz-submenu nzTitle={{item.name}} nzIcon="{{item.icon}}" >
        <app-menu-item [menuData]="item.children" ></app-menu-item>
      </li>
      <li *ngIf="!item.children" nz-menu-item >
        {{item.name}}
      </li>
    </ng-container>
  </ul>
</nz-sider>


