@keyframes spinLeaf {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}


.header-side-bar{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 24px;
}

.header-menu-divine{
  margin: 8px 0;
}

.download-layout{
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 15px;
  align-items: center;
  cursor: pointer;
  color: #539742;
}

.download-process{
  position: absolute;
  border: 1px solid transparent;
  border-top-color: #539742;
  border-right-color: #539742;
  animation: spinLeaf 1s linear infinite;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-language{
  padding-inline: 8px;
}

.tutorial-list {
  width: 13rem;

  @media (min-width: 576px) {
    width: 25rem;
    margin-top: unset!important;
  }

  @media (min-width: 768px) {
    width: 35rem
  }

  .close {
    background: transparent!important;
    margin-left: .5rem;
    cursor: default;
    padding: 0
  }
}