<div class="title-page">
  Danh sách học viên E-learning đang chăm
</div>

<div class="header-btn">
  <ng-container *ngIf="(takingCareEStudent$ | async) as student">
    <nz-collapse class="filter-form" [class.expand]="isExpand">
      <nz-collapse-panel [nzHeader]="'Lọc'"  (nzActiveChange)="setExpand($event)">
        <app-filter-form
          [filterData]="listOfColumn" (getFilterData)="handleFilterForm($event)"
        ></app-filter-form>
      </nz-collapse-panel>
    </nz-collapse>

    <app-table
      [rows]="student.rows"
      [page]="student.page"
      [pageSize]="student.pageSize"
      [pageTotal]="student.rowTotal"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column header="STT" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="Ngày đăng ký" key="createdDate" [dataType]="COL_DATA_TYPE.DATE" [width]="'150px'"></table-column>
      <table-column header="Tên học viên" key="fullName" [width]="'180px'"></table-column>
      <table-column header="Số điện thoại" key="mobile" [width]="'120px'"></table-column>
      <table-column header="Email" key="email" [width]="'200px'"></table-column>
      <table-column header="Mã học viên" key="code" [width]="'180px'"></table-column>
      <table-column header="Người giới thiệu" key="userRefName" [width]="'180px'"></table-column>
      <table-column header="Nhân viên chăm sóc" key="caregiverName" [width]="'180px'"></table-column>
      <table-column header="Trạng thái" key="status" [width]="'180px'">
        <ng-template appCell let-data>
          <span class="text-valid" *ngIf="data.status">Kích hoạt</span>
          <span class="text-invalid" *ngIf="!data.status">Chưa kích hoạt</span>
        </ng-template>
      </table-column>
      <table-column header="Thuộc tổ chức" key="organizationName" [width]="'200px'"></table-column>
      <table-column [width]="'100px'" fixColumn="right" >
        <ng-template appHeader>
          Chức năng
        </ng-template>

        <ng-template appCell let-data>
          <button
            nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"
            nz-button nzShape="circle" [nzPlacement]="'bottomRight'">
            <span nz-icon nzType="bars"></span>
          </button>

          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>Xem chi tiết</li>
              <li nz-menu-item>Gọi điện</li>
              <li nz-menu-item (click)="activeMembership(data)">Tặng gói thành viên</li>
              <li nz-menu-item (click)="activeCourse(data)">Tặng khóa học</li>
              <li nz-menu-item>Thay đổi vai trò</li>
            </ul>
          </nz-dropdown-menu>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>

