<div class="title-page">
  {{'notification_emails' | translate}}
</div>

<div class="header-btn">
  <ng-container *ngIf="(notificationsEmail$ | async) as notificationsEmail">

    <button nz-button class="add-btn primary" (click)="create()">{{ 'add_new' | translate }}</button>
    <button nz-button class="add-btn" (click)="delete()">{{ 'remove' | translate }}</button>

    <app-table
      [rows]="notificationsEmail.rows"
      [page]="notificationsEmail.page"
      [pageSize]="notificationsEmail.pageSize"
      [pageTotal]="notificationsEmail.rowTotal"
      (onItemSelection)="getItemSelection($event)"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column [dataType]="COL_DATA_TYPE.SELECTION" fixColumn="left"></table-column>
      <table-column header="{{ 'no' | translate }}" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="{{ 'email_name' | translate }}" key="emailSubject" [width]="'200px'"></table-column>
      <table-column header="{{ 'email_type' | translate }}" key="typeName" [width]="'250px'"></table-column>
      <table-column header="{{ 'session_name' | translate }}" key="lessonName" [width]="'200px'"></table-column>
      <table-column header="{{ 'class_name' | translate }}" key="className" [width]="'200px'"></table-column>
      <table-column header="{{ 'course_name' | translate }}" key="courseName" [width]="'200px'"></table-column>
      <table-column header="{{ 'teacher_name' | translate }}" key="speakerName" [width]="'200px'"></table-column>
      <table-column header="{{ 'organization' | translate }}" key="organizationName" [width]="'200px'"></table-column>
      <table-column header="{{ 'status' | translate }}" key="status" [width]="'180px'">
        <ng-template appCell let-data>
          <span class="text-valid" *ngIf="data.status">Hiển thị</span>
          <span class="text-invalid" *ngIf="!data.status">Không hiển thị</span>
        </ng-template>
      </table-column>
      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          {{ 'actions' | translate }}
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="edit(data)">{{ 'settings' | translate }}</span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>
