<div class="title-page">
  Danh sách email thông báo
</div>

<div class="header-btn">
  <ng-container *ngIf="(notificationsEmail$ | async) as notificationsEmail">

    <button nz-button class="add-btn primary" (click)="create()">Thêm mới</button>
    <button nz-button class="add-btn primary" (click)="delete()">Xóa</button>

    <app-table
      [rows]="notificationsEmail.rows"
      [page]="notificationsEmail.page"
      [pageSize]="notificationsEmail.pageSize"
      [pageTotal]="notificationsEmail.rowTotal"
      (onItemSelection)="getItemSelection($event)"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column [dataType]="COL_DATA_TYPE.SELECTION" fixColumn="left"></table-column>
      <table-column header="STT" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="Tên tổ chức" key="organizationName" [width]="'200px'"></table-column>
      <table-column header="Tên diễn giả" key="speakerName" [width]="'200px'"></table-column>
      <table-column header="Tên khóa học" key="courseName" [width]="'200px'"></table-column>
      <table-column header="Trạng thái" key="status" [width]="'180px'">
        <ng-template appCell let-data>
          <span class="text-valid" *ngIf="data.status">Hiển thị</span>
          <span class="text-invalid" *ngIf="!data.status">Không hiển thị</span>
        </ng-template>
      </table-column>
      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          Chức năng
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="edit(data)">Thiết lập</span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>
