<div class="title-page">
  <span *ngIf="isCreate">
    {{'add_new'|translate}}
  </span>
  <span *ngIf="!isCreate">
    {{'modify'|translate}}
  </span>
  <span>
    {{'testimonial' | translate}}
  </span>
</div>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="20">
    <form [formGroup]="testimonialForm">
      <div nz-row [nzGutter]="[16, 16]">
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <span class="text-label">
            {{'full_name' | translate}}
            <span class="text-danger">*</span>
          </span>

          <input nz-input autofocus formControlName="fullName" [nzStatus]="(testimonialForm.get('fullName')?.invalid &&
                        (testimonialForm.get('fullName')?.touched || isSubmit)) ? 'error' : ''">
          <span class="text-danger" *ngIf="(testimonialForm.get('fullName')?.touched || isSubmit)  &&
                    testimonialForm.get('fullName')?.hasError('required')">
            {{'full_name' | translate}} {{'cannot_blank' | translate}}
          </span>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <span class="text-label">
            {{'job_title' | translate}}
            <span class="text-danger">*</span>
          </span>

          <input nz-input formControlName="position" [nzStatus]="(testimonialForm.get('position')?.invalid &&
                        (testimonialForm.get('position')?.touched || isSubmit)) ? 'error' : ''">
          <span class="text-danger" *ngIf="(testimonialForm.get('position')?.touched || isSubmit)  &&
                    testimonialForm.get('position')?.hasError('required')">
            {{'job_title' | translate}} {{'cannot_blank' | translate}}
          </span>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <span class="text-label">
            {{'type' | translate}}
          </span>

          <nz-select formControlName="type">
            <nz-option [nzValue]="1" [nzLabel]="'learners' | translate"></nz-option>
            <nz-option [nzValue]="2" [nzLabel]="'teachers' | translate"></nz-option>
            <nz-option [nzValue]="3" [nzLabel]="'partners' | translate"></nz-option>
          </nz-select>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <span class="text-label">
            {{'avatar' | translate}}
          </span>

          <div class="avatar">
            <input nz-input [value]="testimonialForm.get('avatarImgPath')?.value" formControlName="avatarImgPath">

            <button nz-button nzType="primary" (click)="selectFile()">
              <span nz-icon nzType="upload"></span>
            </button>
          </div>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <span class="text-label">
            {{'star_rating' | translate}}
          </span>

          <nz-rate style="display: block" formControlName="starRate"></nz-rate>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16">
          <span class="text-label">
            {{'content' | translate}}
          </span>

          <textarea nz-input formControlName="content" [nzAutosize]="{ minRows: 3 }"></textarea>
        </div>
      </div>
    </form>
  </div>

  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4">
    <div class="btn-panel">
      <button class="btn primary" nz-button (click)="edit()">
        <span *ngIf="isCreate">
          {{'add_new'|translate}}
        </span>
        <span *ngIf="!isCreate">
          {{'save'|translate}}
        </span>
      </button>
      <button class="btn" nz-button (click)="navigateBack()">
        {{'cancel'|translate}}
      </button>
    </div>
  </div>
</div>