<div class="title-page">
  <span *ngIf="isCreate">
    Tạo mới phiếu giảm giá
  </span>

  <span *ngIf="!isCreate">
    Chỉnh sửa phiếu giảm giá
  </span>
</div>

<div nz-row>
  <div nz-col [nzSpan]="20">
    <form [formGroup]="couponForm">
      <div nz-row [nzGutter]=[16,16]>
        <div nz-col [nzSpan]="8">
          <span class="text-label">
            Mã phiếu giảm giá
            <span class="text-danger">*</span>
          </span>

          <input nz-input autofocus formControlName="code"
                 [nzStatus]="(couponForm.get('code')?.invalid &&
                             (couponForm.get('code')?.touched)) ?
                             'error' : ''"
          >

          <span
            class="text-danger"
            *ngIf="(couponForm.get('code')?.touched)  &&
                    couponForm.get('code')?.hasError('required')"
          >Mã phiếu giảm giá {{'cannot_blank' | translate}}!
          </span>
        </div>

        <div nz-col [nzSpan]="4">
          <div class="text-label">
            {{'status' | translate }}
          </div>
          <nz-switch formControlName="status"></nz-switch>
        </div>

        <div nz-col [nzSpan]="4">
          <div class="text-label">
            Công khai
          </div>
          <nz-switch formControlName="isPublic"></nz-switch>
        </div>

        <div nz-col [nzSpan]="8"></div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            Giá trị giảm
          </span>
          <nz-input-number
            style="width: 100%" [nzMin]="0" [nzStep]="1" formControlName="discountAmount"
            [nzStatus]="(couponForm.get('discountAmount')?.invalid &&
                        (couponForm.get('discountAmount')?.touched)) ?
                         'error' : ''"
          ></nz-input-number>

          <span
            class="text-danger"
            *ngIf="(couponForm.get('discountAmount')?.touched)  &&
                    couponForm.get('discountAmount')?.hasError('min')"
          >Giá trị giảm không thể nhỏ hơn hoặc bằng 0
          </span>
        </div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            Loại giảm giá
          </span>

          <nz-select formControlName="discountType">
            <nz-option [nzLabel]="'Tỷ lệ phần trăm'" [nzValue]="1"></nz-option>
            <nz-option [nzLabel]="'Số tiền cố định'" [nzValue]="2"></nz-option>
          </nz-select>
        </div>

        <div nz-col [nzSpan]="8">
          <div class="text-label">Ngày hết hạn</div>
          <nz-date-picker
            style="width: 100%"
            formControlName="expirationDate"
            [nzFormat]="'dd/MM/YYYY'"
            [nzPlaceHolder]="'Chọn ngày'"></nz-date-picker>
        </div>

        <div nz-col [nzSpan]="8">
          <div class="text-label">Giá trị đơn hàng tối thiểu</div>
          <nz-input-number-group nzSuffix="VND" style="width: 100%">
            <nz-input-number formControlName="minimumOrder" [nzMin]="0" [nzStep]="1000" [nzFormatter]="formatterCurrency">
            </nz-input-number>
          </nz-input-number-group>
        </div>

        <div nz-col [nzSpan]="8">
          <div class="text-label">Giá trị giảm tối đa</div>
          <nz-input-number-group nzSuffix="VND" style="width: 100%">
            <nz-input-number formControlName="maximumPriceDiscount" [nzMin]="0" [nzStep]="1000" [nzFormatter]="formatterCurrency">
            </nz-input-number>
          </nz-input-number-group>
        </div>

      </div>
    </form>
  </div>
  <div nz-col [nzSpan]="4">
    <div class="btn-panel">
      <button class="btn primary" nz-button [nzLoading]="loading" (click)="edit()">
        {{'save'|translate}}
      </button>
      <button class="btn" nz-button (click)="navigateBack()">
        {{'cancel'|translate}}
      </button>
    </div>
  </div>
</div>
