<div class="title-page">
  {{'sessions' | translate}}
</div>

<div class="header-btn">
  <ng-container *ngIf="(listLesson$ | async) as Lesson">
    <app-table [rows]="Lesson.rows" [page]="Lesson.page" [pageSize]="Lesson.pageSize" [pageTotal]="Lesson.rowTotal"
      (onItemSelection)="getItemSelection($event)" [clientPagination]="false" (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)" [loading]="loading">
      <!--      <table-column [dataType]="COL_DATA_TYPE.SELECTION" fixColumn="left"></table-column>-->
      <table-column header="{{ 'no' | translate }}" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'"
        fixColumn="left"></table-column>
      <table-column header="{{ 'check_in_url' | translate }}" key="attendanceLink" [width]="'200px'"></table-column>
      <table-column header="{{ 'check_in_time' | translate }}" key="timeFrame" [width]="'200px'"></table-column>
      <table-column header="{{ 'ongoing_session' | translate }}" key="lessonName" [width]="'200px'"></table-column>
      <table-column header="{{ 'opening_class' | translate }}" key="className" [width]="'200px'"></table-column>
      <table-column header="{{ 'course_name' | translate }}" key="courseName" [width]="'200px'"></table-column>
      <table-column header="{{ 'teacher_name' | translate }}" key="teacherName" [width]="'200px'"></table-column>
      <table-column header="{{ 'organization' | translate }}" key="organizationName" [width]="'200px'"></table-column>
      <table-column [width]="'180px'" fixColumn="right">
        <ng-template appHeader>
          {{ 'actions' | translate }}
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="copyLink(data)">
            Copy link
          </span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>