<nz-table
  #table
  class="table-width"
  nzOuterBordered
  nzShowSizeChanger
  [nzData]="rows"
  [nzLoading]="loading"
  [nzFrontPagination]="clientPagination"
  [nzPageIndex]="page"
  [nzPageSize]="pageSize"
  [nzTotal]="pageTotal"
  [nzFrontPagination]="clientPagination"
  (nzPageIndexChange)="pageIndexChange.emit($event)"
  (nzPageSizeChange)="pageSizeChange.emit($event)"
  [nzScroll]="{ x: '1500px', y: '590px' }"
>
  <thead>
    <tr>
      <th *ngFor="let column of columns"
        nzAlign="center"
        [nzWidth]="column.width"
        [nzLeft]="column.fixColumn === 'left'"
        [nzRight]="column.fixColumn === 'right'"
      >
        <ng-container *ngIf="column.tplHeader">
          <ng-container *ngTemplateOutlet="column.tplHeader.template"></ng-container>
        </ng-container>
        <ng-container *ngIf="!column.tplHeader">
          <ng-container [ngSwitch]="column.dataType">
            <ng-container *ngSwitchCase="COL_DATA_TYPE.SELECTION">
              <input type="checkbox" [checked]="isChecked" (click)="onCheckedAll()">
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ column.header }}
            </ng-container>
          </ng-container>
        </ng-container>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of table.data; index as i">
      <td
        *ngFor="let column of columns"
        nzAlign="center"
        [nzLeft]="column.fixColumn === 'left'"
        [nzRight]="column.fixColumn === 'right'"
      >
        <ng-container *ngIf="column.tplCell">
          <ng-container *ngTemplateOutlet="column.tplCell.template; context: { $implicit: data }"></ng-container>
        </ng-container>
        <ng-container *ngIf="!column.tplCell">
          <ng-container [ngSwitch]="column.dataType">
            <ng-container *ngSwitchCase="COL_DATA_TYPE.DATE">
              {{ data[column.key] | date: 'dd/MM/YYYY hh:mm:ss' }}
            </ng-container>
            <ng-container *ngSwitchCase="COL_DATA_TYPE.INDEX">
              {{i + 1}}
            </ng-container>
            <ng-container *ngSwitchCase="COL_DATA_TYPE.SELECTION">
              <input type="checkbox" (click)="onItemChecked(data)" [checked]="setOfCheckedId.has(data.id)">
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ data[column.key] }}
            </ng-container>
          </ng-container>
        </ng-container>
      </td>
    </tr>
  </tbody>
</nz-table>

<!--<nz-pagination [nzPageIndex]="page" [nzTotal]="20" [nzPageSize]="pageSize" nzShowSizeChanger></nz-pagination>-->
