<div class="title-page">
  {{ 'ads_orders' | translate }}
</div>

<div class="header-btn">
  <ng-container *ngIf="(order$ | async) as order">
    <button nz-button class="add-btn primary" (click)="create()">{{ 'add_new' | translate }}</button>

    <app-table [rows]="order.rows" [page]="order.page" [pageSize]="order.pageSize" [pageTotal]="order.rowTotal"
      [clientPagination]="false" (pageIndexChange)="page$.next($event)" (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading">
      <table-column header="{{ 'no' | translate }}" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'"
        fixColumn="left"></table-column>
      <table-column header="{{'start_date' | translate}}" key="id" [dataType]="COL_DATA_TYPE.DATE"
        [width]="'180px'"></table-column>
      <table-column header="{{'name_code_campaign' | translate}}" key="name" [width]="'180px'"></table-column>
      <table-column header="{{'total_budget' | translate}}" key="totalBudget" [width]="'180px'">
        <ng-template appCell let-data>
          {{data.totalBudget | currency: 'VND'}}
        </ng-template>
      </table-column>
      <table-column header="{{'target' | translate}}" key="targetDisplay" [width]="'180px'"></table-column>
      <table-column header="{{ 'cpa' | translate}}" key="cpaThreshold" [width]="'180px'"></table-column>
      <table-column header="{{'product_course' | translate}}" key="productName" [width]="'180px'"></table-column>
      <table-column header="{{'conversion_goal' | translate }}" key="conversionDestination" [width]="'180px'"></table-column>
      <table-column header="{{'ads_content_link' | translate}}" key="linkContent" [width]="'180px'"></table-column>
      <table-column header="{{'running_platform' | translate}}" key="platforms" [width]="'180px'"></table-column>
      <table-column header="{{'customer_name' | translate}}" key="customerName" [width]="'180px'"></table-column>
      <table-column header="{{'customer_phone' | translate}}" key="customerPhoneNumber"
        [width]="'180px'"></table-column>
      <table-column header="{{'executing_staff' | translate}}" key="staffName" [width]="'180px'"></table-column>
      <table-column header="{{'staff_phone' | translate}}" key="staffPhoneNumber" [width]="'180px'"></table-column>
      <table-column header="{{ 'status' | translate }}" key="offerStatus" [width]="'180px'"></table-column>
      <table-column header="{{ 'payment_status' | translate }}" key="adsPaymentStatusDisplay"
        [width]="'180px'"></table-column>
      <table-column header="{{ 'organization' | translate }}" key="organizationName" [width]="'150px'"></table-column>
      <table-column [width]="'180px'" fixColumn="right">
        <ng-template appHeader>
          {{ 'actions' | translate }}
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="edit(data)" nz-tooltip nzTooltipTitle="{{ 'settings' | translate }}">
            <span nz-icon nzType="edit" nzTheme="outline" class="custom-icon"></span>
          </span>

          <span class="custom-action" (click)="edit(data)" nz-tooltip nzTooltipTitle="{{'assign_task' | translate}}">
            <span nz-icon nzType="send" nzTheme="outline" class="custom-icon"></span>
          </span>

          <span class="custom-action" (click)="edit(data)" nz-tooltip nzTooltipTitle="{{'approve_order' | translate}}">
            <span nz-icon nzType="check" nzTheme="outline" class="custom-icon"></span>
          </span>

          <span class="custom-action delete" (click)="delete(data)" nz-tooltip
            nzTooltipTitle="{{'cancel_order' | translate }}">
            <span nz-icon nzType="delete" nzTheme="outline" class="custom-icon"></span>
          </span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>