<div class="title-page">
  {{ 'withdraw_requests' | translate }}
</div>

<div class="header-btn">
  <ng-container *ngIf="(withdrawRequest$ | async) as request">
    <app-table
      [rows]="request.rows"
      [page]="request.page"
      [pageSize]="request.pageSize"
      [pageTotal]="request.rowTotal"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column header="{{ 'no' | translate }}" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="{{ 'requested_date' | translate }}" key="createdDate" [dataType]="COL_DATA_TYPE.DATE" [width]="'150px'"></table-column>
      <table-column header="{{ 'member_name' | translate }}" key="fullName" [width]="'200px'"></table-column>
      <table-column header="Email" key="email" [width]="'180px'"></table-column>
      <table-column header="{{ 'phone_number' | translate }}" key="phoneNumber" [width]="'180px'"></table-column>
      <table-column header="{{ 'member_code' | translate }}" key="codeUser" [width]="'180px'"></table-column>
      <table-column header="{{ 'price' | translate }}" key="total" [width]="'180px'">
        <ng-template appCell let-data>
          {{data.total | currency: 'VND'}}
        </ng-template>
      </table-column>
      <table-column header="{{ 'account_number_receiver' | translate }}" key="bankNumber" [width]="'180px'"></table-column>
      <table-column header="{{ 'account_holder' | translate }}" key="bankUserName" [width]="'180px'"></table-column>
      <table-column header="{{ 'bank' | translate }}" key="bankName" [width]="'180px'"></table-column>
      <table-column header="{{ 'caring_by' | translate }}" key="caregiverName" [width]="'180px'"></table-column>
      <table-column header="{{ 'request_type' | translate }}" key="referalHistoryType" [width]="'180px'">
        <ng-template appCell let-data>
          <span *ngIf="data.referalHistoryType === 4">rút tiền</span>
          <span *ngIf="data.referalHistoryType === 5">ứng tiền</span>
        </ng-template>
      </table-column>
      <table-column header="{{ 'status' | translate }}" key="withdrawStatus" [width]="'180px'">
        <ng-template appCell let-data>
          <span *ngIf="data.withdrawStatus === 0">Chờ xử lý</span>
          <span *ngIf="data.withdrawStatus === 1">Đã xử lý</span>
          <span *ngIf="data.withdrawStatus === 2">Huỷ bỏ</span>
        </ng-template>
      </table-column>
      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          {{ 'actions' | translate }}
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="activeWithdraw(data, tplContent)">
            <span
              nzTooltipTitle="Xác nhận" nzTooltipPlacement="top" nz-tooltip
              nz-icon nzType="check" nzTheme="outline">
            </span>
          </span>

          <span class="custom-action delete" (click)="cancelWithdraw(data)">
            <span
              nzTooltipTitle="Hủy yêu cầu" nzTooltipPlacement="top" nz-tooltip
              nz-icon nzType="close" nzTheme="outline">
            </span>
          </span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>

<ng-template #tplContent let-params>
  <div nz-row (paste)="onPaste($event)">
    <div nz-col [nzSpan]="24">
      <span>{{'upload' | translate}} {{'proof_of_payment_image' | translate}}</span>
      <label for="file" class="upload">
        <span nz-icon nzType="upload" nzTheme="outline"></span>
        {{'proof_of_payment_image' | translate}}
        <div class="file-name">{{nameFilePreview}}</div>
      </label>
      <input type="file" (change)="uploadFile($event)"
             accept="image/png, image/gif, image/jpeg"
             class="upload-file" name="file" id="file">
      <div style="display: flex; justify-content: center; padding-top: 15px">
        <img
          style="margin-top: 15px"
          nz-image
          [src]="imgPreviewUrl"
          width="150"
          alt=""
        />
      </div>
    </div>
  </div>
</ng-template>
