<div class="title-page">
  Danh sách yêu cầu rút tiền
</div>

<div class="header-btn">
  <ng-container *ngIf="(withdrawRequest$ | async) as request">
    <app-table
      [rows]="request.rows"
      [page]="request.page"
      [pageSize]="request.pageSize"
      [pageTotal]="request.rowTotal"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column header="STT" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="Ngày yêu cầu" key="createdDate" [dataType]="COL_DATA_TYPE.DATE" [width]="'150px'"></table-column>
      <table-column header="Tên thành viên" key="fullName" [width]="'200px'"></table-column>
      <table-column header="Email" key="email" [width]="'180px'"></table-column>
      <table-column header="SĐT" key="phoneNumber" [width]="'180px'"></table-column>
      <table-column header="Mã thành viên" key="codeUser" [width]="'180px'"></table-column>
      <table-column header="Số tiền" key="total" [width]="'180px'">
        <ng-template appCell let-data>
          {{data.total | currency: 'VND'}}
        </ng-template>
      </table-column>
      <table-column header="Tài khoản nhận tiền" key="bankNumber" [width]="'180px'"></table-column>
      <table-column header="Tên chủ tài khoản" key="bankUserName" [width]="'180px'"></table-column>
      <table-column header="Tên ngân hàng" key="bankName" [width]="'180px'"></table-column>
      <table-column header="Nhân viên chăm sóc" key="caregiverName" [width]="'180px'"></table-column>
      <table-column header="Loại yêu cầu" key="referalHistoryType" [width]="'180px'">
        <ng-template appCell let-data>
          <span *ngIf="data.referalHistoryType === 4">rút tiền</span>
          <span *ngIf="data.referalHistoryType === 5">ứng tiền</span>
        </ng-template>
      </table-column>
      <table-column header="Trạng thái" key="withdrawStatus" [width]="'180px'">
        <ng-template appCell let-data>
          <span *ngIf="data.withdrawStatus === 0">Chờ xử lý</span>
          <span *ngIf="data.withdrawStatus === 1">Đã xử lý</span>
          <span *ngIf="data.withdrawStatus === 2">Huỷ bỏ</span>
        </ng-template>
      </table-column>
      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          Chức năng
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="activeWithdraw(data)">
            <span
              nzTooltipTitle="Xác nhận" nzTooltipPlacement="top" nz-tooltip
              nz-icon nzType="check" nzTheme="outline">
            </span>
          </span>

          <span class="custom-action delete" (click)="cancelWithdraw(data)">
            <span
              nzTooltipTitle="Hủy yêu cầu" nzTooltipPlacement="top" nz-tooltip
              nz-icon nzType="close" nzTheme="outline">
            </span>
          </span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>
