<div class="title-page">
  {{isCreate? 'Tạo mới landing page' : 'Chỉnh sửa landing page'}}
</div>

<div nz-row>
  <div nz-col [nzSpan]="20">
    <form [formGroup]="landingPageForm">
      <div nz-row [nzGutter]=[16,16]>
        <div nz-col [nzSpan]="8">
          <span class="text-label">
            {{ 'landing_page_name' | translate }}
            <span class="text-danger">*</span>
          </span>
          <input
            #landingPageName
            nz-input autofocus formControlName="name"
            [nzStatus]="(landingPageForm.get('name')?.invalid && (landingPageForm.get('name')?.touched || isSubmit)) ? 'error' : ''">

          <span class="text-danger"
                *ngIf="(landingPageForm.get('name')?.touched || isSubmit)  && landingPageForm.get('name')?.hasError('required')"
          >
            {{ 'landing_page_name' | translate }} không được để trống
          </span>
        </div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">{{ 'landing_page_code' | translate }}</span>
          <input
            nz-input formControlName="landingPageCode"
            [nzStatus]="(landingPageForm.get('landingPageCode')?.invalid && (landingPageForm.get('landingPageCode')?.touched || isSubmit)) ? 'error' : ''"
          >
          <span class="text-danger"
                *ngIf="(landingPageForm.get('landingPageCode')?.touched || isSubmit)  && landingPageForm.get('landingPageCode')?.hasError('pattern')"
          >
            {{ 'landing_page_code' | translate }} không đúng định dạng
          </span>
        </div>

        <div nz-col [nzSpan]="8" >
          <div class="text-label">{{ 'status' | translate }}</div>
          <nz-switch formControlName="status">
          </nz-switch>
        </div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            {{ 'course' | translate }}
            <span class="text-danger">*</span>
          </span>

          <div>
            <nz-select [nzDisabled]="!isCreate"
              formControlName="courseId"
              [nzStatus]="(landingPageForm.get('courseId')?.invalid && (landingPageForm.get('courseId')?.touched || isSubmit)) ? 'error' : ''"
            >
              <nz-option
                *ngFor="let course of listCourse"
                [nzValue]="course.id"
                [nzLabel]="course.title"
              ></nz-option>
            </nz-select>
          </div>

          <span class="text-danger"
                *ngIf="(landingPageForm.get('courseId')?.touched || isSubmit) && landingPageForm.get('courseId')?.hasError('required')"
          >
            Tên khóa học không được để trống
          </span>
        </div>

        <div nz-col [nzSpan]="24">
          <span class="text-label">
            Trang landing page
          </span>
          <ckeditor
            name="ckeditor_text"
            formControlName="htmlContent"
            editorUrl="https://cdn.ckeditor.com/4.14.0/full/ckeditor.js"
            [config]="ckEditorConfig"
          ></ckeditor>
        </div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            Tiêu đề seo
          </span>

          <input nz-input formControlName="seoTitle">
        </div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            Từ khóa seo
          </span>

          <input nz-input formControlName="seoKeyWords">
        </div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            Ảnh seo
          </span>

          <div class="select-seo-img">
            <input nz-input [value]="landingPageForm.get('seoImage')?.value" formControlName="seoImage">

            <button nz-button nzType="primary" (click)="selectFile()">
              <span nz-icon nzType="upload"></span>
            </button>
          </div>
        </div>

        <div nz-col [nzSpan]="16">
          <span class="text-label">
            Mô tả seo
          </span>

          <textarea
            nz-input [nzAutosize]="{ minRows: 3}" formControlName="description"
          ></textarea>
        </div>

        <div nz-col [nzSpan]="24">
          <span class="text-label">
            PixelCode
          </span>
          <ckeditor
            name="ckeditor_text"
            formControlName="pixelCode"
            editorUrl="https://cdn.ckeditor.com/4.14.0/full/ckeditor.js"
            [config]="ckEditorConfig"
          ></ckeditor>
        </div>
      </div>
    </form>
  </div>

  <div nz-col [nzSpan]="4">
    <div class="btn-panel">
      <button class="btn primary" nz-button (click)="edit()">
        {{isCreate? 'Tạo mới' : 'Lưu'}}
      </button>
      <button class="btn" nz-button (click)="navigateBack()">Hủy</button>
    </div>
  </div>
</div>
