<form nz-form [formGroup]="myForm">
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>{{ 'paid_at' | translate }}</nz-form-label>
                <nz-range-picker formControlName="dateTimeRangeCtrl" [nzFormat]="dateFormat"
                    class="w-100"></nz-range-picker>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>
                    {{'by_learners' | translate }}
                </nz-form-label>
                <nz-select nzPlaceHolder="---{{'pick' | translate }}---" formControlName="customerIdCtrl" class="w-100" nzAllowClear
                    nzShowSearch>
                    <nz-option *ngFor="let item of dropModel.usersStudent" [nzValue]="item.id"
                        [nzLabel]="item.name!"></nz-option>
                </nz-select>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>
                    {{'package_type' | translate }}
                </nz-form-label>
                <nz-select nzPlaceHolder="---{{'pick' | translate }}---" formControlName="priceMemberPolicyTypeCtrl" class="w-100"
                    nzAllowClear nzShowSearch>
                    <nz-option *ngFor="let item of lstMemberPriceType" [nzValue]="item.value"
                        [nzLabel]="item.label!"></nz-option>
                </nz-select>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>{{ 'status' | translate }} {{'orders' | translate }}</nz-form-label>
                <nz-select nzPlaceHolder="---{{'pick' | translate }}---" formControlName="paymentStatusCtrl" class="w-100" nzAllowClear
                    nzShowSearch>
                    <nz-option *ngFor="let item of lstOrderPaymentStatus" [nzValue]="item.value"
                        [nzLabel]="item.label!"></nz-option>
                </nz-select>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>
                    {{'payment_method' | translate }}
                </nz-form-label>
                <nz-select nzPlaceHolder="---{{'pick' | translate }}---" formControlName="paymentMethodCtrl" class="w-100" nzAllowClear
                    nzShowSearch>
                    <nz-option *ngFor="let item of lstPaymentMethod" [nzValue]="item.value"
                        [nzLabel]="item.label!"></nz-option>
                </nz-select>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>
                    {{'organization' | translate}}
                </nz-form-label>
                <nz-select nzPlaceHolder="---{{'pick' | translate }}---" formControlName="organizationIdCtrl" class="w-100" nzAllowClear
                    nzShowSearch>
                    <nz-option *ngFor="let item of dropModel.organizationsResponse" [nzValue]="item.id"
                        [nzLabel]="item.name!"></nz-option>
                </nz-select>
            </nz-form-item>
        </div>
    </div>
    <div nz-row class="header-btn">
        <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button type="button" [nzType]="'primary'" (click)="onSave()" style="margin-right: 10px;">
                {{ 'apply' | translate }}
            </button>
            <button nz-button class="btn-form excel" (click)="onSave(true)" style="margin-right: 10px;">
                {{ 'export_to_excel' | translate }}
                <span nz-icon nzType="file-excel" nzTheme="outline"></span>
            </button>
            <button nz-button type="button" (click)="resetForm()">{{ 'reset' | translate }}</button>
        </div>
    </div>
</form>