<form nz-form [formGroup]="myForm">
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>Ngày thanh toán</nz-form-label>
                <nz-range-picker formControlName="dateTimeRangeCtrl" [nzFormat]="dateFormat"
                    class="w-100"></nz-range-picker>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>Theo học viên</nz-form-label>
                <nz-select nzPlaceHolder="---Chọn---" formControlName="customerIdCtrl" class="w-100" nzAllowClear
                    nzShowSearch>
                    <nz-option *ngFor="let item of dropModel.usersStudent" [nzValue]="item.id"
                        [nzLabel]="item.name!"></nz-option>
                </nz-select>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>Loại gói</nz-form-label>
                <nz-select nzPlaceHolder="---Chọn---" formControlName="priceMemberPolicyTypeCtrl" class="w-100"
                    nzAllowClear nzShowSearch>
                    <nz-option *ngFor="let item of lstMemberPriceType" [nzValue]="item.value"
                        [nzLabel]="item.label!"></nz-option>
                </nz-select>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>Trạng thái đơn hàng</nz-form-label>
                <nz-select nzPlaceHolder="---Chọn---" formControlName="paymentStatusCtrl" class="w-100" nzAllowClear
                    nzShowSearch>
                    <nz-option *ngFor="let item of lstOrderPaymentStatus" [nzValue]="item.value"
                        [nzLabel]="item.label!"></nz-option>
                </nz-select>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>Phương thức thanh toán</nz-form-label>
                <nz-select nzPlaceHolder="---Chọn---" formControlName="paymentMethodCtrl" class="w-100" nzAllowClear
                    nzShowSearch>
                    <nz-option *ngFor="let item of lstPaymentMethod" [nzValue]="item.value"
                        [nzLabel]="item.label!"></nz-option>
                </nz-select>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>Tổ chức</nz-form-label>
                <nz-select nzPlaceHolder="---Chọn---" formControlName="organizationIdCtrl" class="w-100" nzAllowClear
                    nzShowSearch>
                    <nz-option *ngFor="let item of dropModel.organizationsResponse" [nzValue]="item.id"
                        [nzLabel]="item.name!"></nz-option>
                </nz-select>
            </nz-form-item>
        </div>
    </div>
    <div nz-row class="header-btn">
        <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button type="button" [nzType]="'primary'" (click)="onSave()" style="margin-right: 10px;">Áp
                dụng</button>
            <button nz-button class="btn-form excel" (click)="onSave(true)" style="margin-right: 10px;">
                Xuất excel
                <span nz-icon nzType="file-excel" nzTheme="outline"></span>
            </button>
            <button nz-button type="button" (click)="resetForm()">Cài đặt lại</button>
        </div>
    </div>
</form>