<div class="title-page">
  {{ 'forum_settings' | translate }}
</div>

<div class="header-btn">
  <ng-container *ngIf="(forumConfigPage$ | async) as config">
    <button nz-button class="add-btn primary" (click)="create()">{{ 'add_new' | translate }}</button>
    <button nz-button class="add-btn" (click)="delete()">{{ 'remove' | translate }}</button>
    <app-table
      [rows]="config.rows"
      [page]="config.page"
      [pageSize]="config.pageSize"
      [pageTotal]="config.rowTotal"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      (onItemSelection)="getItemSelection($event)"
      [loading]="loading"
    >
      <table-column [dataType]="COL_DATA_TYPE.SELECTION" fixColumn="left"></table-column>
      <table-column header="{{ 'no' | translate }}" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="{{ 'forum_name' | translate }}" key="name" [width]="'200px'"></table-column>
      <table-column header="{{ 'publish_posts' | translate }}" key="" [width]="'200px'"></table-column>
      <table-column header="{{ 'stars_rating_course' | translate }}" key="" [width]="'200px'"></table-column>
      <table-column header="{{ 'reply_others' | translate }}" key="" [width]="'200px'"></table-column>
      <table-column header="{{ 'others_repliable' | translate}}" key="" [width]="'200px'"></table-column>
      <table-column header="{{ 'comment_reaction' | translate }}" key="" [width]="'200px'"></table-column>
      <table-column header="{{ 'reacted_comment' | translate }}" key="" [width]="'200px'"></table-column>
      <table-column header="{{ 'organization' | translate }}" key="organizationName" [width]="'200px'"></table-column>
      <table-column header="{{ 'status' | translate }}" key="status" [width]="'200px'">
        <ng-template appCell let-data>
          <span class="text-valid" *ngIf="data.status">
            {{ 'activated' | translate }}
          </span>
          <span class="text-invalid" *ngIf="!data.status">
            {{ 'suspended' | translate }}
          </span>
        </ng-template>
      </table-column>
      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          {{ 'actions' | translate }}
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="edit(data)"
                nz-tooltip nzTooltipTitle="{{'edit' | translate}}">
            <span nz-icon nzType="edit" nzTheme="outline" class="custom-icon"></span>
          </span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>
