<div class="content">
  <form [formGroup]="refundForm">
    <div nz-row [nzGutter]=[16,16]>
      <div nz-col [nzSpan]="12">
        <span>
          {{'learner_name' | translate}}
        </span>

        <div>
          <input nz-input formControlName="name" readonly />
        </div>
      </div>

      <div nz-col [nzSpan]="12">
        <span class="text-label">
          {{'refund_request_type' | translate}}
        </span>

        <nz-select formControlName="type" style="width: 100%">
          <nz-option [nzValue]="1" [nzLabel]="'refunded' | translate"></nz-option>
          <nz-option [nzValue]="2" [nzLabel]="'excess_refunded' | translate"></nz-option>
        </nz-select>
      </div>

      <div nz-col [nzSpan]="12">
        <span>
          {{'account_holder' | translate}}
        </span>

        <input nz-input formControlName="bankAccountFullName">
      </div>

      <div nz-col [nzSpan]="12">
        <span>
          {{ 'account_number' | translate }}
        </span>

        <input nz-input formControlName="bankAccountNumber">
      </div>

      <div nz-col [nzSpan]="12">
        <span>
          {{'bank' | translate}}
        </span>

        <input nz-input formControlName="bankName">
      </div>

      <div nz-col [nzSpan]="12" *ngIf="refundForm.value.type === 1">
        <span>
          {{'refund_amount'}}
        </span>

        <nz-input-number style="width: 100%" formControlName="amountPaid" [nzMin]="0" [nzStep]="1000" [nzFormatter]="formatterVnd" [nzParser]="parserVnd"></nz-input-number>

        <!--        <span-->
        <!--          class="text-danger"-->
        <!--          *ngIf="(refundForm.get('amountPaid')?.touched || isSubmit) &&-->
        <!--                  refundForm.get('amountPaid')?.hasError('required')">-->
        <!--            Số tiền cần hoàn {{'cannot_blank' | translate}}</span>-->
        <!--        <span-->
        <!--          class="text-danger"-->
        <!--          *ngIf="(refundForm.get('amountPaid')?.touched || isSubmit) &&-->
        <!--                  refundForm.get('amountPaid')?.hasError('min')">-->
        <!--            Số tiền cần hoàn không thể nhỏ hơn hoặc bằng 0 VND</span>-->
      </div>

      <div nz-col [nzSpan]="24">
        <span>
          {{'note' | translate}}
        </span>

        <textarea nz-input [nzAutosize]="{ minRows: 3 }" formControlName="reasonContent"></textarea>
      </div>

      <div nz-col [nzSpan]="24">
        <span>
          {{'refund_request_image' | translate}}
        </span>
        <label for="refund" class="upload">
          <span nz-icon nzType="upload" nzTheme="outline"></span>
          {{'upload' | translate}}
          <div class="file-name">{{nameRefundImg}}</div>
        </label>
        <input type="file" (change)="uploadFile($event, 'refund')" accept="image/png, image/gif, image/jpeg" class="upload-file" name="file" id="refund">

        <div class="img-paste" (paste)="onPasteImg($event, 'refund')">
          <span *ngIf="!imgRefundUrl">
            {{'click_here_to_paste_image' | translate}} (ctrl + V)
          </span>
          <img *ngIf="imgRefundUrl" style="margin-top: 15px" nz-image [src]="imgRefundUrl" width="150" alt="" />
        </div>

        <span class="text-danger" *ngIf="(refundForm.get('requestImage')?.touched || isSubmit) &&
                  refundForm.get('requestImage')?.hasError('required')">
          {{'refund_request_image' | translate}} {{'cannot_blank' | translate}}</span>
      </div>

      <div nz-col [nzSpan]="24">
        <span>
          {{'learner_id_image' | translate}}
        </span>
        <label for="card" class="upload">
          <span nz-icon nzType="upload" nzTheme="outline"></span>
          {{'upload' | translate}}
          <div class="file-name">{{nameIdCardImg}}</div>
        </label>
        <input type="file" (change)="uploadFile($event, 'card')" accept="image/png, image/gif, image/jpeg" class="upload-file" name="file" id="card">

        <div class="img-paste" (paste)="onPasteImg($event, 'card')">
          <span *ngIf="!imgIdCardUrl">
            {{'click_here_to_paste_image' | translate}} (ctrl + V)
          </span>
          <img *ngIf="imgIdCardUrl" style="margin-top: 15px" nz-image [src]="imgIdCardUrl" width="150" alt="" />
        </div>

        <span class="text-danger" *ngIf="(refundForm.get('cardImage')?.touched || isSubmit) &&
                  refundForm.get('cardImage')?.hasError('required')">
          {{'learner_id_image' | translate}} {{'cannot_blank' | translate}}</span>
      </div>
    </div>
  </form>
</div>