<div class="title-page">
  Danh sách nhân viên
</div>

<div class="header-btn">

  <ng-container *ngIf="(staff$ | async) as staff">
    <nz-collapse class="filter-form" [class.expand]="isExpand">
      <nz-collapse-panel [nzHeader]="'Lọc'"  (nzActiveChange)="setExpand($event)">
        <app-filter-form [filterData]="listOfColumn" (getFilterData)="handleFilterForm($event)"></app-filter-form>
      </nz-collapse-panel>
    </nz-collapse>


    <button nz-button class="add-btn primary" (click)="create()">Thêm mới</button>
<!--    <button nz-button class="add-btn primary" (click)="delete()">Xóa</button>-->

    <app-table
      [rows]="staff.rows"
      [page]="staff.page"
      [pageSize]="staff.pageSize"
      [pageTotal]="staff.rowTotal"
      (onItemSelection)="getItemSelection($event)"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
<!--      <table-column [dataType]="COL_DATA_TYPE.SELECTION" fixColumn="left"></table-column>-->
      <table-column header="STT" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="Tên nhân viên" key="fullName" [width]="'200px'"></table-column>
      <table-column header="Tên tổ chức" key="organizationName" [width]="'200px'"></table-column>
      <table-column header="Email" key="email" [width]="'200px'"></table-column>
      <table-column header="SĐT" key="mobile" [width]="'200px'"></table-column>
      <table-column header="Nhóm quyền" key="courseCode" [width]="'100%'">
        <ng-template appCell let-data>
          <span *ngFor="let role of data.roles; index as i" (click)="log(data)">
            <span *ngIf="i <= 2">
              {{role.roleName}},
            </span>
            <span *ngIf="i > 2">
              và {{data.roles.length - 3}} quyền nữa
            </span>
          </span>
        </ng-template>
      </table-column>


      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          Chức năng
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="edit(data)">Sửa</span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>
