<div class="title-page">
  {{isCreate? 'Tạo email thông báo' : 'Thiết lập email thông báo'}}
</div>

<div nz-row>
  <div nz-col [nzSpan]="20">
    <form [formGroup]="emailNotificationForm">
      <div nz-row [nzGutter]=[16,16]>
        <div nz-col [nzSpan]="8">
          <span class="text-label">
            Tiêu đề email
            <span class="text-danger">*</span>
          </span>
          <input
            nz-input autofocus formControlName="emailSubject"
            [nzStatus]="(emailNotificationForm.get('emailSubject')?.invalid && (emailNotificationForm.get('emailSubject')?.touched || isSubmit)) ? 'error' : ''">

          <span class="text-danger"
                *ngIf="(emailNotificationForm.get('emailSubject')?.touched || isSubmit)  && emailNotificationForm.get('emailSubject')?.hasError('required')"
          >
            Tiêu đề email không được để trống
          </span>
        </div>

        <div nz-col [nzSpan]="8">
          <div class="text-label">Loại email</div>
          <nz-select
            [nzDisabled]="!isCreate &&
                          emailNotificationForm.value?.typeEmail === 1 ||
                          emailNotificationForm.value?.typeEmail === 2"
            formControlName="typeEmail"
            style="display: block;"
            [nzPlaceHolder]="'Chọn loại email'"
            [nzStatus]="(emailNotificationForm.get('typeEmail')?.invalid && (emailNotificationForm.get('typeEmail')?.touched || isSubmit)) ? 'error' : ''"
          >
            <nz-option
              *ngFor="let type of typeEmailList"
              [nzValue]="type.dataValue"
              [nzLabel]="type.name"
              [nzDisabled]="type.disabled"
            ></nz-option>
          </nz-select>

          <span
            class="text-danger"
            *ngIf="(emailNotificationForm.get('typeEmail')?.touched || isSubmit) &&
                    emailNotificationForm.get('typeEmail')?.hasError('required')">
            Loại email không được để trống
          </span>
        </div>

        <div nz-col [nzSpan]="2" nzOffset="1">
          <div class="text-label">Trạng thái</div>
          <nz-switch formControlName="status">
          </nz-switch>
        </div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            Khóa học
            <span class="text-danger">*</span>
          </span>

          <div>
            <nz-select
              formControlName="courseId"
              style="display: block;"
              [nzPlaceHolder]="'Chọn khóa học'"
              [(ngModel)]="courseId"
              (ngModelChange)="onCourseSelect($event)"
              [nzStatus]="(emailNotificationForm.get('courseId')?.invalid && (emailNotificationForm.get('courseId')?.touched || isSubmit)) ? 'error' : ''"
            >
              <nz-option
                *ngFor="let course of courseList"
                [nzValue]="course.id"
                [nzLabel]="course.title + ' - ' + course.courseCode"
              ></nz-option>
            </nz-select>
          </div>

          <span class="text-danger"
                *ngIf="(emailNotificationForm.get('courseId')?.touched || isSubmit) && emailNotificationForm.get('courseId')?.hasError('required')"
          >
            Tên khóa học không được để trống
          </span>
        </div>

        <div nz-col [nzSpan]="8" *ngIf="emailNotificationForm.value?.typeEmail === 5 || emailNotificationForm.value?.typeEmail === 6">
          <span class="text-label">
            Buổi học
            <span class="text-danger">*</span>
          </span>

          <div>
            <nz-select
              formControlName="lessonId"
              style="display: block;"
              [nzPlaceHolder]="'Chọn buổi học'"
              [nzStatus]="(emailNotificationForm.hasError('lessonRequired') && (emailNotificationForm.get('lessonId')?.touched || isSubmit)) ? 'error' : ''"
            >
              <nz-option
                *ngFor="let lesson of lessonList"
                [nzValue]="lesson.id"
                [nzLabel]="lesson.name"
              ></nz-option>
            </nz-select>
          </div>

          <span class="text-danger"
                *ngIf="(emailNotificationForm.get('lessonId')?.touched || isSubmit) && emailNotificationForm.hasError('lessonRequired')"
          >
            Tên buổi học không được để trống
          </span>
        </div>

        <div nz-col [nzSpan]="8" *ngIf="emailNotificationForm.value?.typeEmail === 7">
          <span class="text-label">
            Lớp học
            <span class="text-danger">*</span>
          </span>

          <div>
            <nz-select
              formControlName="classId"
              style="display: block;"
              [nzPlaceHolder]="'Chọn lớp học'"
              [nzStatus]="(emailNotificationForm.hasError('classRequired') && (emailNotificationForm.get('classId')?.touched || isSubmit)) ? 'error' : ''"
            >
              <nz-option
                *ngFor="let class of classList"
                [nzValue]="class.id"
                [nzLabel]="class.className"
              ></nz-option>
            </nz-select>
          </div>

          <span class="text-danger"
                *ngIf="(emailNotificationForm.get('classId')?.touched || isSubmit) && emailNotificationForm.hasError('classRequired')"
          >
            Tên lớp học không được để trống
          </span>
        </div>

        <div nz-col [nzSpan]="18">
          <span class="text-label">
            Nội dung email
          </span>
          <ckeditor
            name="ckeditor_text"
            formControlName="content"
            editorUrl="https://cdn.ckeditor.com/4.14.0/full/ckeditor.js"
            [config]="ckEditorConfig"
          ></ckeditor>
        </div>
      </div>
    </form>
  </div>

  <div nz-col [nzSpan]="4">
    <div class="btn-panel">
      <button class="btn primary" nz-button (click)="edit()">
        {{isCreate? 'Tạo mới' : 'Lưu'}}
      </button>

      <button class="btn" nz-button (click)="navigateBack()">Hủy</button>
    </div>
  </div>
</div>
