<div class="title-page">
  {{ 'membership_settings' | translate }}
</div>

<div class="header-btn">
  <ng-container *ngIf="(membershipConfig$ | async) as config">
    <button nz-button class="add-btn primary" (click)="edit()" >
      {{'edit' | translate}}
    </button>

    <app-table
      [rows]="config.rows"
      [page]="config.page"
      [pageSize]="config.pageSize"
      [pageTotal]="config.rowTotal"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column header="{{ 'no' | translate }}" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="{{ 'organization' | translate }}" key="organizationName" [width]="'180px'"></table-column>
      <table-column header="{{ 'downgrade_policy' | translate }}" key="description" [width]="'180px'"></table-column>
      <table-column header="{{ 'downgrade_duration' | translate }}" key="numberDaysInactivity" [width]="'180px'"></table-column>
      <table-column header="{{ 'monthly_package' | translate }}" key="isShowPriceMonth" [width]="'180px'">
        <ng-template appCell let-data>
          <span class="text-invalid" *ngIf="!data.isShowPriceMonth">Ẩn</span>
          <span class="text-valid" *ngIf="data.isShowPriceMonth">Kích hoạt</span>
        </ng-template>
      </table-column>
      <table-column header="{{ 'quarterly_package' | translate }}" key="isShowPrice3Month" [width]="'180px'">
        <ng-template appCell let-data>
          <span class="text-invalid" *ngIf="!data.isShowPrice3Month">Ẩn</span>
          <span class="text-valid" *ngIf="data.isShowPrice3Month">Kích hoạt</span>
        </ng-template>
      </table-column>
      <table-column header="{{ 'yearly_package' | translate }}" key="isShowPriceYear" [width]="'180px'">
        <ng-template appCell let-data>
          <span class="text-invalid" *ngIf="!data.isShowPriceYear">Ẩn</span>
          <span class="text-valid" *ngIf="data.isShowPriceYear">Kích hoạt</span>
        </ng-template>
      </table-column>
      <table-column header="{{ 'lifetime_package' | translate }}" key="isShowPriceForever" [width]="'180px'">
        <ng-template appCell let-data>
          <span class="text-invalid" *ngIf="!data.isShowPriceForever">Ẩn</span>
          <span class="text-valid" *ngIf="data.isShowPriceForever">Kích hoạt</span>
        </ng-template>
      </table-column>
<!--      <table-column [width]="'180px'" fixColumn="right" >-->
<!--        <ng-template appHeader>-->
<!--          {{ 'actions' | translate }}-->
<!--        </ng-template>-->

<!--        <ng-template appCell let-data>-->
<!--          <span class="custom-action" (click)="edit(data)"-->
<!--                nz-tooltip nzTooltipTitle="Chỉnh sửa cấu hình">-->
<!--            <span nz-icon nzType="edit" nzTheme="outline" class="custom-icon"></span>-->
<!--          </span>-->
<!--        </ng-template>-->
<!--      </table-column>-->
    </app-table>
  </ng-container>
</div>

