<div class="title-page">
  {{'intro_video_settings' | translate}}
</div>

<div nz-row>
  <div nz-col [nzSpan]="20">
    <form [formGroup]="introVideoForm">
      <div nz-row [nzGutter]=[16,16]>
        <div nz-col [nzSpan]="8">
          <span class="text-label">
            {{'banner_link' | translate}}
          </span>

          <div class="select-url">
            <input nz-input [value]="introVideoForm.get('bannerVideoIntroElearning')?.value" formControlName="bannerVideoIntroElearning">

            <button nz-button nzType="primary" (click)="selectFile()">
              <span nz-icon nzType="upload"></span>
            </button>
          </div>
        </div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            {{ 'video_link' | translate }}
          </span>

          <div class="select-url">
            <input nz-input [value]="introVideoForm.get('videoIntroElearning')?.value" formControlName="videoIntroElearning">

            <button nz-button nzType="primary" (click)="selectVideoUrl()">
              <span nz-icon nzType="upload"></span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div nz-col [nzSpan]="4">
    <div class="btn-panel">
      <button class="btn primary" nz-button (click)="edit()">
        {{'save'|translate}}
      </button>
      <button class="btn" nz-button (click)="navigateBack()">
        {{'cancel'|translate}}
      </button>
    </div>
  </div>
</div>