<div class="title-page">
  <span *ngIf="isCreate">
    {{'add_new'|translate}}
  </span>
  <span *ngIf="!isCreate">
    {{'modify'|translate}}
  </span>
  <span>
    {{'community_category' | translate}}
  </span>
</div>

<div nz-row>
  <div nz-col [nzSpan]="20">
    <form [formGroup]="forumCategoryForm">
      <div nz-row [nzGutter]=[16,16]>
        <div nz-col [nzSpan]="8">
          <span class="text-label">
            {{'category_name' | translate }}
            <span class="text-danger">*</span>
          </span>
          <input nz-input autofocus formControlName="name" [nzStatus]="(forumCategoryForm.get('name')?.invalid &&
                             (forumCategoryForm.get('name')?.touched || isSubmit)) ? 'error' : ''">

          <span class="text-danger" *ngIf="(forumCategoryForm.get('name')?.touched || isSubmit)  &&
                        forumCategoryForm.get('name')?.hasError('required')">
            {{'category_name' | translate }} {{'cannot_blank' | translate}}!
          </span>
        </div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
          {{'banner_link' | translate}} 
            <span class="text-danger">*</span>
          </span>

          <div class="select-url">
            <input nz-input [value]="forumCategoryForm.get('banner')?.value" formControlName="banner" [nzStatus]="(forumCategoryForm.get('banner')?.invalid &&
                               (forumCategoryForm.get('banner')?.touched || isSubmit)) ?
                               'error' : ''">

            <button nz-button nzType="primary" (click)="onSelectFile()">
              <span nz-icon nzType="upload"></span>
            </button>
          </div>

          <span class="text-danger" *ngIf="(forumCategoryForm.get('banner')?.touched || isSubmit)  &&
                        forumCategoryForm.get('banner')?.hasError('required')">
            {{'banner_link'}} {{'cannot_blank' | translate}}!
          </span>
        </div>

        <div nz-col [nzSpan]="8">
          <div class="text-label">{{ 'status' | translate }}</div>
          <nz-switch formControlName="status">
          </nz-switch>
        </div>

        <div nz-col [nzSpan]="8">
          <div class="text-label">{{'order' | translate}}</div>
          <nz-input-number style="width: 100%" formControlName="number" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </div>

        <div nz-col [nzSpan]="8"></div>

        <div nz-col [nzSpan]="16">
          <div class="text-label">
            {{'short_description' | translate}}
          </div>
          <textarea nz-input [nzAutosize]="{ minRows: 3 }" formControlName="shortDescription"></textarea>
        </div>
      </div>
    </form>
  </div>

  <div nz-col [nzSpan]="4">
    <div class="btn-panel">
      <button class="btn primary" nz-button [nzLoading]="loading" (click)="edit()">
        {{'save'|translate}}
      </button>
      <button class="btn" nz-button (click)="navigateBack()">
        {{'cancel'|translate}}
      </button>
    </div>
  </div>
</div>