<div class="title-page">
  <span *ngIf="isCreate">
    {{'add_new'|translate}}
  </span>
  <span *ngIf="!isCreate">
    {{'modify'|translate}}
  </span>
  <span>
    {{'posting_category' | translate}}
  </span>
</div>
<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="20">
    <form [formGroup]="newsCategoryForm">
      <div nz-row [nzGutter]="[16, 16]">
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <div class="d-flex justify-content-between align-items-center">
            <span class="text-label">
              {{'category_name' | translate }}
              <span class="text-danger">*</span>
            </span>
            <span nzTooltipTitle="{{'guide_news_category_name' | translate}}" nzTooltipPlacement="top" nz-tooltip nz-icon nzType="question-circle" nzTheme="outline"></span>
          </div>
          <input nz-input autofocus formControlName="title" [nzStatus]="(newsCategoryForm.get('title')?.invalid &&
                        (newsCategoryForm.get('title')?.touched || isSubmit)) ? 'error' : ''">
          <span class="text-danger" *ngIf="(newsCategoryForm.get('title')?.touched || isSubmit)  &&
                    newsCategoryForm.get('title')?.hasError('required')">
            {{'category_name' | translate }} {{'cannot_blank' | translate}}
          </span>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <div class="d-flex align-items-center">
            <span class="text-label" style="margin-right:.5rem">
              {{'status' | translate }}
            </span>
            <span nzTooltipTitle="{{'guide_news_category_status' | translate}}" nzTooltipPlacement="top" nz-tooltip nz-icon nzType="question-circle" nzTheme="outline"></span>
          </div>
          <nz-switch formControlName="status" style="display: block"></nz-switch>
        </div>
      </div>
    </form>
  </div>

  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4">
    <div class="btn-panel">
      <button class="btn primary" nz-button (click)="edit()">
        <span *ngIf="isCreate">
          {{'add_new'|translate}}
        </span>
        <span *ngIf="!isCreate">
          {{'save'|translate}}
        </span>
      </button>
      <button class="btn" nz-button (click)="navigateBack()">
        {{'cancel'|translate}}
      </button>
    </div>
  </div>
</div>