<div class="title-page">
  Danh sách tin tức
</div>

<div class="header-btn">
  <ng-container *ngIf="(newsList$ | async) as news">
    <button nz-button class="add-btn primary" (click)="create()">Thêm mới</button>
    <button nz-button class="add-btn" (click)="delete()">Xóa</button>

    <app-table
      [rows]="news.rows"
      [page]="news.page"
      [pageSize]="news.pageSize"
      [pageTotal]="news.rowTotal"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
      (onItemSelection)="getItemSelection($event)"
    >
      <table-column [dataType]="COL_DATA_TYPE.SELECTION" fixColumn="left"></table-column>
      <table-column header="STT" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="Tiêu đề" key="title" [width]="'200px'"></table-column>
      <table-column header="Danh mục" key="categoryTitles" [width]="'200px'"></table-column>
      <table-column header="Trang hiển thị" key="showByNames" [width]="'200px'"></table-column>
      <table-column header="Thuộc tổ chức" key="organizationName" [width]="'200px'"></table-column>
      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          Chức năng
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="edit(data)"
                nz-tooltip nzTooltipTitle="Thiết lập">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
          </span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>


