<div class="title-page">
  {{ 'posts' | translate }}
</div>

<div class="header-btn">
  <ng-container *ngIf="(newsList$ | async) as news">
    <button nz-button class="add-btn primary" (click)="create()">{{ 'add_new' | translate }}</button>
    <button nz-button class="add-btn" (click)="delete()">{{ 'remove' | translate }}</button>

    <app-table
      [rows]="news.rows"
      [page]="news.page"
      [pageSize]="news.pageSize"
      [pageTotal]="news.rowTotal"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
      (onItemSelection)="getItemSelection($event)"
    >
      <table-column [dataType]="COL_DATA_TYPE.SELECTION" fixColumn="left"></table-column>
      <table-column header="{{ 'no' | translate }}" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="{{ 'title' | translate }}" key="title" [width]="'200px'"></table-column>
      <table-column header="{{ 'category' | translate }}" key="categoryTitles" [width]="'200px'"></table-column>
      <table-column header="{{ 'display_page' | translate }}" key="showByNames" [width]="'200px'"></table-column>
      <table-column header="{{ 'organization' | translate }}" key="organizationName" [width]="'200px'"></table-column>
      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          {{ 'actions' | translate }}
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="edit(data)"
                nz-tooltip nzTooltipTitle="{{ 'settings' | translate }}">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
          </span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>


