<div class="title-page">
  {{ 'waiting_learners' | translate }}
</div>

<div class="header-btn">

  <ng-container *ngIf="(waitingStudent$ | async) as waitingStudent">
    <nz-collapse class="filter-form" [class.expand]="isExpand">
      <nz-collapse-panel [nzHeader]="'filter' | translate"  (nzActiveChange)="setExpand($event)">
        <app-filter-form [filterData]="listOfColumn" (getFilterData)="handleFilterForm($event)"
                         [isExportExcel]="true" (getExcelData)="handleExportExcel($event)"></app-filter-form>
      </nz-collapse-panel>
    </nz-collapse>

    <button nz-button class="add-btn primary" (click)="takeCareStudent()">{{ 'take_care' | translate }}</button>
    <button nz-button class="add-btn primary" (click)="rejectStudent()">{{ 'deny' | translate }}</button>

    <app-table
      [rows]="waitingStudent.rows"
      [page]="waitingStudent.page"
      [pageSize]="waitingStudent.pageSize"
      [pageTotal]="waitingStudent.rowTotal"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
      (onItemSelection)="getItemSelection($event)"
    >
      <table-column [dataType]="COL_DATA_TYPE.SELECTION" fixColumn="left"></table-column>
      <table-column header="{{ 'no' | translate }}" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="{{ 'created_at' | translate }}" key="createdDate" [dataType]="COL_DATA_TYPE.DATE" [width]="'150px'"></table-column>
      <table-column header="{{ 'ticket_type' | translate }}" key="ticket"></table-column>
      <table-column header="{{ 'price' | translate }}" key="price" [width]="'150px'"></table-column>
      <table-column header="{{ 'payment_status' | translate }}" key="isPay" [width]="'180px'">
        <ng-template appCell let-data>
          <span *ngIf="data.isPay === 0">{{'unpaid' | translate}}</span>
          <span *ngIf="data.isPay === 1">{{'fully_paid' | translate}}</span>
          <span *ngIf="data.isPay === 2">{{'partial_paid' | translate}}</span>
          <span *ngIf="data.isPay === 3">{{'over_paid' | translate}}</span>
          <span *ngIf="data.isPay === 4">{{'tutiton_refunded' | translate}}</span>
          <span *ngIf="data.isPay === 5">{{'excess_refunded' | translate}}</span>
        </ng-template>
      </table-column>
      <table-column header="{{ 'payment_verification' | translate }}" key="isVerifyPay" [width]="'180px'">
        <ng-template appCell let-data>
          <span class="text-invalid" *ngIf="!data.isVerifyPay">{{'unverified' | translate}}</span>
          <span class="text-valid" *ngIf="data.isVerifyPay">{{'verified' | translate}}</span>
        </ng-template>
      </table-column>
      <table-column header="{{ 'learner_name' | translate }}" key="name" [width]="'180px'"></table-column>
      <table-column header="{{ 'phone_number' | translate }}" key="mobile" [width]="'120px'"></table-column>
      <table-column header="Email" key="email" [width]="'200px'"></table-column>
      <table-column header="{{ 'learner_code' | translate }}" key="code" [width]="'180px'"></table-column>
      <table-column header="{{ 'referrer' | translate }}" key="emailRef" [width]="'180px'"></table-column>
      <table-column header="{{ 'organization' | translate }}" key="organizationName" [width]="'200px'"></table-column>
      <table-column header="{{ 'teacher_name' | translate }}" key="lecturerName" [width]="'200px'"></table-column>
      <table-column header="{{ 'course_name' | translate }}" key="courseName" [width]="'200px'"></table-column>
      <table-column header="{{ 'class_name' | translate }}" key="className" [width]="'200px'"></table-column>
      <table-column header="{{ 'landing_page' | translate }}" key="landingPageName" [width]="'200px'"></table-column>
      <table-column header="{{ 'point' | translate }}" key="title" [width]="'200px'"></table-column>
      <table-column header="{{ 'caring_by' | translate }}" key="caregiverName" [width]="'200px'"></table-column>

      <table-column header="{{ 'email_verification' | translate }}" key="isAuthEmail" [width]="'180px'">
        <ng-template appCell let-data>
          <span class="text-valid" *ngIf="data.isAuthEmail">{{'verified' | translate}}</span>
          <span class="text-invalid" *ngIf="!data.isAuthEmail">{{'unverified' | translate}}</span>
        </ng-template>
      </table-column>
      <table-column header="{{ 'status' | translate }}" key="isAccount" [width]="'180px'">
        <ng-template appCell let-data>
          <span class="text-valid" *ngIf="data.isAccount">{{'has_account' | translate}}</span>
          <span class="text-invalid" *ngIf="!data.isAccount">{{'no_account' | translate}}</span>
        </ng-template>
      </table-column>

      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          {{ 'actions' | translate }}
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="detail(data)">{{ 'details' | translate }}</span>

        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>

