<div class="title-page">
  {{'caring_learners' | translate}}
</div>

<div class="header-btn">

  <ng-container *ngIf="(takeCareStudent$ | async) as takeCareStudent">
    <nz-collapse class="filter-form" [class.expand]="isExpand">
      <nz-collapse-panel [nzHeader]="'filter' | translate"  (nzActiveChange)="setExpand($event)">
        <app-filter-form
          [filterData]="listOfColumn" (getFilterData)="handleFilterForm($event)"
          [isExportExcel]="true" (getExcelData)="handleExportExcel($event)"></app-filter-form>
      </nz-collapse-panel>
    </nz-collapse>


    <!--    <button nz-button class="add-btn primary" (click)="create()">{{ 'add_new' | translate }}</button>-->
    <!--    <button nz-button class="add-btn primary" (click)="delete()">{{ 'remove' | translate }}</button>-->

    <app-table
      [rows]="takeCareStudent.rows"
      [page]="takeCareStudent.page"
      [pageSize]="takeCareStudent.pageSize"
      [pageTotal]="takeCareStudent.rowTotal"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column header="{{ 'no' | translate }}" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="{{ 'created_at' | translate }}" key="createdDate" [dataType]="COL_DATA_TYPE.DATE" [width]="'150px'"></table-column>
      <table-column header="{{ 'ticket_type' | translate }}" key="ticket"></table-column>
      <table-column header="{{ 'price' | translate }}" key="price" [width]="'150px'">
        <ng-template appCell let-data>
          {{data.price | currency: 'VND'}}
        </ng-template>
      </table-column>
      <table-column header="{{ 'paid_amount' | translate }}" key="amountPaid" [width]="'150px'">
        <ng-template appCell let-data>
          {{data.amountPaid | currency: 'VND'}}
        </ng-template>
      </table-column>
      <table-column header="{{ 'payment_status' | translate }}" key="isPay" [width]="'180px'">
        <ng-template appCell let-data>
          <span *ngIf="data.isPay === 0">{{'unpaid' | translate}}</span>
          <span *ngIf="data.isPay === 1">{{'fully_paid' | translate}}</span>
          <span *ngIf="data.isPay === 2">{{'partial_paid' | translate}}</span>
          <span *ngIf="data.isPay === 3">{{'over_paid' | translate}}</span>
          <span *ngIf="data.isPay === 4">{{'tutiton_refunded' | translate}}</span>
          <span *ngIf="data.isPay === 5">{{'excess_refunded' | translate}}</span>
        </ng-template>
      </table-column>
      <table-column header="{{ 'update_payment' | translate }}" key="isVerifyPay" [width]="'180px'">
        <ng-template appCell let-data>
          <span class="text-invalid" *ngIf="!data.isVerifyPay">{{'unverified' | translate}}</span>
          <span class="text-valid" *ngIf="data.isVerifyPay">{{'verified' | translate}}</span>
        </ng-template>
      </table-column>
      <table-column header="{{ 'tag' | translate }}" key="tagNote" [width]="'220px'">
        <ng-template appCell let-data>
          <nz-select style="display: block" nzPlaceHolder="{{'pick_a_tag' | translate}}" [ngModel]="data.tagNote"
                     [nzCustomTemplate]="selectTag" nzBorderless (ngModelChange)="onTagChange($event, data)">
            <nz-option *ngFor="let tag of listTag" nzCustomContent
                       [nzValue]="tag.value" [nzLabel]="tag.title" [nzTitle]="tag.color">
              <nz-tag [nzColor]="tag.color">{{tag.title}}</nz-tag>
            </nz-option>
          </nz-select>

          <ng-template #selectTag let-selected>
            <nz-tag [nzColor]="selected.nzTitle">{{selected.nzLabel}}</nz-tag>
          </ng-template>
        </ng-template>
      </table-column>
      <table-column header="{{ 'learner_name' | translate }}" key="name" [width]="'180px'"></table-column>
      <table-column header="{{ 'phone_number' | translate }}" key="mobile" [width]="'120px'"></table-column>
      <table-column header="Email" key="email" [width]="'200px'"></table-column>
      <table-column header="{{ 'learner_code' | translate }}" key="code" [width]="'180px'"></table-column>
      <table-column header="{{ 'area' | translate }}" key="area" [width]="'180px'">
        <ng-template appCell let-data>
          <span *ngIf="data.area === 1">Miền Bắc</span>
          <span *ngIf="data.area === 2">Miền Trung</span>
          <span *ngIf="data.area === 3">Miền Nam</span>
        </ng-template>
      </table-column>
      <table-column header="{{ 'referrer' | translate }}" key="emailRef" [width]="'180px'"></table-column>
      <table-column header="{{ 'organization' | translate }}" key="organizationName" [width]="'200px'"></table-column>
      <table-column header="{{ 'teacher_name' | translate }}" key="lecturerName" [width]="'200px'"></table-column>
      <table-column header="{{ 'course_name' | translate }}" key="courseName" [width]="'200px'"></table-column>
      <table-column header="{{ 'class_name' | translate }}" key="className" [width]="'200px'"></table-column>
      <table-column header="{{ 'landing_page' | translate }}" key="landingPageName" [width]="'200px'"></table-column>
      <table-column header="{{ 'point' | translate }}" key="title" [width]="'200px'"></table-column>
      <table-column header="{{ 'caring_by' | translate }}" key="caregiverName" [width]="'200px'"></table-column>

      <table-column header="{{ 'email_verification' | translate }}" key="isAuthEmail" [width]="'180px'">
        <ng-template appCell let-data>
          <span class="text-valid" *ngIf="data.isAuthEmail">
            {{'verified' | translate}}
          </span>
          <span class="text-invalid" *ngIf="!data.isAuthEmail">
            {{'unverified' | translate}}
          </span>
        </ng-template>
      </table-column>
      <table-column header="{{ 'status' | translate }}" key="isAccount" [width]="'180px'">
        <ng-template appCell let-data>
          <span class="text-valid" *ngIf="data.isAccount">
            {{'has_account' | translate}}
          </span>
          <span class="text-invalid" *ngIf="!data.isAccount">
            {{'no_account' | translate}}
          </span>
        </ng-template>
      </table-column>
      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          {{ 'actions' | translate }}
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="detail(data)"
                nz-tooltip nzTooltipTitle="{{ 'details' | translate }}">
            <span nz-icon nzType="search" nzTheme="outline"></span>
          </span>

          <span class="custom-action"
                nz-tooltip nzTooltipTitle="{{ 'make_a_call' | translate }}">
            <span nz-icon nzType="phone" nzTheme="outline"></span>
          </span>

          <span class="custom-action" (click)="upgradeCourse(data)"
                nz-tooltip nzTooltipTitle="{{ 'upgrade_course' | translate }}">
            <span nz-icon nzType="arrow-up" nzTheme="outline"></span>
          </span>

          <span class="custom-action" (click)="paymentCheck(data)"
                nz-tooltip nzTooltipTitle="{{ 'payment_updates' | translate }}">
            <span nz-icon nzType="wallet" nzTheme="outline"></span>
          </span>

          <span class="custom-action" (click)="openDrawer(data)"
                nz-tooltip nzTooltipTitle="{{ 'take_note' | translate }}">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
          </span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>

<ng-template #drawerTemplate let-data let-drawerRef="drawerRef">
  <textarea  class="take-note" nz-input placeholder="{{'take_note_here' | translate}}" [(ngModel)]="note"></textarea>
  <div class="take-note-btn">
    <button nz-button nzType="primary" (click)="addNote(data)" (click)="drawerRef.close()">
      {{ 'save' | translate }}
    </button>
    <button nz-button (click)="drawerRef.close()">
      {{ 'cancel' | translate }}
    </button>
  </div>
</ng-template>

