<div class="title-page">
  Danh sách học viên đang chăm
</div>

<div class="header-btn">

  <ng-container *ngIf="(takeCareStudent$ | async) as takeCareStudent">
    <nz-collapse class="filter-form" [class.expand]="isExpand">
      <nz-collapse-panel [nzHeader]="'Lọc'"  (nzActiveChange)="setExpand($event)">
        <app-filter-form
          [filterData]="listOfColumn" (getFilterData)="handleFilterForm($event)"
          [isExportExcel]="true" (getExcelData)="handleExportExcel($event)"></app-filter-form>
      </nz-collapse-panel>
    </nz-collapse>


    <!--    <button nz-button class="add-btn primary" (click)="create()">Thêm mới</button>-->
    <!--    <button nz-button class="add-btn primary" (click)="delete()">Xóa</button>-->

    <app-table
      [rows]="takeCareStudent.rows"
      [page]="takeCareStudent.page"
      [pageSize]="takeCareStudent.pageSize"
      [pageTotal]="takeCareStudent.rowTotal"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column header="STT" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="Ngày đăng ký" key="createdDate" [dataType]="COL_DATA_TYPE.DATE" [width]="'150px'"></table-column>
      <table-column header="Loại vé" key="ticket"></table-column>
      <table-column header="Số tiền" key="price" [width]="'150px'"></table-column>
      <table-column header="Thanh toán" key="isPay" [width]="'180px'">
        <ng-template appCell let-data>
          <span class="text-invalid" *ngIf="data.isPay === 0">Chưa thanh toán</span>
          <span class="text-warning" *ngIf="data.isPay === 2">Thanh toán một phần</span>
          <span class="text-valid" *ngIf="data.isPay === 1">Đã thanh toán</span>
        </ng-template>
      </table-column>
      <table-column header="Thẻ tag" key="tagNote" [width]="'220px'">
        <ng-template appCell let-data>
          <nz-select style="display: block" nzPlaceHolder="Chọn thẻ tag" [ngModel]="data.tagNote"
                     [nzCustomTemplate]="selectTag" nzBorderless (ngModelChange)="onTagChange($event, data)">
            <nz-option *ngFor="let tag of listTag" nzCustomContent
                       [nzValue]="tag.value" [nzLabel]="tag.title" [nzTitle]="tag.color">
              <nz-tag [nzColor]="tag.color">{{tag.title}}</nz-tag>
            </nz-option>
          </nz-select>

          <ng-template #selectTag let-selected>
            <nz-tag [nzColor]="selected.nzTitle">{{selected.nzLabel}}</nz-tag>
          </ng-template>
        </ng-template>
      </table-column>
      <table-column header="Tên học viên" key="name" [width]="'180px'"></table-column>
      <table-column header="Số điện thoại" key="mobile" [width]="'120px'"></table-column>
      <table-column header="Email" key="email" [width]="'200px'"></table-column>
      <table-column header="Mã học viên" key="code" [width]="'180px'"></table-column>
      <table-column header="Khu vực" key="area" [width]="'180px'">
        <ng-template appCell let-data>
          <span *ngIf="data.area === 1">Miền Bắc</span>
          <span *ngIf="data.area === 2">Miền Trung</span>
          <span *ngIf="data.area === 3">Miền Nam</span>
        </ng-template>
      </table-column>
      <table-column header="Người giới thiệu" key="userRef" [width]="'180px'"></table-column>
      <table-column header="Thuộc tổ chức" key="organizationName" [width]="'200px'"></table-column>
      <table-column header="Tên diễn giả" key="lecturerName" [width]="'200px'"></table-column>
      <table-column header="Tên khóa học" key="courseName" [width]="'200px'"></table-column>
      <table-column header="Tên lớp học" key="className" [width]="'200px'"></table-column>
      <table-column header="Tên landing page" key="landingPageName" [width]="'200px'"></table-column>
      <table-column header="Số điểm" key="title" [width]="'200px'"></table-column>
      <table-column header="Nhân viên chăm sóc" key="caregiverName" [width]="'200px'"></table-column>

      <table-column header="Xác thực email" key="isAuthEmail" [width]="'180px'">
        <ng-template appCell let-data>
          <span class="text-valid" *ngIf="data.isAuthEmail">Đã xác thực</span>
          <span class="text-invalid" *ngIf="!data.isAuthEmail">Chưa xác thực</span>
        </ng-template>
      </table-column>
      <table-column header="Trạng thái" key="isAccount" [width]="'180px'">
        <ng-template appCell let-data>
          <span class="text-valid" *ngIf="data.isAccount">Có tài khoản</span>
          <span class="text-invalid" *ngIf="!data.isAccount">Chưa có tài khoản</span>
        </ng-template>
      </table-column>
      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          Chức năng
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="detail(data)"
                nz-tooltip nzTooltipTitle="Chi tiết học viên">
            <span nz-icon nzType="search" nzTheme="outline"></span>
          </span>

          <span class="custom-action"
                nz-tooltip nzTooltipTitle="Gọi điện">
            <span nz-icon nzType="phone" nzTheme="outline"></span>
          </span>

          <span class="custom-action" (click)="upgradeCourse(data)"
                nz-tooltip nzTooltipTitle="Nâng cấp khóa học">
            <span nz-icon nzType="arrow-up" nzTheme="outline"></span>
          </span>

          <span class="custom-action" (click)="paymentCheck(data)"
                nz-tooltip nzTooltipTitle="Xác thực thanh toán">
            <span nz-icon nzType="wallet" nzTheme="outline"></span>
          </span>

          <span class="custom-action" (click)="openDrawer(data)"
                nz-tooltip nzTooltipTitle="Ghi chú">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
          </span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>

<ng-template #drawerTemplate let-data let-drawerRef="drawerRef">
  <textarea  class="take-note" nz-input placeholder="Viết ghi chú ở đây" [(ngModel)]="note"></textarea>
  <div class="take-note-btn">
    <button nz-button nzType="primary" (click)="addNote(data)" (click)="drawerRef.close()">Lưu</button>
    <button nz-button (click)="drawerRef.close()">Hủy</button>
  </div>
</ng-template>

