.text-valid {
  color: #52c41a;
}

.text-invalid {
  color: #ff4d4f;
}

.custom-action{
  cursor: pointer;
  padding-right: 5px;
  &:hover{
    color: #1677ff;
  }
}

.filter-form{
  margin-bottom: 15px;
  width: 10%;
  transition: 0.25s;
  &.expand {
    width: 100%;
  }
  border-radius: 4px;
}
