<div class="title-page">
  {{isCreate? 'Tạo mới phương thức thanh toán' : 'Chỉnh sửa phương thức thanh toán'}}
</div>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="20">
    <form [formGroup]="paymentMethodForm">
      <div nz-row [nzGutter]="[16, 16]">
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="9">
          <span class="text-label">
            Chọn phương thức
          </span>

          <nz-select formControlName="type" style="display: block" [nzDisabled]="!isCreate">
            <nz-option [nzValue]="1" [nzLabel]="'Chuyển khoản'"></nz-option>
            <nz-option [nzValue]="2" [nzLabel]="'VnPay'"></nz-option>
          </nz-select>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="9">
          <span class="text-label">
            {{ 'status' | translate }}
          </span>

          <nz-switch formControlName="status" style="display: block"></nz-switch>
        </div>

        <ng-container *ngIf="paymentMethodForm.value?.type === 1">
          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="9">
          <span class="text-label">
            Tên ngân hàng
            <span class="text-danger">*</span>
          </span>

            <input nz-input formControlName="bankName"
                   [nzStatus]="(paymentMethodForm.get('bankName')?.invalid &&
                               (paymentMethodForm.get('bankName')?.touched || isSubmit)) ? 'error' : ''">
            <span class="text-danger"
                  *ngIf="(paymentMethodForm.get('bankName')?.touched || isSubmit)  &&
                          paymentMethodForm.get('bankName')?.hasError('requireValue')">
              Tên ngân hàng không được để trống
            </span>
          </div>

          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="9">
          <span class="text-label">
            {{ 'account_number' | translate }}
            <span class="text-danger">*</span>
          </span>

            <input nz-input formControlName="bankNumber"
                   [nzStatus]="(paymentMethodForm.get('bankNumber')?.invalid &&
                               (paymentMethodForm.get('bankNumber')?.touched || isSubmit)) ? 'error' : ''">
            <span class="text-danger"
                  *ngIf="(paymentMethodForm.get('bankNumber')?.touched || isSubmit)  &&
                          paymentMethodForm.get('bankNumber')?.hasError('requireValue')">
              {{ 'account_number' | translate }} không được để trống
            </span>
          </div>

          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="9">
          <span class="text-label">
            {{ 'account_holder' | translate }}
            <span class="text-danger">*</span>
          </span>

            <input nz-input formControlName="bankUserName"
                   [nzStatus]="(paymentMethodForm.get('bankUserName')?.invalid &&
                               (paymentMethodForm.get('bankUserName')?.touched || isSubmit)) ? 'error' : ''">
            <span class="text-danger"
                  *ngIf="(paymentMethodForm.get('bankUserName')?.touched || isSubmit)  &&
                          paymentMethodForm.get('bankUserName')?.hasError('requireValue')">
              {{ 'account_holder' | translate }} không được để trống
            </span>
          </div>

          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="9">
          <span class="text-label">
            Mã QR
            <span class="text-danger">*</span>
          </span>

            <div style="display: flex">
              <input nz-input formControlName="bankQR"
                     [nzStatus]="(paymentMethodForm.get('bankQR')?.invalid &&
                                 (paymentMethodForm.get('bankQR')?.touched || isSubmit)) ? 'error' : ''">
              <button nz-button nzType="primary" (click)="onSelectFile()">
                <span nz-icon nzType="upload"></span>
              </button>
            </div>

            <span class="text-danger"
                  *ngIf="(paymentMethodForm.get('bankQR')?.touched || isSubmit)  &&
                          paymentMethodForm.get('bankQR')?.hasError('requireValue')">
                  Mã QR không được để trống
            </span>
          </div>
        </ng-container>

        <ng-container *ngIf="paymentMethodForm.value?.type === 2">
          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="9">
            <span class="text-label">
              VnPay-TmnCode
              <span class="text-danger">*</span>
            </span>

            <input nz-input formControlName="vnPayTmnCode"
                   [nzStatus]="(paymentMethodForm.get('vnPayTmnCode')?.invalid &&
                               (paymentMethodForm.get('vnPayTmnCode')?.touched || isSubmit)) ? 'error' : ''">
            <span class="text-danger"
                  *ngIf="(paymentMethodForm.get('vnPayTmnCode')?.touched || isSubmit)  &&
                          paymentMethodForm.get('vnPayTmnCode')?.hasError('requireValue')">
                  VnPay-TmnCode không được để trống
            </span>
          </div>

          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="9">
          <span class="text-label">
            VnPay-ashSecret
            <span class="text-danger">*</span>
          </span>

            <input nz-input formControlName="vnPayHashSecret"
                   [nzStatus]="(paymentMethodForm.get('vnPayHashSecret')?.invalid &&
                               (paymentMethodForm.get('vnPayHashSecret')?.touched || isSubmit)) ? 'error' : ''">
            <span class="text-danger"
                  *ngIf="(paymentMethodForm.get('vnPayHashSecret')?.touched || isSubmit)  &&
                          paymentMethodForm.get('vnPayHashSecret')?.hasError('requireValue')">
                  VnPay-ashSecret không được để trống
            </span>
          </div>

          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="9">
          <span class="text-label">
            VnPay-PaymentUrl
            <span class="text-danger">*</span>
          </span>

            <input nz-input formControlName="vnPayPaymentUrl"
                   [nzStatus]="(paymentMethodForm.get('vnPayPaymentUrl')?.invalid &&
                               (paymentMethodForm.get('vnPayPaymentUrl')?.touched || isSubmit)) ? 'error' : ''">
            <span class="text-danger"
                  *ngIf="(paymentMethodForm.get('vnPayPaymentUrl')?.touched || isSubmit)  &&
                          paymentMethodForm.get('vnPayPaymentUrl')?.hasError('requireValue')">
                  VnPay-PaymentUrl không được để trống
            </span>
          </div>

          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="9">
          <span class="text-label">
            VnPay-ReturnUrl
            <span class="text-danger">*</span>
          </span>

            <input nz-input formControlName="vnPayReturnUrl"
                   [nzStatus]="(paymentMethodForm.get('vnPayReturnUrl')?.invalid &&
                               (paymentMethodForm.get('vnPayReturnUrl')?.touched || isSubmit)) ? 'error' : ''">

            <span class="text-danger"
                  *ngIf="(paymentMethodForm.get('vnPayReturnUrl')?.touched || isSubmit)  &&
                          paymentMethodForm.get('vnPayReturnUrl')?.hasError('requireValue')">
                  VnPay-ReturnUrl không được để trống
            </span>
          </div>
        </ng-container>
      </div>
    </form>
  </div>

  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4">
    <div class="btn-panel">
      <button class="btn primary" nz-button (click)="edit()">
        {{isCreate? 'Tạo mới' : 'Lưu'}}
      </button>
      <button class="btn" nz-button (click)="navigateBack()">Hủy</button>
    </div>
  </div>
</div>
