<div class="title-page">
  {{'edu_events' | translate}}
</div>

<div class="header-btn">
  <ng-container *ngIf="(eventList$ | async) as event">
    <button nz-button class="add-btn primary" (click)="create()">{{ 'add_new' | translate }}</button>
    <button nz-button class="add-btn" (click)="delete()">{{ 'remove' | translate }}</button>

    <app-table
      [rows]="event.rows"
      [page]="event.page"
      [pageSize]="event.pageSize"
      [pageTotal]="event.rowTotal"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
      (onItemSelection)="getItemSelection($event)"
    >
      <table-column [dataType]="COL_DATA_TYPE.SELECTION" fixColumn="left"></table-column>
      <table-column header="{{ 'no' | translate }}" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="{{ 'event_name' | translate }}" key="title" [width]="'200px'"></table-column>
      <table-column header="{{ 'started_at' | translate }}" key="dateOfEvent" [width]="'200px'"></table-column>
      <table-column header="{{ 'location' | translate }}" key="local" [width]="'200px'"></table-column>
      <table-column header="{{ 'event_link' | translate }}" key="link" [width]="'200px'"></table-column>
      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          {{ 'actions' | translate }}
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="edit(data)"
                nz-tooltip nzTooltipTitle="{{ 'settings' | translate }}">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
          </span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>
