<div class="title-page">
  {{ 'course_list' | translate }}
</div>

<div class="header-btn">

  <ng-container *ngIf="(coursePage$ | async) as coursePage">
    <nz-collapse class="filter-form" [class.expand]="isExpand">
      <nz-collapse-panel [nzHeader]="'filter' | translate"  (nzActiveChange)="setExpand($event)">
        <app-filter-form [filterData]="listOfColumn" (getFilterData)="handleFilterForm($event)"></app-filter-form>
      </nz-collapse-panel>
    </nz-collapse>


    <button nz-button class="add-btn primary" (click)="create()">{{ 'add_new' | translate }}</button>
    <button nz-button class="add-btn primary" (click)="delete()">{{ 'remove' | translate }}</button>

    <app-table
      [rows]="coursePage.rows"
      [page]="coursePage.page"
      [pageSize]="coursePage.pageSize"
      [pageTotal]="coursePage.rowTotal"
      (onItemSelection)="getItemSelection($event)"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column [dataType]="COL_DATA_TYPE.SELECTION" fixColumn="left"></table-column>
      <table-column header="{{ 'no' | translate }}" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="{{ 'created_at' | translate }}" key="createdDate" [dataType]="COL_DATA_TYPE.DATE" [width]="'150px'"></table-column>
      <table-column header="{{ 'course_name' | translate }}" key="title" [width]="'200px'"></table-column>
      <table-column header="{{ 'price' | translate }}" key="coursePrice" [width]="'200px'">
        <ng-template appCell let-data>
          {{data.coursePrice + ' VND'}}
        </ng-template>
      </table-column>
      <table-column header="{{ 'course_code' | translate }}" key="courseCode" [width]="'300px'"></table-column>
      <table-column header="{{ 'course_type' | translate }}" key="type" [width]="'200px'">
        <ng-template appCell let-data>
          <span *ngIf="data.type === 1">Khóa phễu</span>
          <span *ngIf="data.type === 2">Khóa lớn</span>
        </ng-template>
      </table-column>
      <table-column header="{{ 'teacher_name' | translate }}" key="teacherName" [width]="'200px'"></table-column>
      <table-column header="{{ 'organization' | translate }}" key="organizationName" [width]="'200px'"></table-column>
      <table-column header="{{ 'status' | translate }}" key="status" [width]="'180px'">
        <ng-template appCell let-data>
          <span class="text-valid" *ngIf="data.status">Hiển thị</span>
          <span class="text-invalid" *ngIf="!data.status">Không hiển thị</span>
        </ng-template>
      </table-column>

      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          {{ 'actions' | translate }}
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="edit(data)">{{ 'edit' | translate }}</span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>
