<div class="title-page">
  {{isCreate? 'Tạo mới lớp học' : 'Chỉnh sửa lớp học'}}
</div>

<div nz-row>
  <div nz-col [nzSpan]="20">
    <form [formGroup]="classForm">
      <div nz-row [nzGutter]=[16,16]>
        <div nz-col [nzSpan]="8">
          <span class="text-label">
            Tên lớp học
            <span class="text-danger">*</span>
          </span>
          <input
            nz-input autofocus formControlName="title"
            [nzStatus]="(classForm.get('title')?.invalid && (classForm.get('title')?.touched || isSubmit)) ? 'error' : ''">

          <span class="text-danger"
                *ngIf="(classForm.get('title')?.touched || isSubmit)  && classForm.get('title')?.hasError('required')"
          >
            Tên khóa học không được để trống
          </span>
        </div>

        <div nz-col [nzSpan]="24">
          <nz-list nzBordered nzHeader="Danh sách buổi học" >
            <nz-list-item
                *ngFor="let lesson of listLesson">
              {{lesson.name}}
            </nz-list-item>
          </nz-list>
        </div>
      </div>
    </form>
  </div>

  <div nz-col [nzSpan]="4">
    <div class="btn-panel">
      <button class="btn primary" nz-button (click)="edit()">
        {{isCreate? 'Tạo mới' : 'Lưu'}}
      </button>
      <button class="btn" nz-button (click)="navigateBack()">Hủy</button>
    </div>
  </div>
</div>
