<div class="title-page">
  {{isCreate? 'Tạo form đăng ký' : 'Chỉnh sửa form đăng ký'}}
</div>

<div nz-row>
  <div nz-col [nzSpan]="20">
    <form [formGroup]="builderForm">
      <div nz-row [nzGutter]=[16,16]>
        <div nz-col [nzSpan]="9">
          <span class="text-label">
            Tiêu đề
          </span>

          <input
            nz-input formControlName="title" autofocus
            [nzStatus]="(this.builderForm.get('title')?.invalid && (builderForm.get('title')?.touched || isSubmit)) ? 'error' : ''">

          <span class="text-danger"
                *ngIf="(builderForm.get('title')?.touched || isSubmit)  && builderForm.get('title')?.hasError('required')"
          >
            Tiêu đề không được để trống
          </span>
        </div>

        <div nz-col [nzSpan]="9" class="text-right">
          <div class="text-label">Trạng thái</div>
          <nz-switch formControlName="status">
          </nz-switch>
        </div>

        <div nz-col [nzSpan]="9">
          <span class="text-label">
            Đường dẫn nhóm zalo
          </span>

          <input
            nz-input formControlName="zaloLink"
            [nzStatus]="(this.builderForm.get('zaloLink')?.invalid && (builderForm.get('zaloLink')?.touched || isSubmit)) ? 'error' : ''">

          <span class="text-danger"
                *ngIf="(builderForm.get('zaloLink')?.touched || isSubmit)  && builderForm.get('zaloLink')?.hasError('pattern')"
          >
            Đường dẫn nhóm zalo không đúng định dạng
          </span>
        </div>

        <div nz-col [nzSpan]="9">
          <span class="text-label">
            Đường dẫn trang chuyển hướng
          </span>

          <input
            nz-input formControlName="redirectLink"
            [nzStatus]="(this.builderForm.get('redirectLink')?.invalid && (builderForm.get('redirectLink')?.touched || isSubmit)) ? 'error' : ''">

          <span class="text-danger"
                *ngIf="(builderForm.get('redirectLink')?.touched || isSubmit)  && builderForm.get('redirectLink')?.hasError('pattern')"
          >
            Đường dẫn trang chuyển hướng không đúng định dạng
          </span>
        </div>

        <div nz-col [nzSpan]="18">
          <span class="text-label">
            Mô tả
          </span>

          <textarea nz-input formControlName="title"></textarea>
        </div>

        <div nz-col [nzSpan]="18">
          <span class="text-label">
            Nội dung trang thank you
          </span>
          <ckeditor
            name="ckeditor_text"
            formControlName="thankYouHtml"
            editorUrl="https://cdn.ckeditor.com/4.14.0/full/ckeditor.js"
            [config]="ckEditorConfig"
            (ready)="onCkEditorReady($event)"
          ></ckeditor>
        </div>

        <div nz-col [nzSpan]="18">
          <span class="text-label">
            Các thông tin cần thu thập
          </span>

          <div nz-row [nzGutter]=[8,8] class="form-selection">
            <div nz-col nzSpan="8">
              <label nz-checkbox [nzDisabled]="true" formControlName="hasFullName">Họ & tên (Bắt buộc)</label>
            </div>
            <div nz-col nzSpan="8">
              <label nz-checkbox [nzDisabled]="true" formControlName="hasEmail">Email (Bắt buộc)</label>
            </div>
            <div nz-col nzSpan="8">
              <label nz-checkbox [nzDisabled]="true" formControlName="hasPhoneNumber">Số điện thoại (Bắt buộc)</label>
            </div>
            <div nz-col nzSpan="8">
              <label nz-checkbox formControlName="hasAddress">Địa chỉ</label>
            </div>
            <div nz-col nzSpan="8">
              <label nz-checkbox formControlName="hasGender">Giới tính</label>
            </div>
            <div nz-col nzSpan="8">
              <label nz-checkbox formControlName="hasDob">Ngày sinh</label>
            </div>
            <div nz-col nzSpan="8">
              <label nz-checkbox formControlName="hasArea">Khu vực địa lý</label>
            </div>
            <div nz-col nzSpan="8">
              <label nz-checkbox formControlName="hasDemand">Nhu cầu</label>
            </div>
          </div>

        </div>
      </div>
    </form>

  </div>

  <div nz-col [nzSpan]="4">
    <div class="btn-panel">
      <button class="btn primary" nz-button (click)="editForm()">
        {{isCreate? 'Tạo mới' : 'Lưu'}}
      </button>
      <button class="btn" nz-button (click)="navigateBack()">Hủy</button>
    </div>
  </div>
</div>
