<div class="title-page">
  <span *ngIf="isCreate">
    {{'add_new'|translate}}
  </span>
  <span *ngIf="!isCreate">
    {{'modify'|translate}}
  </span>
  <span>
    {{'registration_form' | translate}}
  </span>
</div>

<div nz-row>
  <div nz-col [nzSpan]="20">
    <form [formGroup]="builderForm">
      <div nz-row [nzGutter]=[16,16]>
        <div nz-col [nzSpan]="9">
          <span class="text-label">
            {{'title' | translate}}
          </span>

          <input nz-input formControlName="title" autofocus
            [nzStatus]="(this.builderForm.get('title')?.invalid && (builderForm.get('title')?.touched || isSubmit)) ? 'error' : ''">

          <span class="text-danger"
            *ngIf="(builderForm.get('title')?.touched || isSubmit)  && builderForm.get('title')?.hasError('required')">
            {{'title' | translate}} {{'cannot_blank' | translate}}
          </span>
        </div>

        <div nz-col [nzSpan]="9" class="text-right">
          <div class="text-label">{{ 'status' | translate }}</div>
          <nz-switch formControlName="status">
          </nz-switch>
        </div>

        <div nz-col [nzSpan]="9">
          <span class="text-label">
            {{'zalo_group_link' | translate}}
          </span>

          <input nz-input formControlName="zaloLink"
            [nzStatus]="(this.builderForm.get('zaloLink')?.invalid && (builderForm.get('zaloLink')?.touched || isSubmit)) ? 'error' : ''">

          <!--          <span class="text-danger"-->
          <!--                *ngIf="(builderForm.get('zaloLink')?.touched || isSubmit)  && builderForm.get('zaloLink')?.hasError('pattern')"-->
          <!--          >-->
          <!--            Đường dẫn nhóm zalo {{'invalid_format' | translate}}-->
          <!--          </span>-->
        </div>

        <div nz-col [nzSpan]="9" *ngIf="!isCreate">
          <span class="text-label">
            {{'redirect_link' | translate}}
          </span>

          <input [readonly]="!isCreate" nz-input formControlName="redirectLink"
            [nzStatus]="(builderForm.get('redirectLink')?.invalid && (builderForm.get('redirectLink')?.touched || isSubmit)) ? 'error' : ''">

          <span class="text-danger"
            *ngIf="(builderForm.get('redirectLink')?.touched || isSubmit)  && builderForm.get('redirectLink')?.hasError('pattern')">
            {{'redirect_link' | translate}} {{'invalid_format' | translate}}
          </span>
        </div>

        <div nz-col [nzSpan]="9">
          <span class="text-label">
            {{ 'course' | translate }}
            <span class="text-danger">*</span>
          </span>

          <div>
            <nz-select [nzDisabled]="!isCreate" formControlName="courseId"
              [nzStatus]="(builderForm.get('courseId')?.invalid && (builderForm.get('courseId')?.touched || isSubmit)) ? 'error' : ''">
              <nz-option *ngFor="let course of listCourse" [nzValue]="course.id" [nzLabel]="course.title"></nz-option>
            </nz-select>
          </div>

          <span class="text-danger"
            *ngIf="(builderForm.get('courseId')?.touched || isSubmit) && builderForm.get('courseId')?.hasError('required')">
            {{ 'course_name' | translate }} {{'cannot_blank' | translate}}
          </span>
        </div>

        <div nz-col [nzSpan]="18">
          <span class="text-label">
            {{'description' | translate}}
          </span>

          <textarea nz-input formControlName="description"></textarea>
        </div>

        <div nz-col [nzSpan]="18">
          <span class="text-label">
            {{'thank_you_page_content' | translate}}
          </span>
          <ckeditor name="ckeditor_text" formControlName="thankYouHtml"
            editorUrl="https://cdn.ckeditor.com/4.14.0/full/ckeditor.js" [config]="ckEditorConfig"
            (ready)="onCkEditorReady($event)"></ckeditor>
        </div>

        <div nz-col [nzSpan]="18">
          <span class="text-label">
            {{'collected_information' | translate}}
          </span>

          <div nz-row [nzGutter]=[8,8] class="form-selection">
            <div nz-col nzSpan="8">
              <label nz-checkbox [nzDisabled]="true" formControlName="hasFullName">
                {{'full_name' | translate}} ({{'required' | translate}})
              </label>
            </div>
            <div nz-col nzSpan="8">
              <label nz-checkbox [nzDisabled]="true" formControlName="hasEmail">
                Email ({{'required' | translate}})
              </label>
            </div>
            <div nz-col nzSpan="8">
              <label nz-checkbox [nzDisabled]="true" formControlName="hasPhoneNumber">
                {{'phone_number' | translate}} ({{'required' | translate}})
              </label>
            </div>
            <div nz-col nzSpan="8">
              <label nz-checkbox formControlName="hasAddress">
                {{'address' | translate}}
              </label>
            </div>
            <div nz-col nzSpan="8">
              <label nz-checkbox formControlName="hasGender">
                {{'gender' | translate}}
              </label>
            </div>
            <div nz-col nzSpan="8">
              <label nz-checkbox formControlName="hasDob">
                {{'date_of_birth' | translate}}
              </label>
            </div>
            <div nz-col nzSpan="8">
              <label nz-checkbox formControlName="hasArea">
                {{'area' | translate}}
              </label>
            </div>
            <div nz-col nzSpan="8">
              <label nz-checkbox formControlName="hasDemand">
                {{'demand' | translate}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>

  <div nz-col [nzSpan]="4">
    <div class="btn-panel">
      <button class="btn primary" nz-button (click)="editForm()">
        <span *ngIf="isCreate">
          {{'add_new'|translate}}
        </span>
        <span *ngIf="!isCreate">
          {{'save'|translate}}
        </span>
      </button>
      <button class="btn" nz-button (click)="navigateBack()">
        {{'cancel'|translate}}
      </button>
    </div>
  </div>
</div>