<form [formGroup]="lessonForm">
  <div nz-row [nzGutter]=[16,16]>
    <div nz-col [nzSpan]="18">
      <span class="text-label">
        {{'lesson_name' | translate}}
        <span class="text-danger">*</span>
      </span>

      <input nz-input formControlName="name"
        [nzStatus]="(lessonForm.get('name')?.invalid && (lessonForm.get('name')?.touched || isSubmit)) ? 'error' : ''">

      <span class="text-danger"
        *ngIf="(lessonForm.get('name')?.touched || isSubmit)  && lessonForm.get('name')?.hasError('required')">
        {{'lesson_name' | translate}} {{'cannot_blank' | translate}}
      </span>
    </div>

    <div nz-col [nzSpan]="18">
      <span class="text-label">
        {{'duration' | translate}}
        <span class="text-danger">*</span>
      </span>

      <nz-range-picker
        [nzStatus]="(lessonForm.get('duration')?.invalid && (lessonForm.get('duration')?.touched || isSubmit)) ? 'error' : ''"
        formControlName="duration" [nzShowTime]="{ nzFormat: 'HH:mm' }" nzFormat="dd/MM/YYYY HH:mm"></nz-range-picker>

      <span class="text-danger"
        *ngIf="(lessonForm.get('duration')?.touched || isSubmit)  && lessonForm.get('duration')?.hasError('required')">
        {{'duration' | translate}} {{'cannot_blank' | translate}}
      </span>
    </div>

    <div nz-col [nzSpan]="24" class="btn-group">
      <button nz-button (click)="closeModal()">
        {{'cancel' | translate}}
      </button>
      <button nz-button nzType="primary" [nzLoading]="isLoading" (click)="addLesson()">
        {{'add_new' | translate}}
      </button>
    </div>
  </div>
</form>