<div class="title-page">
  {{isCreate? 'Tạo mới tin tức' : 'Chỉnh sửa tin tức'}}
</div>
<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="20">
    <form [formGroup]="newsForm">
      <div nz-row [nzGutter]="[16, 16]">
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <span class="text-label">
            Tên tin tức
            <span class="text-danger">*</span>
          </span>

          <input
            nz-input autofocus formControlName="title"
            [nzStatus]="(newsForm.get('title')?.invalid &&
                        (newsForm.get('title')?.touched || isSubmit)) ? 'error' : ''">
          <span
            class="text-danger"
            *ngIf="(newsForm.get('title')?.touched || isSubmit)  &&
                    newsForm.get('title')?.hasError('required')">
              Tên tin tức không được để trống
          </span>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <span class="text-label">
            Từ khóa
          </span>

          <input nz-input placeholder="Nhập từ khóa" formControlName="keyWords">
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <span class="text-label">
            {{ 'status' | translate }}
          </span>

          <nz-switch formControlName="status" style="display: block"></nz-switch>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <span class="text-label">
            Ảnh đại diện
          </span>

          <div style="display: flex">
            <input nz-input formControlName="avatarImagePath">
            <button nz-button nzType="primary" (click)="onSelectFile()">
              <span nz-icon nzType="upload"></span>
            </button>
          </div>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <span class="text-label">
            Trang hiển thị
          </span>

          <nz-select nzMode="multiple" formControlName="showBys" style="display: block">
            <nz-option [nzValue]="1" [nzLabel]="'Trang chủ'"></nz-option>
            <nz-option [nzValue]="2" [nzLabel]="'E-Learning'"></nz-option>
          </nz-select>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <span class="text-label">
            Danh mục
          </span>

          <nz-select nzMode="multiple" formControlName="categories">
            <nz-option
              *ngFor="let category of categoryList"
              [nzValue]="category.id"
              [nzLabel]="category.title">
            </nz-option>
          </nz-select>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24">
          <span class="text-label">
            Mô tả
            <span class="text-danger">*</span>
          </span>

          <textarea
            nz-input formControlName="description"
            placeholder="Mô tả ngắn"
            [nzAutosize]="{ minRows: 3}"
            [nzStatus]="(newsForm.get('description')?.invalid &&
                        (newsForm.get('description')?.touched || isSubmit)) ? 'error' : ''"
          ></textarea>

          <span
            class="text-danger"
            *ngIf="(newsForm.get('description')?.touched || isSubmit)  &&
                    newsForm.get('description')?.hasError('required')"
          >Mô tả không được để trống</span>

          <span
            class="text-danger"
            *ngIf="(newsForm.get('description')?.touched || isSubmit)  &&
                    newsForm.get('description')?.hasError('maxlength')"
          >Mô tả không thể nhiều hơn 500 ký tự</span>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24">
          <span class="text-label">
            Nội dung
            <span class="text-danger">*</span>
          </span>

          <ckeditor
            name="ckeditor_text"
            formControlName="content"
            editorUrl="https://cdn.ckeditor.com/4.14.0/full/ckeditor.js"
            [config]="ckEditorConfig"
          ></ckeditor>
        </div>

      </div>
    </form>
  </div>

  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4">
    <div class="btn-panel">
      <button class="btn primary" nz-button (click)="edit()">
        {{isCreate? 'Tạo mới' : 'Lưu'}}
      </button>
      <button class="btn" nz-button (click)="navigateBack()">Hủy</button>
    </div>
  </div>
</div>


