<div class="title-page">
  <span *ngIf="isCreate">
    {{'add_new'|translate}}
  </span>
  <span *ngIf="!isCreate">
    {{'modify'|translate}}
  </span>
  <span>
    {{'post'|translate}}
  </span>
</div>
<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="20">
    <form [formGroup]="newsForm">
      <div nz-row [nzGutter]="[16, 16]">
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <div class="d-flex justify-content-between align-items-center">
            <span class="text-label">
              {{'title' | translate}}
              <span class="text-danger">*</span>
            </span>
            <span nzTooltipTitle="{{'guide_news_title' | translate}}" nzTooltipPlacement="top" nz-tooltip nz-icon nzType="question-circle" nzTheme="outline"></span>
          </div>

          <input nz-input autofocus formControlName="title" [nzStatus]="(newsForm.get('title')?.invalid &&
                        (newsForm.get('title')?.touched || isSubmit)) ? 'error' : ''">
          <span class="text-danger" *ngIf="(newsForm.get('title')?.touched || isSubmit)  &&
                    newsForm.get('title')?.hasError('required')">
            {{'title' | translate}} {{'cannot_blank' | translate}}
          </span>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <div class="d-flex justify-content-between align-items-center">
            <span class="text-label">
              {{'keywords' | translate}}
            </span>
            <span nzTooltipTitle="{{'guide_news_keywords' | translate}}" nzTooltipPlacement="top" nz-tooltip nz-icon nzType="question-circle" nzTheme="outline"></span>
          </div>

          <input nz-input placeholder="{{'enter' | translate}} {{'keywords' | translate}}" formControlName="keyWords">
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <div class="d-flex align-items-center">
            <span class="text-label" style="margin-right:.5rem">
              {{ 'status' | translate }}
            </span>
            <span nzTooltipTitle="{{'guide_news_status' | translate}}" nzTooltipPlacement="top" nz-tooltip nz-icon nzType="question-circle" nzTheme="outline"></span>
          </div>

          <nz-switch formControlName="status" style="display: block"></nz-switch>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <span class="text-label">
            {{'avatar' | translate}}
          </span>

          <div style="display: flex">
            <input nz-input formControlName="avatarImagePath">
            <button nz-button nzType="primary" (click)="onSelectFile()">
              <span nz-icon nzType="upload"></span>
            </button>
          </div>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <div class="d-flex justify-content-between align-items-center">
            <span class="text-label">
              {{'display_page' | translate}}
              <span class="text-danger">*</span>
            </span>
            <span nzTooltipTitle="{{'guide_news_display_page' | translate}}" nzTooltipPlacement="top" nz-tooltip nz-icon nzType="question-circle" nzTheme="outline"></span>
          </div>

          <nz-select nzMode="multiple" formControlName="showBys" style="display: block">
            <nz-option [nzValue]="1" [nzLabel]="'homepage' | translate"></nz-option>
            <nz-option [nzValue]="2" [nzLabel]="'E-Learning'"></nz-option>
            <nz-option [nzValue]="3" [nzLabel]="'forum' | translate"></nz-option>
          </nz-select>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
          <span class="text-label">
            {{'category' | translate}}
          </span>

          <nz-select nzMode="multiple" formControlName="categories">
            <nz-option *ngFor="let category of categoryList" [nzValue]="category.id" [nzLabel]="category.title">
            </nz-option>
          </nz-select>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24">
          <div class="d-flex align-items-center">
            <span class="text-label" style="margin-right:.5rem">
              {{'description' | translate}}
              <span class="text-danger">*</span>
            </span>
            <span nzTooltipTitle="{{'guide_news_description' | translate}}" nzTooltipPlacement="top" nz-tooltip nz-icon nzType="question-circle" nzTheme="outline"></span>
          </div>
          <textarea nz-input formControlName="description" placeholder="{{'description' | translate}}" [nzAutosize]="{ minRows: 3}" [nzStatus]="(newsForm.get('description')?.invalid &&
                        (newsForm.get('description')?.touched || isSubmit)) ? 'error' : ''"></textarea>

          <span class="text-danger" *ngIf="(newsForm.get('description')?.touched || isSubmit)  &&
                    newsForm.get('description')?.hasError('required')">
            {{'description' | translate}} {{'cannot_blank' | translate }}
          </span>

          <span class="text-danger" *ngIf="(newsForm.get('description')?.touched || isSubmit)  &&
                    newsForm.get('description')?.hasError('maxlength')">
            {{'description' | translate}} {{'max_500_chars' | translate}}
          </span>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24">
          <div class="d-flex align-items-center">
            <span class="text-label" style="margin-right:.5rem">
              {{'content' | translate}}
              <span class="text-danger">*</span>
            </span>
            <ng-template #tooltipNewsContent>
              {{'guide_news_content' | translate}}
              <br /> <strong>{{'caution' | translate}}:</strong> {{'guide_ckeditor' | translate}}
              <br /> - {{'guide_ckeditor_step_1' | translate}}
              <br /> - {{'guide_ckeditor_step_2' | translate}}
              <br /> - {{'guide_ckeditor_step_3' | translate}}
            </ng-template>
            <span [nzTooltipTitle]="tooltipNewsContent" nzTooltipPlacement="top" nz-tooltip nz-icon nzType="question-circle" nzTheme="outline"></span>
          </div>

          <ckeditor name="ckeditor_text" formControlName="content" editorUrl="https://cdn.ckeditor.com/4.14.0/full/ckeditor.js" [config]="ckEditorConfig"></ckeditor>
        </div>

      </div>
    </form>
  </div>

  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4">
    <div class="btn-panel">
      <button class="btn primary" nz-button (click)="edit()">
        <span *ngIf="isCreate">
          {{'add_new'|translate}}
        </span>
        <span *ngIf="!isCreate">
          {{'save'|translate}}
        </span>
      </button>
      <button class="btn" nz-button (click)="navigateBack()">
        {{'cancel'|translate}}
      </button>
    </div>
  </div>
</div>