<nz-tree-view [nzTreeControl]="treeControl" [nzDataSource]="dataSource">
  <nz-tree-node *nzTreeNodeDef="let node" nzTreeNodePadding>
    <nz-tree-node-toggle nzTreeNodeNoopToggle></nz-tree-node-toggle>
    <nz-tree-node-option
      [nzSelected]="selectListSelection.isSelected(node)"
      (nzClick)="selectListSelection.toggle(node)"
    >
    <span class="node">
      {{ node.name }}
      <span>
        <i class="icon-node icon-add"
           nz-icon
           nzType="plus"
           nzTheme="outline"
        ></i>
        <i class="icon-node icon-delete"
           nz-icon
           nzType="delete"
           nzTheme="outline"
        ></i>
      </span>
    </span>
    </nz-tree-node-option>
  </nz-tree-node>

  <nz-tree-node *nzTreeNodeDef="let node; when: hasChild" nzTreeNodePadding>
    <nz-tree-node-toggle>
      <span nz-icon nzType="caret-down" nzTreeNodeToggleRotateIcon></span>
    </nz-tree-node-toggle>
    <nz-tree-node-option
      [nzSelected]="selectListSelection.isSelected(node)"
      (nzClick)="selectListSelection.toggle(node)"
    >
      <span class="node">
        {{ node.name }}
        <span>
          <i class="icon-node icon-add"
             nz-icon
             nzType="plus"
             nzTheme="outline"
          ></i>
          <i class="icon-node icon-delete"
             nz-icon
             nzType="delete"
             nzTheme="outline"
          ></i>
        </span>
      </span>
    </nz-tree-node-option>
  </nz-tree-node>
</nz-tree-view>

<button nz-button nzType="primary" (click)="addNavigation()">
  <span nz-icon nzType="plus"></span>
</button>
