<div class="title-page">
  {{ 'website_settings' | translate }}
</div>

<div>
  <ng-container *ngIf="(webConfig$ | async) as webConfig">
    <app-table
      [rows]="webConfig.rows"
      [page]="webConfig.page"
      [pageSize]="webConfig.pageSize"
      [pageTotal]="webConfig.rowTotal"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column header="{{ 'no' | translate }}" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="{{ 'organization' | translate }}" key="organizationName" [width]="'200px'"></table-column>
      <table-column header="{{ 'organization_email' | translate }}" key="organizationEmail" [width]="'200px'"></table-column>
      <table-column header="{{ 'organization_phone' | translate }}" key="organizationPhoneNumber" [width]="'200px'"></table-column>
      <table-column header="{{ 'organization_representative' | translate }}" key="representativeName" [width]="'200px'"></table-column>

      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          {{ 'actions' | translate }}
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="edit(data)">{{ 'settings' | translate }}</span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>
