<div class="title-page">
  <span *ngIf="isCreate">
    {{'add_new'|translate}}
  </span>
  <span *ngIf="!isCreate">
    {{'modify'|translate}}
  </span>
  <span>
    {{'community' | translate}}
  </span>
</div>

<div nz-row>
  <div nz-col [nzSpan]="20">
    <form [formGroup]="subForumForm">
      <div nz-row [nzGutter]=[16,16]>
        <div nz-col [nzSpan]="8">
          <span class="text-label">
            {{'community_name' | translate }}
            <span class="text-danger">*</span>
          </span>
          <input nz-input autofocus formControlName="name" [nzStatus]="(subForumForm.get('name')?.invalid &&
                             (subForumForm.get('name')?.touched || isSubmit)) ? 'error' : ''">

          <span class="text-danger" *ngIf="(subForumForm.get('name')?.touched || isSubmit)  &&
                        subForumForm.get('name')?.hasError('required')">
            {{'community_name' | translate }} {{'cannot_blank' | translate}}!
          </span>
        </div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            {{'category' | translate }}
            <span class="text-danger">*</span>
          </span>

          <nz-select class="width-100" formControlName="communityCategoryId" [nzStatus]="(subForumForm.get('communityCategoryId')?.invalid &&
                                 (subForumForm.get('communityCategoryId')?.touched || isSubmit)) ?
                                 'error' : ''">
            <nz-option *ngFor="let category of categoryData" [nzValue]="category.id" [nzLabel]="category.name"></nz-option>
          </nz-select>

          <span class="text-danger" *ngIf="(subForumForm.get('communityCategoryId')?.touched || isSubmit)  &&
                        subForumForm.get('communityCategoryId')?.hasError('required')">{{'category' | translate }} {{'cannot_blank' | translate}}!</span>
        </div>

        <div nz-col [nzSpan]="2">
          <div class="text-label">
            {{'status' | translate }}
          </div>
          <nz-switch formControlName="status">
          </nz-switch>
        </div>

        <div nz-col [nzSpan]="2">
          <div class="text-label">
            {{'pinned' | translate }}
          </div>
          <nz-switch formControlName="pined">
          </nz-switch>
        </div>

        <div nz-col [nzSpan]="2">
          <div class="text-label">
            {{'featured' | translate }}
          </div>
          <nz-switch formControlName="isFeature">
          </nz-switch>
        </div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            {{'banner_link' | translate }}
          </span>

          <div class="select-url">
            <input nz-input [value]="subForumForm.get('banner')?.value" formControlName="banner" [nzStatus]="(subForumForm.get('banner')?.invalid &&
                               (subForumForm.get('banner')?.touched || isSubmit)) ?
                               'error' : ''">

            <button nz-button nzType="primary" (click)="onSelectFile('banner')">
              <span nz-icon nzType="upload"></span>
            </button>
          </div>

          <span class="text-danger" *ngIf="(subForumForm.get('banner')?.touched || isSubmit)  &&
                        subForumForm.get('banner')?.hasError('required')">{{'banner_link' | translate }} {{'cannot_blank' | translate}}!</span>
        </div>

        <div nz-col [nzSpan]="8">
          <span class="text-label">
            {{'avatar_link' | translate }}
          </span>

          <div class="select-url">
            <input nz-input [value]="subForumForm.get('avatar')?.value" formControlName="avatar" [nzStatus]="(subForumForm.get('avatar')?.invalid &&
                               (subForumForm.get('avatar')?.touched || isSubmit)) ?
                               'error' : ''">

            <button nz-button nzType="primary" (click)="onSelectFile('avatar')">
              <span nz-icon nzType="upload"></span>
            </button>
          </div>

          <span class="text-danger" *ngIf="(subForumForm.get('avatar')?.touched || isSubmit)  &&
                        subForumForm.get('avatar')?.hasError('required')">{{'avatar_link' | translate }} {{'cannot_blank' | translate}}!</span>
        </div>

        <div nz-col [nzSpan]="16">
          <div class="text-label">
            {{'short_description' | translate}}
          </div>
          <textarea nz-input placeholder="Mô tả ngắn" [nzAutosize]="{ minRows: 3}" formControlName="description"></textarea>
        </div>

        <div nz-col [nzSpan]="8"></div>

        <div nz-col [nzSpan]="8">
          <div class="text-label">Link facebook</div>
          <input nz-input formControlName="facebookLink">
        </div>

        <div nz-col [nzSpan]="8">
          <div class="text-label">Link instagram</div>
          <input nz-input formControlName="instagramLink">
        </div>

        <div nz-col [nzSpan]="8"></div>

        <div nz-col [nzSpan]="8">
          <div class="text-label">Link zalo</div>
          <input nz-input formControlName="zaloLink">
        </div>

        <div nz-col [nzSpan]="8">
          <div class="text-label">Link twitter</div>
          <input nz-input formControlName="twitterLink">
        </div>

        <div nz-col [nzSpan]="16">
          <span class="text-label">
            {{'participation' | translate }}
          </span>

          <div class="allow-free">
            <span>
              {{'allow_free_participation' | translate}}
            </span>
            <nz-switch [(ngModel)]="isFreeAllowed" [ngModelOptions]="{standalone: true}"></nz-switch>
          </div>

          <nz-checkbox-wrapper class="width-100 pd-t-10"
                               (nzOnChange)="onValueChange($event, 'policy')"
                               *ngIf="!isFreeAllowed"
          >
            <div nz-row>
              <div nz-col nzSpan="8" *ngFor="let user of listUserPolicyLevel">
                <label nz-checkbox [nzValue]="user.id">{{user.name}}</label>
              </div>
            </div>
          </nz-checkbox-wrapper>

          <nz-checkbox-wrapper class="width-100 pd-t-10"
                               (nzOnChange)="onValueChange($event, 'role')"
                               *ngIf="!isFreeAllowed">
            <div nz-row>
              <div nz-col nzSpan="8" *ngFor="let user of listUserRole">
                <label nz-checkbox [nzValue]="user.value">{{user.name}}</label>
              </div>
            </div>
          </nz-checkbox-wrapper>
        </div>

        <div nz-col [nzSpan]="16">
          <span class="text-label">
            {{'specify_admin' | translate }}
          </span>

          <nz-select
            nzShowSearch
            nzServerSearch
            nzPlaceHolder="input search text"
            formControlName="adminIds"
            [nzShowArrow]="false"
            nzMode="multiple"
            [nzFilterOption]="nzFilterOption"
            (nzOnSearch)="searchAdmin($event)"
          >
            <nz-option *ngFor="let op of listOpAdmin"
                       [nzValue]="op.id"
                       [nzLabel]="op.name + ' - ' + op.email + ' - ' + op.code"
            ></nz-option>
          </nz-select>
        </div>
      </div>
    </form>
  </div>

  <div nz-col [nzSpan]="4">
    <div class="btn-panel">
      <button class="btn primary" nz-button [nzLoading]="loading" (click)="edit()">
        {{'save'|translate}}
      </button>
      <button class="btn" nz-button (click)="navigateBack()">
        {{'cancel'|translate}}
      </button>
    </div>
  </div>
</div>
