<div class="title-page">
  {{'check_in_list' | translate}}
</div>

<div class="header-btn">
  <ng-container *ngIf="(listAttendance$ | async) as attend">
    <nz-collapse class="filter-form" [class.expand]="isExpand">
      <nz-collapse-panel [nzHeader]="'filter' | translate"  (nzActiveChange)="setExpand($event)">
        <app-filter-form
          [filterData]="listOfColumn" (getFilterData)="handleFilterForm($event)"
          [isExportExcel]="true" (getExcelData)="handleExportExcel($event)"></app-filter-form>
      </nz-collapse-panel>
    </nz-collapse>

    <app-table
      [rows]="attend.rows"
      [page]="attend.page"
      [pageSize]="attend.pageSize"
      [pageTotal]="attend.rowTotal"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <!--      <table-column [dataType]="COL_DATA_TYPE.SELECTION" fixColumn="left"></table-column>-->
      <table-column header="{{ 'no' | translate }}" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="{{ 'time' | translate }}" key="attendanceTime" [width]="'200px'"></table-column>
      <table-column header="{{ 'learner_name' | translate }}" key="studentName" [width]="'200px'"></table-column>
      <table-column header="{{ 'caring_by' | translate }}" key="caregiverName" [width]="'200px'"></table-column>
      <table-column header="{{ 'phone_number' | translate }}" key="studentPhoneNumber" [width]="'200px'"></table-column>
      <table-column header="Email" key="studentEmail" [width]="'200px'"></table-column>
      <table-column header="{{ 'phone_number' | translate }}" key="numOfAttendance" [width]="'200px'"></table-column>
      <table-column header="{{ 'class' | translate }}" key="className" [width]="'200px'"></table-column>
      <table-column header="{{ 'session_name' | translate }}" key="lessonName" [width]="'200px'"></table-column>
      <table-column header="{{ 'course_name' | translate }}" key="courseName" [width]="'200px'"></table-column>
      <table-column header="{{ 'teacher_name' | translate }}" key="teacherName" [width]="'200px'"></table-column>
      <table-column header="{{ 'organization' | translate }}" key="organizationName" [width]="'200px'"></table-column>
    </app-table>
  </ng-container>
</div>

