<div class="title-page">
  Danh sách Email smtp
</div>

<div class="header-btn">
  <ng-container *ngIf="(emailAccount$ | async) as emailAccount">

    <button nz-button class="add-btn primary" (click)="create()">Thêm mới</button>

    <app-table
      [rows]="emailAccount.rows"
      [page]="emailAccount.page"
      [pageSize]="emailAccount.pageSize"
      [pageTotal]="emailAccount.rowTotal"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column header="STT" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="Tên" key="name" [width]="'180px'"></table-column>
      <table-column header="Email" key="addressEmail" [width]="'180px'"></table-column>
      <table-column header="Chủ sở hữu" key="teacherName" [width]="'180px'"></table-column>
      <table-column header="Tên tổ chức" key="organizationName" [width]="'200px'"></table-column>

      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          Chức năng
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="edit(data)"
                nz-tooltip nzTooltipTitle="Chỉnh sửa Email smtp">
            <span nz-icon nzType="edit" nzTheme="outline" class="custom-icon"></span>
          </span>

          <span class="custom-action" (click)="delete(data)"
                nz-tooltip nzTooltipTitle="Xóa Email smtp">
            <span nz-icon nzType="delete" nzTheme="outline" class="custom-icon delete"></span>
          </span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>

