<div class="title-page">
  {{ 'smtp_email_list' | translate }}
</div>

<div class="header-btn">
  <ng-container *ngIf="(emailAccount$ | async) as emailAccount">

    <button nz-button class="add-btn primary" (click)="create()">{{ 'add_new' | translate }}</button>

    <app-table
      [rows]="emailAccount.rows"
      [page]="emailAccount.page"
      [pageSize]="emailAccount.pageSize"
      [pageTotal]="emailAccount.rowTotal"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column header="{{ 'no' | translate }}" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="{{ 'name' | translate }}" key="name" [width]="'180px'"></table-column>
      <table-column header="Email" key="addressEmail" [width]="'180px'"></table-column>
      <table-column header="{{ 'owner' | translate }}" key="teacherName" [width]="'180px'"></table-column>
      <table-column header="{{ 'organization' | translate }}" key="organizationName" [width]="'200px'"></table-column>

      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          {{ 'actions' | translate }}
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="edit(data)"
                nz-tooltip nzTooltipTitle="{{'edit' | translate}}">
            <span nz-icon nzType="edit" nzTheme="outline" class="custom-icon"></span>
          </span>

          <span class="custom-action" (click)="delete(data)"
                nz-tooltip nzTooltipTitle="{{ 'remove' | translate }}">
            <span nz-icon nzType="delete" nzTheme="outline" class="custom-icon delete"></span>
          </span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>

