<div class="title-page">
  {{ 'organizations' | translate }}
</div>


<div class="header-btn">
  <button nz-button class="add-btn primary" (click)="createOrg()">{{ 'add_new' | translate }}</button>
</div>

<app-table [rows]="rowData">
  <table-column header="{{ 'no' | translate }}" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
  <table-column header="{{ 'organization_name' | translate }}" key="name" [width]="'200px'"></table-column>
  <table-column header="{{ 'admin' | translate}}" key="userName" [width]="'200px'"></table-column>
  <table-column header="Website" key="website" [width]="'200px'"></table-column>

  <table-column [width]="'180px'" fixColumn="right" >
    <ng-template appHeader>
      {{ 'actions' | translate }}
    </ng-template>

    <ng-template appCell let-data>
      <span class="custom-action">
        <span
          nzTooltipTitle="{{ 'settings' | translate }}" nzTooltipPlacement="top" nz-tooltip
          nz-icon nzType="setting" nzTheme="outline" (click)="edit(data)"></span>
        </span>

      <span class="custom-action">
        <span
          nzTooltipTitle="{{ 'permission' | translate }}" nzTooltipPlacement="top" nz-tooltip
          nz-icon nzType="tool" nzTheme="outline" (click)="updatePermission(data)"></span>
      </span>

      <span class="custom-action">
        <span
          nzTooltipTitle="{{ 'withdrawal_settings' | translate }}" nzTooltipPlacement="top" nz-tooltip
          nz-icon nzType="dollar" nzTheme="outline" (click)="withdrawConfig()"></span>
      </span>

<!--      <span class="custom-action">-->
<!--        <span-->
<!--          nzTooltipTitle="{{ 'remove' | translate }}" nzTooltipPlacement="top" nz-tooltip-->
<!--          nz-icon nzType="delete" nzTheme="outline" class="delete"></span>-->
<!--      </span>-->
    </ng-template>
  </table-column>
</app-table>
