<div class="title-page">
  {{ 'point_contest_list' | translate }}
</div>

<div class="header-btn">
  <button nz-button class="add-btn primary" (click)="create()">
    {{'add_new' | translate}}
  </button>
  <ng-container *ngIf="(loyalty$ | async) as loyalty">

    <app-table
      [rows]="loyalty.rows"
      [page]="loyalty.page"
      [pageSize]="loyalty.pageSize"
      [pageTotal]="loyalty.rowTotal"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column header="{{ 'no' | translate }}" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="{{ 'contest_name' | translate }}" key="loyaltyName" [width]="'200px'"></table-column>
      <table-column header="{{ 'start_date' | translate }}" key="dateStart" [dataType]="COL_DATA_TYPE.DATE" [width]="'150px'"></table-column>
      <table-column header="{{ 'end_date' | translate }}" key="dateEnd" [dataType]="COL_DATA_TYPE.DATE" [width]="'150px'"></table-column>
      <table-column header="{{ 'organization' | translate }}" key="organizationName" [width]="'200px'"></table-column>
      <table-column header="{{ 'teacher_name' | translate }}" key="speakerName" [width]="'200px'"></table-column>
      <table-column header="{{ 'course_name' | translate }}" key="courseName" [width]="'200px'"></table-column>
      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          {{ 'actions' | translate }}
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="edit(data)">{{ 'settings' | translate }}</span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>


