<div class="title-page">
  {{ 'payment_methods' | translate }}
</div>

<div class="header-btn">
  <ng-container *ngIf="(methodList$ | async) as method">
    <button nz-button class="add-btn primary" (click)="create()">{{ 'add_new' | translate }}</button>
    <button nz-button class="add-btn" (click)="delete()">{{ 'remove' | translate }}</button>

    <app-table
      [rows]="method.rows"
      [page]="method.page"
      [pageSize]="method.pageSize"
      [pageTotal]="method.rowTotal"
      [clientPagination]="false"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
      (onItemSelection)="getItemSelection($event)"
    >
      <table-column [dataType]="COL_DATA_TYPE.SELECTION" fixColumn="left"></table-column>
      <table-column header="{{ 'no' | translate }}" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="{{ 'payment_method' | translate }}" key="type" [width]="'200px'">
        <ng-template appCell let-data>
          <span *ngIf="data.type === 1">Chuyển khoản</span>
          <span *ngIf="data.type === 2">VnPay</span>
        </ng-template>
      </table-column>
      <table-column header="{{ 'bank' | translate }}" key="bankName" [width]="'200px'"></table-column>
      <table-column header="{{ 'account_number' | translate }}" key="bankNumber" [width]="'200px'"></table-column>
      <table-column header="{{ 'account_holder' | translate }}" key="bankUserName" [width]="'200px'"></table-column>
      <table-column header="{{ 'organization' | translate }}" key="organizationName" [width]="'200px'"></table-column>
      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          {{ 'actions' | translate }}
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="edit(data)"
                nz-tooltip nzTooltipTitle="{{ 'settings' | translate }}">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
          </span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>
