<div class="title-page">
  Danh sách ấn phẩm
</div>

<div class="header-btn">
  <button nz-button class="add-btn primary" (click)="create()">Tạo mới</button>
  <button nz-button class="add-btn primary" (click)="softDelete()">Xóa</button>
  <ng-container *ngIf="(publicationPage$ | async) as publicationPage">
    <app-table
      [rows]="publicationPage.rows"
      [page]="publicationPage.page"
      [pageSize]="publicationPage.pageSize"
      [pageTotal]="publicationPage.rowTotal"
      [clientPagination]="false"
      (onItemSelection)="getItemSelection($event)"
      (pageIndexChange)="page$.next($event)"
      (pageSizeChange)="pageSize$.next($event)"
      [loading]="loading"
    >
      <table-column [dataType]="COL_DATA_TYPE.SELECTION" fixColumn="left"></table-column>
      <table-column header="STT" key="id" [dataType]="COL_DATA_TYPE.INDEX" [width]="'80px'" fixColumn="left"></table-column>
      <table-column header="Ngày tạo" key="createdDate" [dataType]="COL_DATA_TYPE.DATE" [width]="'150px'"></table-column>
      <table-column header="Người tạo" key="ownerName" [width]="'200px'"></table-column>
      <table-column header="Tên ấn phẩm" key="name" [width]="'300px'"></table-column>
      <table-column header="Link ấn phẩm" key="slug" [width]="'200px'"></table-column>
      <table-column header="Kích thước" key="organizationName" [width]="'200px'"></table-column>
<!--      <table-column header="Trạng thái" key="status" [width]="'180px'">-->
<!--        <ng-template appCell let-data>-->
<!--          <span class="text-valid" *ngIf="data.status">Hiển thị</span>-->
<!--          <span class="text-invalid" *ngIf="!data.status">Không hiển thị</span>-->
<!--        </ng-template>-->
<!--      </table-column>-->

      <table-column [width]="'180px'" fixColumn="right" >
        <ng-template appHeader>
          Chức năng
        </ng-template>

        <ng-template appCell let-data>
          <span class="custom-action" (click)="copyLink(data)">Copy link</span>
        </ng-template>
      </table-column>
    </app-table>
  </ng-container>
</div>
